<link rel="stylesheet" href="/css/addUser/addUser.css">

<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <center><h5>Agrega un nuevo combo/Platillo</h5></center>
            <hr>
            <div class="card">
                <div class="card-body">
                    {{#each company}}
                    <form action="/fud/{{id}}/add-company-combo" method="POST" enctype="multipart/form-data" id="comboForm">
                    {{/each}}
                        {{>CEO/combo/from}}
                        <hr>
                        {{>CEO/combo/table}}
                        <div class="form-group">
                            <button class="btn btn-success btn-block" id="btn-send" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/manager/combo/fromCombo.js"></script>
<script>
    //this script is for not send the from when the user do make on button
    document.getElementById("comboForm").addEventListener("submit", function (event){
        if (event.submitter && event.submitter.id === "btn-send"){
            get_id_products_and_supplies();
        } else {
            event.preventDefault();
        }
    });
</script>