<br>
{{#each company}}
    <form action="/fud/{{id}}/add-company-supplies" method="POST" enctype="multipart/form-data">
        <center><h5><i class="fi-icon fi-ss-apple-whole"></i>Agregar nuevos insumo</h5></center>
        <hr>

        <div class="form-group" >
            <center>
                <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" id="imgEmployee" class="img-from-supplies_products">
            </center>
        </div>
        <div class="form-group">
            <center>
                <label for="inputImg" class="custom-file-upload">
                    <input type="file" name="image" accept="image/*" id="inputImg" style="display: none;">
                    <i class="fas fa-upload"></i> Subir imagen
                </label>
            </center>
        </div>        

        <div class="form-group">
            <input type="text" placeholder="Barcode" name="barcode" class="from-control" required maxlength="60" style="width: 100%;">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Nombre" name="name" class="from-control" required maxlength="60" style="width: 100%;">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Descripcion" name="description" class="from-control" style="width: 100%;">
        </div>
        <div class="form-group">
            <div class="form-check" name="">
                <input class="form-check-input" type="checkbox" id="invalidCheck2" name="inventory">
                <label class="form-check-label" for="invalidCheck2">
                    Usar inventario
                </label>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success btn-block" id="">Save</button>
    </form>
{{/each}}



<script src="/js/manager/addEmployee.js"></script>
<script src="/js/store/other.js"></script>
<script>
    const tabs = document.querySelectorAll('.tab_btn');
    const all_content = document.querySelectorAll('.content-sales');

    tabs.forEach((tab, index) => {
        tab.addEventListener('click', (e) => {
            tabs.forEach(tab => { tab.classList.remove('active') });
            tab.classList.add('active');

            var line = document.querySelector('.line');
            line.style.width = e.target.offsetWidth + "px";
            line.style.left = e.target.offsetLeft + "px";

            all_content.forEach(content => {
                content.classList.remove('active');
            })
            all_content[index].classList.add('active');
        })
    })
</script>
<script>
    async function edit_supplies(id_company,id_branch,id_supplies){
        //we will see if this products have a purchase amount, if not have a purchase amount we will to send to the user to that add this data
        window.location.href = `/fud/${id_company}/${id_branch}/${id_supplies}/edit-supplies-branch`;
    }

    async function edit_inventory(id_company,id_branch,id_supplies,img,barcode,nameDepartment,existence,purchaseAmount){
        //we will see if this products have a purchase amount, if not have a purchase amount we will to send to the user to that add this data
        if(purchaseAmount!=''){
            show_message_edit(id_supplies,id_company,id_branch,img,barcode,nameDepartment,existence,purchaseAmount);
        }else{
            window.location.href = `/fud/${id_company}/${id_branch}/${id_supplies}/edit-supplies-branch`;
        }     
    }
</script>