<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163624.png" alt=""
                        class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Basico ☁️</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $399.00/mes</s></label>
                    <h3>MXN $299.00/mes</h3>
                    <p class="card-text">
                        Este paquete está diseñado para dueños de restaurantes, gerentes y equipos administrativos que
                        buscan una solución avanzada para almacenar y gestionar información crucial de manera segura,
                        accesible y eficiente. 
                    </p>
                    <label for="" class="info-label">
                        ✔️ 300 Platillos/combos y 600 insumos
                        <br>
                        ✔️ 3,000 Clientes
                        <br>
                        ✔️ Guardar imagenes en la base de datos
                        <br>
                        ✔️ Crear departamentos para los platillos
                        <br>
                        ✔️ Crear cataegorias para los platillos
                        <br>
                        ✔️ 3 GB en la base de datos
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <form action="/fud/create-suscription-studio" method="POST">
                            <input type="hidden" name="price_id" value="price_1PX6GtRofynVwfKYAwzadm8z" />
                            <button id="checkout-and-portal-button" type="submit" class="btn btn-comprar">Comprar Ahora</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163675.png" alt=""
                        class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Premium ⭐</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $6,600.00/año</s></label>
                    <h3>MXN $5,500.00/año</h3>
                    <p class="card-text">
                        ¡Transforma la manera en que gestionas tu restaurante con nuestro Paquete Premium de
                        Almacenamiento en la Nube! Diseñado específicamente para las necesidades del sector
                        gastronómico, nuestro servicio ofrece una solución integral y segura para almacenar, acceder y
                        gestionar todos tus datos importantes desde cualquier lugar y en cualquier momento.
                    </p>
                    <label for="" class="info-label">
                        ✔️ Todo lo que incluye el paquete Business más
                        <br>
                        ✔️ 1,500 Platillos/combos y 3,000 insumos
                        <br>
                        ✔️ Clientes ilimitados
                        <br>
                        ✔️ 6 GB en la base de datos
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <form action="/fud/create-suscription-studio" method="POST">
                            <input type="hidden" name="price_id" value="price_1PQaYIRofynVwfKY6xhWqrS9" />
                            <button id="checkout-and-portal-button" type="submit" class="btn btn-comprar">Comprar Ahora</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163624.png" alt=""
                        class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Business 🔥</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $499/mes</s></label>
                    <h3>MXN $399/mes</h3>
                    <p class="card-text">
                        Este paquete está diseñado para dueños de restaurantes, gerentes y equipos administrativos que
                        buscan una solución avanzada para almacenar y gestionar información crucial de manera segura,
                        accesible y eficiente. 
                    </p>
                    <label for="" class="info-label">
                        ✔️ Todo lo que incluye el paquete Basico más
                        <br>
                        ✔️ 600 Platillos/combos y 1,200 insumos
                        <br>
                        ✔️ 6,000 Clientes
                        <br>
                        ✔️ 4 GB en la base de datos
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <form action="/fud/create-suscription-cloude" method="POST">
                            <input type="hidden" name="price_id" value="price_1PX6HTRofynVwfKYxxRFcDzt" />
                            <button id="checkout-and-portal-button" type="submit" class="btn btn-comprar">Comprar Ahora</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <center>
        <label for="">👁️
            Todas las sucursales que tengas en tu empresa se conectaran a esta base de datos para poder operar y
            conectarse con los servicios de la nube.
            <br>
            Suponiendo que tienes 5 restaurantes, cada sucursal se conectarab bajo la misma base de datos y compartiran todos los beneficios.
        </label>
    </center>
    <br>
</div>