<div class="container mt-5">
    <div class="row">

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/2727/2727313.png" alt="" class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Basico ☁️</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $499/mes</s></label>
                    <h3>MXN $0.00/mes</h3>
                    <p class="card-text">
                        Descubre nuestro sistema de punto de venta para restaurantes: intuitivo, eficiente y totalmente
                        personalizable. Gestiona pedidos, inventario y pagos con facilidad, potenciando la experiencia
                        del cliente y la productividad del equipo.
                    </p>
                    <label for="" class="info-label">
                        ✔️ Compatible con tu base de datos
                        <br>
                        ✔️ Gestion de inventario
                        <br>
                        ✔️ Gestion de ventas
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar" onclick="nextWeb('signup')">Obtener Ahora</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163624.png" alt=""
                        class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Premium ⭐</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $599/mes</s></label>
                    <h3>MXN $0.00/mes</h3>
                    <p class="card-text">
                        Tienes acceso gratuito a la plataforma Füd Technology para usar el sistema POS de Füd y
                        comprobar que es lo que tu negocio necesita. Haz crecer tu negocio con Füd.
                    </p>
                    <br>
                    <label for="" class="info-label">
                        ✔️ 25 Platillos/combos y 50 insumos
                        <br>
                        ✔️ 1 Cliente
                        <br>
                        ❌ Guardar imagenes en la base de datos
                        <br>
                        ❌ No crear departamentos para los platillos
                        <br>
                        ❌ No crear cataegorias para los platillos
                        <br>
                        ❌ No almacena las ventas
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar" onclick="nextWeb('signup')">Obtener Ahora </button>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="https://sellexpos.com/static/img/icon512x512.png" alt="" class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Business 🔥</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $299/mes</s></label>
                    <h3>MXN $0.00/mes</h3>
                    <p class="card-text">
                        Esto es para una empresa con una unica sucursal. 
                        Füd proporciona este paquete para pequeños negocios que estan empezando en el mundo gastronomico. 
                    </p>
                    <br>
                    <label for="" class="info-label">
                        ✔️ 1 Empleado
                        <br>
                        ✔️ 1 Terminal
                        <br>
                        ❌ 0 Provedores
                        <br>
                        ❌ Graficos y Reportes
                        <br>
                        ❌ Gestion de empleados
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar" onclick="nextWeb('signup')">Obtener Ahora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <center>
        <label for="">👁️
            Füd Technology se preocupa por tu negocio y te proporciona lo necesario para que inicies tu emprendimiento con el mejor equipo de todos, fácil y rápido.
            <br>
            Al momento de crear tu cuenta, se te otorgarán estas membresías para que puedas iniciar en el mundo gastronómico.
            <br>
            ¡Mucha suerte! ❤️
            <br>
        </label>
    </center>
    <br>
</div>
