    <style>
        .discount-icon {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 50%;
            background-color: var(--color-company);;
            color: #fff;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            right: -50%;
        }
        .discount-icon:before {
            content: '30%';
            display: block;
        }

        .discount-icon-2 {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 50%;
            background-color: var(--color-company);
            color: #fff;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            right: -50%;
        }
        .discount-icon-2:before {
            content: '19%';
            display: block;
        }
        .discount-text {
            font-size: 0.7em;
            margin-top: 5px;
        }
    </style>
<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/227/227390.png" alt="" class="icon-product-price">
                <div class="discount-icon-2">
                    <div class="discount-text">Descuento</div>
                </div>
                <br>
                <h6 class="fud-name-pack-title">Füd Mini 🍽️</h6>
                <h3 class="fud-pack-title fud-mini-title"><b>MXN $399/mes</b></h3>
                <p class="card-text">
                    ¡La solución perfecta para pequeños establecimientos! Con Füd Mini, tendrás todo lo que
                    necesitas para gestionar tu restaurante de manera eficiente y sin complicaciones. Ideal para
                    cafeterías, food trucks y pequeños locales que buscan una herramienta sencilla y poderosa.
                    Simplifica tus operaciones y mejora la experiencia de tus clientes con Füd Mini.
                    <br>
                    <hr>
                <table>
                    <tr>
                        <td>
                            ✔️ Base de datos <b>Basico ☁️</b>
                        </td>
                        <td>
                            <div class="database-info">3 GB</div>
                        </td>
                        <td class="price-table-fud-one">$3,588/año</td>
                    </tr>
                    <tr>
                        <td>✔️ Franquicia <b>Füd Cloud ☁️</b></td>
                        <td></td>
                        <td class="price-table-fud-one">$2,388/año</td>
                    </tr>
                    <tr>
                        <td>✔️ <b>PUNTO DE VENTA GRATIS 😍</b></td>
                        <td></td>
                        <td class="price-table-fud-one">$0/año</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>____________</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="price-table-fud-one"><span class="tachado">$5,976/año</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="price-table-fud-one"><b>$4,788/año</b></td>
                    </tr>
                </table>
                </p>
                <label for="" class="info-label">
                    <hr>
                    <i class="fi fi-ss-receipt"></i> Ventas
                    <br>
                    ✔️ Administracion de Menú
                    <br>
                    ✔️ Informes y Analisis
                    <br>
                    ✔️ Impresion de Tikcets
                    <br>
                    ✔️ Seguimiento de ventas y estadísticas desde tu smartphone
                    <br>
                    ✔️ Gestion de tus productos y tus gastos
                    <br>
                    ✔️ Descuentos sobre ventas
                    <br>
                    ✔️ Movimientos de caja
                    <br>
                    ✔️ Asignación de clientes sobre ventas
                    <br>
                    ✔️ Notificaciones por falta de stock
                    <br>
                    ✔️ Restricciones para vender sin disponibilidad
                    <br>
                    <hr>
                    <i class="fi fi-ss-hamburger-soda"></i> Productos
                    <br>
                    ✔️ Modificadores y adicionales de productos
                    <br>
                    ✔️ Productos favoritos
                    <br>
                    <hr>
                    <i class="fi fi-sr-usd-circle"></i> Gastos
                    <br>
                    ✔️ Diferentes listas de precios
                    <br>
                    ✔️ Calculo automático de costos
                    <br>
                    ✔️ Actualización automática del inventario
                    <br>
                    <hr>
                    <i class="fi fi-sr-users"></i> Clientes
                    <br>
                    ✔️ Base de datos de clientes
                    <br>
                    ✔️ Importación masiva de datos
                    <br>
                    ✔️ Cuentas corrientes de clientes
                    <br>
                    <hr>
                    <i class="fi fi-ss-truck-side"></i> Proveedores
                    <br>
                    ✔️ Base de datos de proveedores
                    <br>
                    ✔️ Cuentas corrientes de proveedores
                    <br>
                    <hr>
                    <i class="fi fi-sr-hat-chef"></i> Empleados
                    <br>
                    ✔️ Crear Empleados
                    <br>
                    ✔️ Roles de Empleados
                    <br>
                    ✔️ Departamentos de Empleados
                    <br><br>
                </label>
                <a class="info-link">Más información</a>
                <hr>
                <div class="d-flex justify-content-end">
                    <form action="/fud/create-suscription-fud-pack" method="POST">
                        <input type="hidden" name="price_id" value="price_1PX68wRofynVwfKYDo3v4jJP" />
                        <input type="hidden" name="pack_database" value="1" />
                        <input type="hidden" name="pack_branch" value="1" />
                        <button id="checkout-and-portal-button" type="submit" class="btn btn-comprar">Comprar
                            Füd
                            Mini</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4">
            <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/9004/9004911.png" alt="" class="icon-product-price">
                <div class="discount-icon">
                    <div class="discount-text">Descuento</div>
                </div>
                <br>
                <h6 class="fud-name-pack-title">Füd Pro 🤩</h6>
                <h3 class="fud-pack-title fud-pro-title"><b>MXN $559/mes</b></h3>
                <p class="card-text">
                    ¡La solución definitiva para grandes restaurantes y cadenas! Füd Pro está diseñado para
                    aquellos que necesitan una gestión integral y eficiente de todas las operaciones de su
                    negocio.
                    Con herramientas avanzadas para el manejo de múltiples ubicaciones, análisis detallados, y
                    soporte personalizado, este paquete te ofrece todo lo necesario para mantener la excelencia
                    en
                    el servicio y maximizar tus ganancias. Füd Pro: potencia y precisión en cada detalle.
                    <br>
                    <hr>
                <table>
                    <tr>
                        <td>
                            ✔️ Base de datos <b>Business 🔥</b>
                        </td>
                        <td>
                            <div class="database-info">4GB</div>
                        </td>
                        <td class="price-table-fud-one">$4,788/año</td>
                    </tr>
                    <tr>
                        <td>✔️ Franquicia <b>Füd Studio 👨🏻‍💼</b></td>
                        <td></td>
                        <td class="price-table-fud-one">$4,788/año</td>
                    </tr>
                    <tr>
                        <td>✔️ <b>PUNTO DE VENTA GRATIS 😍</b></td>
                        <td></td>
                        <td class="price-table-fud-one">$0/año</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>____________</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="price-table-fud-one"><span class="tachado">$9,576/año</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="price-table-fud-one"><b>$6,700/año</b></td>
                    </tr>
                </table>
                </p>
                <br>
                <label for="" class="info-label">
                    <hr>
                    <i class="fi fi-ss-receipt"></i> Ventas
                    <br>
                    ✔️ Administracion de Menú
                    <br>
                    ✔️ Informes y Analisis
                    <br>
                    ✔️ Impresion de Tikcets
                    <br>
                    ✔️ Seguimiento de ventas y estadísticas desde tu smartphone
                    <br>
                    ✔️ Gestion de tus productos y tus gastos
                    <br>
                    ✔️ Descuentos sobre ventas
                    <br>
                    ✔️ Movimientos de caja
                    <br>
                    ✔️ Asignación de clientes sobre ventas
                    <br>
                    ✔️ Notificaciones por falta de stock
                    <br>
                    ✔️ Restricciones para vender sin disponibilidad
                    <br>
                    <hr>
                    <i class="fi fi-ss-hamburger-soda"></i> Productos
                    <br>
                    ✔️ Modificadores y adicionales de productos
                    <br>
                    ✔️ Productos favoritos
                    <br>
                    <hr>
                    <i class="fi fi-sr-usd-circle"></i> Gastos
                    <br>
                    ✔️ Diferentes listas de precios
                    <br>
                    ✔️ Calculo automático de costos
                    <br>
                    ✔️ Actualización automática del inventario
                    <br>
                    <hr>
                    <i class="fi fi-sr-users"></i> Clientes
                    <br>
                    ✔️ Base de datos de clientes
                    <br>
                    ✔️ Importación masiva de datos
                    <br>
                    ✔️ Cuentas corrientes de clientes
                    <br>
                    <hr>
                    <i class="fi fi-ss-truck-side"></i> Proveedores
                    <br>
                    ✔️ Base de datos de proveedores
                    <br>
                    ✔️ Cuentas corrientes de proveedores
                    <br>
                    <hr>
                    <i class="fi fi-sr-hat-chef"></i> Empleados
                    <br>
                    ✔️ Crear Empleados
                    <br>
                    ✔️ Roles de Empleados
                    <br>
                    ✔️ Departamentos de Empleados
                    <br><br>
                </label>
                <a class="info-link">Más información</a>
                <hr>
                <div class="d-flex justify-content-end">
                    <form action="/fud/create-suscription-fud-pack" method="POST">
                        <input type="hidden" name="price_id" value="price_1PX69fRofynVwfKYgV2OHIUP" />
                        <input type="hidden" name="pack_database" value="2" />
                        <input type="hidden" name="pack_branch" value="2" />
                        <button id="checkout-and-portal-button" type="submit" class="btn btn-comprar">Comprar
                            Füd
                            Pro</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4">
            <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/843/843260.png" class="icon-product-price">
                <div class="discount-icon">
                    <div class="discount-text">Descuento</div>
                </div>
                <br>
                <h6 class="fud-name-pack-title">Füd Restaurant 💪</h6>
                <h3 class="fud-pack-title fud-bussiner-title"><b>MXN $419/mes</b></h3>
                <p class="card-text">
                    ¡Lleva tu restaurante al siguiente nivel con Füd Restaurant! Diseñado para establecimientos
                    de
                    tamaño
                    medio, este paquete ofrece una gama completa de funcionalidades avanzadas que te permitirán
                    optimizar la gestión de tu negocio. Desde la administración de inventarios hasta la gestión
                    de
                    reservas y análisis de ventas.
                    <br>
                    <hr>
                <table>
                    <tr>
                        <td>
                            ✔️ Base de datos <b>Basico ☁️</b>
                        </td>
                        <td>
                            <div class="database-info">3 GB</div>
                        </td>
                        <td class="price-table-fud-one">$3,588/año</td>
                    </tr>
                    <tr>
                        <td>✔️ Franquicia <b>Füd Business 👨‍🍳</b></td>
                        <td></td>
                        <td class="price-table-fud-one">$3,588/año</td>
                    </tr>
                    <tr>
                        <td>✔️ <b>PUNTO DE VENTA GRATIS 😍</b></td>
                        <td></td>
                        <td class="price-table-fud-one">$0/año</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>____________</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="price-table-fud-one"><span class="tachado">$7,176/año</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="price-table-fud-one"><b>$5,020/año</b></td>
                    </tr>
                </table>
                </p>
                <br>
                <label for="" class="info-label">
                    <hr>
                    <i class="fi fi-ss-receipt"></i> Ventas
                    <br>
                    ✔️ Administracion de Menú
                    <br>
                    ✔️ Informes y Analisis
                    <br>
                    ✔️ Impresion de Tikcets
                    <br>
                    ✔️ Seguimiento de ventas y estadísticas desde tu smartphone
                    <br>
                    ✔️ Gestion de tus productos y tus gastos
                    <br>
                    ✔️ Descuentos sobre ventas
                    <br>
                    ✔️ Movimientos de caja
                    <br>
                    ✔️ Asignación de clientes sobre ventas
                    <br>
                    ✔️ Notificaciones por falta de stock
                    <br>
                    ✔️ Restricciones para vender sin disponibilidad
                    <br>
                    <hr>
                    <i class="fi fi-ss-hamburger-soda"></i> Productos
                    <br>
                    ✔️ Modificadores y adicionales de productos
                    <br>
                    ✔️ Productos favoritos
                    <br>
                    <hr>
                    <i class="fi fi-sr-usd-circle"></i> Gastos
                    <br>
                    ✔️ Diferentes listas de precios
                    <br>
                    ✔️ Calculo automático de costos
                    <br>
                    ✔️ Actualización automática del inventario
                    <br>
                    <hr>
                    <i class="fi fi-sr-users"></i> Clientes
                    <br>
                    ✔️ Base de datos de clientes
                    <br>
                    ✔️ Importación masiva de datos
                    <br>
                    ✔️ Cuentas corrientes de clientes
                    <br>
                    <hr>
                    <i class="fi fi-ss-truck-side"></i> Proveedores
                    <br>
                    ✔️ Base de datos de proveedores
                    <br>
                    ✔️ Cuentas corrientes de proveedores
                    <br>
                    <hr>
                    <i class="fi fi-sr-hat-chef"></i> Empleados
                    <br>
                    ✔️ Crear Empleados
                    <br>
                    ✔️ Roles de Empleados
                    <br>
                    ✔️ Departamentos de Empleados
                    <br><br>
                </label>
                <a class="info-link">Más información</a>
                <hr>
                <div class="d-flex justify-content-end">
                    <form action="/fud/create-suscription-fud-pack" method="POST">
                        <input type="hidden" name="price_id" value="price_1PX6DjRofynVwfKYfazDFstF" />
                        <input type="hidden" name="pack_database" value="1" />
                        <input type="hidden" name="pack_branch" value="2" />
                        <button id="checkout-and-portal-button" type="submit" class="btn btn-comprar">Comprar
                            Füd
                            Restaurant</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>