<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img src="https://cc-prod.scene7.com/is/image/CCProdAuthor/icon_cc?$png$&jpegSize=100&wid=83" alt="" class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Creative Cloud Todas las Aplicaciones para equipos</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $1,899.00/mes</s></label>
                    <h3>MXN $1,399.00/mes por licencia</h3>
                    <p class="card-text">Obtén hasta 5 licencias a un precio reducido y ahorra en más de 20 aplicaciones incluidas
                        Photoshop, Illustrator y Acrobat Pro para dar vida a tu marca y mejorar todas tus comunicaciones
                        empresariales.
                    </p>
                    <a href="">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar">Comprar Ahora</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img src="https://cc-prod.scene7.com/is/image/CCProdAuthor/icon_cc?$png$&jpegSize=100&wid=83" alt="" class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Creative Cloud Todas las Aplicaciones para equipos</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $1,899.00/mes</s></label>
                    <h3>MXN $1,399.00/mes por licencia</h3>
                    <p class="card-text">Obtén hasta 5 licencias a un precio reducido y ahorra en más de 20 aplicaciones incluidas
                        Photoshop, Illustrator y Acrobat Pro para dar vida a tu marca y mejorar todas tus comunicaciones
                        empresariales.
                    </p>
                    <a href="">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar">Comprar Ahora</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img src="https://cc-prod.scene7.com/is/image/CCProdAuthor/icon_cc?$png$&jpegSize=100&wid=83" alt="" class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Creative Cloud Todas las Aplicaciones para equipos</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $1,899.00/mes</s></label>
                    <h3>MXN $1,399.00/mes por licencia</h3>
                    <p class="card-text">Obtén hasta 5 licencias a un precio reducido y ahorra en más de 20 aplicaciones incluidas
                        Photoshop, Illustrator y Acrobat Pro para dar vida a tu marca y mejorar todas tus comunicaciones
                        empresariales.
                    </p>
                    <a href="">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar">Comprar Ahora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
