{{>web/filesOldWeb/styles}}
<style>
    .offert-price {
        text-decoration: line-through;
        /* Tachar el texto */
    }

    .btn-comprar {
        background-color: #1473E6;
        /* Color verde */
        color: white;
        /* Color del texto */
        border-radius: 15px;
        /* Bordes redondeados */
        font-weight: bold;
        /* Texto en negrita */
        font-size: 0.8rem;
        right: 30px;
    }

    .btn-comprar:hover {
        background-color: #1267cf;
        /* Color verde m치s oscuro al pasar el mouse */
    }

    .icon-product-price {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        margin: .5rem;
    }
</style>
<style>
    /* Personalizaci칩n del estilo de las pesta침as */
    .nav-tabs .nav-link {
        color: #495057c0;
        border: none;
        border-bottom: 2px solid transparent;
    }

    .nav-tabs .nav-link:hover {
        color: #495057;
        border: none;
        border-bottom: 2px solid transparent;
    }

    .nav-tabs .nav-link.active {
        color: var(--color-company);
        background-color: #fff;
        border: none;
        border-bottom: 2px solid var(--color-company);
        ;
    }

    .tab-content {
        border: 1px solid #dee2e6;
        border-top: none;
        padding: 20px;
        background: #F5F5F5;
    }

    .card {
        border-radius: 22px;
        /*width: 24rem;*/
    }

    .info-label {
        display: none;
        margin-top: 10px;
    }

    .info-link {
        cursor: pointer;
        color: #007bff;
        text-decoration: none;
    }

    .info-link:hover {
        cursor: pointer;
        color: #036fe2;
    }

    .title-fud-individual {
        color: #1D1D1F;
        font-size: 4rem;
    }

    .btn-fud-one {
        width: 50%;
        height: 50px;
        color: white;
        background-color: var(--color-company);
        text-align: center;
        border-radius: 25px;
        font-size: 1rem;
    }

    .btn-fud-one:hover {
        border-color: var(--color-company);
    }

    .backgournd-individual {
        background-color: #F5F5F7;
    }


    @media (max-width: 767px) {
        .title-fud-individual {
            font-size: 2rem;
            /* Reduce el tama침o de la fuente */
        }

        .btn-fud-one {
            width: 50%;
            /* Ajusta el ancho del bot칩n al 100% */
            height: 45px;
            /* Ajusta la altura del bot칩n */
            font-size: 0.7rem;
            /* Ajusta el tama침o de la fuente del bot칩n */
        }

        .tab-content {
            padding: 15px;
            /* Reduce el padding del contenido de las pesta침as */
        }

        .card {
            border-radius: 15px;
            /* Ajusta el radio de la esquina de la tarjeta */
            /* width: 100%; */
            /* Ajusta el ancho de la tarjeta al 100% */
        }

        .info-label {
            font-size: 0.875rem;
            /* Ajusta el tama침o de la fuente de las etiquetas de informaci칩n */
        }

        .nav-tabs .nav-link {
            font-size: 0.875rem;
            /* Ajusta el tama침o de la fuente de los enlaces de las pesta침as */
        }

        h4 {
            font-size: 0.9rem;
        }

        .container-products {
            display: none;
        }
    }
</style>
<br><br>
<div class="container">
    <br>
    <div class="section-title">
        <span>La mejor opcion para tu negocio 游땔</span>
        <h1 class="title-main-2 title-fud-individual">
            Lo mejor de F칲d <i class="fi fi-sr-hat-chef title-fud-individual"></i>
            Todo en uno
        </h1>
        <h4>
            F칲d One agrupa hasta tres suscripciones de F칲d por un precio mensual/semestral o anual m치s bajo e incluye
            almacenamiento en F칲d Cloud. Con F칲d One, disfrutas m치s por menos 游땔
        </h4>
        <br>
        {{#if user}}
        {{else}}
            <button class="btn btn-fud-one" onclick="nextWeb('signup')"><b>Prueba F칲d One gratis</b></button>
            <br>
        {{/if}}
    </div>

    <div class="container mt-5 container-products">
        <div class="container mt-5">
            <div class="row mt-6">
                <div class="col mb-4">
                    <img src="https://play-lh.googleusercontent.com/UsdD_NamOPn_cD9d0XXXvvyAaMZf1V74UMUH38x0WdLj8zJliNfahqZ6ijXT7n1a9w"
                        alt="" class="icon-product-price">
                    <h5><b>F칲d Cloud</b></h5>
                    <label for="">
                        F칲d Cloud es una soluci칩n de almacenamiento en la nube dise침ada espec칤ficamente para
                        restaurantes, permitiendo una gesti칩n centralizada y conectada de todas tus sucursales. Este
                        paquete ofrece una plataforma integrada donde todos tus restaurantes pueden compartir y acceder
                        a datos en tiempo real, mejorando la coordinaci칩n y eficiencia operativa.
                    </label>
                </div>
                <div class="col mb-4">
                    <img src="https://sellexpos.com/static/img/icon512x512.png" alt="" class="icon-product-price">
                    <h5><b>F칲d Branch</b></h5>
                    <label for="">
                        F칲d Branch es una soluci칩n integral dise침ada para la gesti칩n eficiente de cada sucursal de tu
                        restaurante y sus empleados. Este paquete proporciona herramientas avanzadas para organizar las
                        operaciones diarias, optimizar el rendimiento del personal y garantizar un servicio al cliente
                        de alta calidad.
                    </label>
                </div>
                <div class="col mb-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/6404/6404201.png" alt=""
                        class="icon-product-price">
                    <h5><b>F칲d Punto de venta</b></h5>
                    <label for="">
                        F칲d POS es una soluci칩n avanzada y f치cil de usar, dise침ada espec칤ficamente para
                        optimizar las transacciones y la gesti칩n de ventas en restaurantes. Este sistema permite a los
                        empleados procesar pedidos y pagos de manera eficiente, mejorando la experiencia del cliente y
                        la productividad del negocio.
                    </label>
                </div>
            </div>
            <br><br><br><br><br>
        </div>
    </div>
</div>

<div class="backgournd-individual">
    {{>web/prices/individual}}
    <br><br>
</div>
<br><br>
<div class="container">
    <div class="section-title">
        <h1 class="title-main-2">Conoce nuestras ofertas</h1>
        <p>
            Contamos con los mejores paquetes para peque침os y grandes negocios. Puedes elegir el paquete que m치s se
            adecue a tus necesidades de empresario. Vende comida y aumenta tus ingresos, mientras nosotros nos
            centramos en administrar tus insumos, bebidas, reservaciones y empleados. Elige de nuestros planes Todas las
            Aplicaciones para que tu negocio obtengan lo que necesesite y m치s de 20
            aplicaciones gastronomicos
        </p>
    </div>
    {{#if user}}
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                    aria-selected="true">
                    <i class="fi fi-ss-database"></i> Base de datos
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                    aria-selected="false">
                    <i class="fi fi-sr-shop"></i> Restaurante
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                    aria-selected="false">
                    <i class="fi fi-sr-apps"></i> Aplicaciones
                </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent" style="background-color: transparent;">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                {{>web/prices/database}}
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                {{>web/prices/restaurant}}
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                {{>web/prices/employee}}
            </div>
        </div>
    {{else}}
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                    aria-selected="true">
                    <i class="fi fi-sr-heart"></i> Gratis
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                    aria-selected="false">
                    <i class="fi fi-ss-database"></i> Base de datos
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                    aria-selected="false">
                    <i class="fi fi-sr-store-alt"></i> Restaurante
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"
                    aria-selected="false">
                    <i class="fi fi-sr-apps"></i> Aplicaciones
                </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                {{>web/prices/free}}
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                {{>web/prices/database}}
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                {{>web/prices/restaurant}}
            </div>
            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                {{>web/prices/employee}}
            </div>
        </div>
        
        <!--preguntas frecuentes--->
        <style>
            .faq-section {
                max-width: 800px;
                margin: 50px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .faq-title {
                font-size: 2.5rem;
                text-align: center;
                color: #333;
                margin-bottom: 20px;
            }

            .faq-item {
                margin-bottom: 10px;
                border-bottom: 1px solid #ddd;
            }

            .faq-question {
                width: 100%;
                text-align: left;
                background: none;
                border: none;
                font-size: 1.25rem;
                padding: 15px;
                color: black;
                cursor: pointer;
                outline: none;
                transition: background-color 0.3s;
            }

            .faq-question:hover {
                background-color: #f1f1f1;
            }

            .faq-answer {
                display: none;
                padding: 0 15px 15px;
                font-size: 1rem;
                color: #555;
            }

            @media (max-width: 767px) {
                .faq-title {
                    font-size: 2rem;
                }

                .faq-question {
                    font-size: 1rem;
                    padding: 10px;
                }

                .faq-answer {
                    font-size: 0.875rem;
                    padding: 0 10px 10px;
                }
            }
        </style>

        <br><br><br><br>
        <section>
            <h2 class="faq-title">Las respuestas a tus preguntas</h2>
            <div class="faq-item">
                <button class="faq-question">쮺칩mo me suscribo a F칲d One? 游뱂</button>
                <div class="faq-answer">
                    <p>
                        Al crear una cuenta abre el men칰 > licencias > adquirir licencia.
                        Cuando est칠s en la secci칩n de los precios ahora podr치s comprar el paquete que quieras.
                        Si tienes problemas manda un mensaje de WhatsApp a {{>web/phone}}
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">쯈u칠 sucede si solo quiero mejorar mi base de datos o mi sucursal? 游뱂</button>
                <div class="faq-answer">
                    <p>
                        Para eso dir칤gete a las licencias individuales. Cuando inicies sesi칩n abre el
                        men칰 > licencias > adquirir licencia.
                        En la parte de las licencias puedes adquirir individualmente las mejoras que necesitas.
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">쮿ay un periodo de prueba? 쯈u칠 incluye? 游뱂</button>
                <div class="faq-answer">
                    <p>
                        S칤, al momento de crear tu cuenta cuentas con una versi칩n de prueba gratuita. Por el momento la
                        prueba gratuita es gratis, pero
                        puede cambiar en el futuro a d칤as de prueba. Actualmente la versi칩n de prueba cuenta con tres
                        aplicaciones las cuales son:
                        <br>
                        > punto de venta gratis
                        <br>
                        > base de datos gratis
                        <br>
                        > sucursales gratis
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">쯇or qu칠 comprar F칲d? 游뱂</button>
                <div class="faq-answer">
                    <p>
                        Podr칤a pasar horas dici칠ndote los grandes beneficios de F칲d, que pueden ayudarte a controlar tu
                        negocio, que tenemos la mejor tecnolog칤a, que tenemos la mejor plataforma para que aprendas a
                        utilizar nuestro software, pero lo que realmente importa es que la mayor칤a de nuestros clientes nos
                        consideran una extensi칩n de su negocio 仇벒잺
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">쯈u칠 pasa si no era lo que esperaba? 游뱂</button>
                <div class="faq-answer">
                    <p>
                        No te preocupes, por eso tenemos en el mercado nuestro software de prueba llamado "F칲d Free". Con
                        F칲d
                        Free puedes comprobar si es lo que tu negocio necesita o no 游땔
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">쮺칩mo puedo confiar en que servir치 en mi negocio? 游뱂</button>
                <div class="faq-answer">
                    <p>
                        Como empresa te podemos hacer una promesa que siempre vamos a cumplir. <b>Nunca te arrepentir치s
                            porque
                            hacemos de las peque침as cosas, grandes oportunidades</b>. Esto nos caracteriza y nos hace los
                        mejores en lo
                        que hacemos. Estamos muy contentos con este programa, est치 muy bien dise침ado y con todo lo
                        necesario,
                        estamos muy satisfechos con el desempe침o, funciona muy bien y es muy estable para tu negocio.
                        <br><br>
                        Al igual que cualquier empresa de 칠xito, F칲d escucha a sus usuarios y leemos todos sus mensajes,
                        trabajamos todos los d칤as en mejorar nuestro software para la comodidad de todos nuestros clientes
                        仇벒잺
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">쯈u칠 pasa si tengo un problema con el software? 游뱂</button>
                <div class="faq-answer">
                    <p>
                        A pesar de que nuestro software es muy intuitivo, F칲d incluye un manual de usuario por si lo
                        necesitas.
                        <br><br>
                        Si tu duda es m치s grande siempre puedes contactar con el equipo de apoyo de F칲d para una mejor
                        soluci칩n. Con F칲d puedes tener un servicio gratuito de por vida y siempre podr치s estar recibiendo
                        apoyo en lo que necesites 游뗿
                    </p>
                </div>
            </div>
        </section>

        <br>











        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const faqQuestions = document.querySelectorAll('.faq-question');

                faqQuestions.forEach(question => {
                    question.addEventListener('click', function () {
                        const answer = this.nextElementSibling;
                        const isActive = answer.style.display === 'block';

                        document.querySelectorAll('.faq-answer').forEach(ans => ans.style.display = 'none');

                        if (!isActive) {
                            answer.style.display = 'block';
                        } else {
                            answer.style.display = 'none';
                        }
                    });
                });
            });

        </script>
        <!--preguntas frecuentes--->
        {{>web/filesOldWeb/js}}
    {{/if}}
</div>
<br><br>















<script>
    document.querySelectorAll('.info-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault(); // Evita el comportamiento predeterminado del enlace
            var infoLabel = this.previousElementSibling;
            if (infoLabel.style.display === 'none' || infoLabel.style.display === '') {
                infoLabel.style.display = 'block';
                this.textContent = 'Mostrar menos informaci칩n';
            } else {
                infoLabel.style.display = 'none';
                this.textContent = 'Mostrar m치s informaci칩n';
            }
        });
    });
</script>

<script>
    function showPrices(type) {
        if (type === 'restaurant') {
            document.getElementById('restaurant-prices').style.display = 'block';
            document.getElementById('franchise-prices').style.display = 'none';
        } else if (type === 'franchise') {
            document.getElementById('restaurant-prices').style.display = 'none';
            document.getElementById('franchise-prices').style.display = 'block';
        }
        // Establecer el bot칩n activo
        document.querySelectorAll('.tabs a').forEach(item => {
            item.classList.remove('active');
        });
        document.querySelector(`.tabs a[href="#"][onclick="showPrices('${type}']`).classList.add('active');
    }
    // Llamar a la funci칩n showPrices al cargar la p치gina
    window.onload = function () {
        showPrices('restaurant');
    };
</script>
<script>
    //this script is for that the user not have most free pack
    // Obtener el bot칩n por su ID
    const button = document.getElementById('checkout-and-portal-button');

    // Obtener el valor del atributo 'status' del bot칩n
    const statusValue = button.getAttribute('status');

    // Verificar si el valor del status es diferente de 0
    if (statusValue !== '0') {
        button.remove();
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>