<div class="container-card-prices">
    <div class="wrapper">

        <div class="table basic">
            <div class="price-section">
                <div class="price-area">
                    <div class="inner-area">
                        <span class="text">$</span>
                        <span class="price">0</span>
                    </div>
                </div>
            </div>
            <div class="package-name"></div>
            <ul class="features">
                <li>
                    <span class="list-name"><i class="fi-icon fi-sr-check-circle"></i>Three Month Free</span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><i class="fi-icon fi-sr-check-circle"></i>Füd Online</span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><i class="fi-icon fi-sr-check-circle"></i>Füd Desktop</span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <hr>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-sr-user"></i>15 Employees</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-ss-cash-register"></i>1 Cash
                            Registers</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-ss-database"></i>Free Database 250
                            MB</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <a href="">Read most</a>
                </li>
            </ul>
            <div class="btn"><button>Purchase</button></div>
        </div>

        <div class="table premium">
            <div class="ribbon"><span>Recommend</span></div>
            <div class="price-section">
                <div class="price-area">
                    <div class="inner-area">
                        <span class="text">$</span>
                        <span class="price">29</span>
                    </div>
                </div>
            </div>
            <p class="text-prices-ofert"><s>🇺🇸$ 35*</s></p>
            <div class="package-name"></div>
            <ul class="features">
                <li>
                    <span class="list-name"><i class="fi-icon fi-sr-star"></i>All the free pack, more</span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><i class="fi-icon fi-sr-check-circle"></i>Füd Cloud</span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <hr>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-sr-user"></i>30 Employees</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-ss-cash-register"></i>3 Cash
                            Registers</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-ss-database"></i>Free Database 2
                            GB</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <a href="">Read most</a>
                </li>
            </ul>
            <div class="btn"><button>Purchase</button></div>
        </div>


        <div class="table ultimate">
            <div class="price-section">
                <div class="price-area">
                    <div class="inner-area">
                        <span class="text">$</span>
                        <span class="price">60</span>
                    </div>
                </div>
            </div>
            <p class="text-prices-ofert"><s>🇺🇸$ 75 *</s></p>
            <div class="package-name"></div>
            <ul class="features">
                <li>
                    <span class="list-name"><i class="fi-icon fi-sr-star"></i>All the premium pack, more</span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><i class="fi-icon fi-sr-check-circle"></i>Füd Studio</span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <hr>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-sr-user"></i>ilimite Employees</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-ss-cash-register"></i>6 Cash
                            Registers</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <span class="list-name"><label><i class="fi-icon fi-ss-database"></i>Free Database 4
                            GB</label></span>
                    <span class="icon check"><i class="fas fa-check"></i></span>
                </li>
                <li>
                    <a href="">Read most</a>
                </li>
            </ul>
            <div class="btn"><button>Purchase</button></div>
        </div>
    </div>
</div>