<style>
    .container{
        max-width: 600px;
    }

    .btn-edit{
        border-radius: 12px;
        margin: 80px;
        width: 250px;
        height: 40px;
        background-color: #3C65F8;
    }

    .icon-desktop{
        width: 30%;
        height: auto;
        border-radius: 50%;
    }

    .title-desktop-1{
        color: black;
        font-size: 2rem;
    }
    .title-desktop-2{
        color: var(--color-company);
        font-size: 2rem;
    }

    .a-desktop{
        color: #3C65F8;
    }
</style>


<br><br><br><br>
<center>
<section class="body-session">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <center>
                            <img src="/img/ed-icon.webp" alt="" class="icon-desktop">
                            <br>
                            <label class="title-desktop-1">Bienvenido a</label><label class="title-desktop-2">ED PLUS</label>
                        </center>
                        <hr>
                        <form action="/links/on-plus-id" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Plus ID</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tu Plus ID">
                                <small id="emailHelp" class="form-text text-muted">Al momento de tu compra se te envio un correo electronico con tu Plus ID</small>
                            </div>
                            <center>
                                <button class="btn-edit">Activar ED Plus 🚀</button>
                                <br>
                                <a href="" class="a-desktop">¿No tienes un Plus ID?</a>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <br><br><br><br><br>
        <center>
            <label for="">Power by {ED} Software Developer</label>
        </center>
    </div>
</section>
</center>
<br><br>