<br>
<div class="container py-5">
    <h2 class="text-center text-dark fw-bold mb-3">Reporte de Medicamentos</h2>
    <p class="text-center text-muted fs-5">Genera un reporte detallado para Cofepris en PLUS</p>
    <hr>
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-5">
            <div class="mb-4">
                <label for="branchSelect" class="form-label fw-semibold text-primary">Sucursal *</label>
                <select id="branchSelect" class="form-select rounded-pill px-4 py-3 border-0 shadow-sm bg-light">
                    {{#each branchFree}}
                        <option value="{{id}}">{{name_branch}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row g-4">
                <div class="col-md-6">
                    <label for="dateStart" class="form-label fw-semibold text-primary">Fecha Inicial *</label>
                    <input type="date" id="dateStart" class="form-control rounded-pill px-4 py-3 border-0 shadow-sm bg-light">
                </div>
                <div class="col-md-6">
                    <label for="dateFinish" class="form-label fw-semibold text-primary">Fecha Final *</label>
                    <input type="date" id="dateFinish" class="form-control rounded-pill px-4 py-3 border-0 shadow-sm bg-light">
                </div>
            </div>
            <div class="text-center mt-5">
                <button class="btn btn-success px-5 py-3 rounded-pill shadow-lg fw-semibold" onclick="createExcel()">📊 Generar Reporte</button>
            </div>
        </div>
    </div>
</div>

<script>
    //this script is for create the file excel with the data of the form 
    async function createExcel() {
        let branch = document.getElementById('branchSelect').value;
        let dateStart = document.getElementById('dateStart').value;
        let dateFinish = document.getElementById('dateFinish').value;

        if (!branch || !dateStart || !dateFinish) {
            warningMessage('Ups! 😅','Por favor, completa todos los campos.');
            return;
        }

        let url = `/links/report-prescription?branch=${encodeURIComponent(branch)}&dateStart=${encodeURIComponent(dateStart)}&dateFinish=${encodeURIComponent(dateFinish)}`;

        // Crear un enlace para descargar el archivo
        let newTab = window.open(url, '_blank');
        if (!newTab) {
            warningMessage('Ups! 😰','No se pudo abrir la pestaña. Asegúrate de que tu navegador permite pop-ups.');
        }
    }
</script>