<hr>
<div class="row">
    <div class="col">
        <label for="validationCustom01">CLAVE SAT</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="Sat Key" name="satKey" value="">
    </div>
</div>