<br>
<div class="container">
    <center><label>Search a customers</label><i class="fi-icon fi-sr-review"></i></center>
    <hr>
    {{>CEO/customers/browser}}
    {{>CEO/customers/table}}
</div>
<script src="/js/search.js"></script>