<br>
<div class="container">
    <div class="video-help" data-id="help-create-customer">
        <div class="help-content">
            <p class="help-title">Estos videos podrían ayudarte:</p>
            <div class="videos">
                <iframe loading="lazy" src="https://www.youtube.com/embed/1UQARy9X6zM?si=fWXy0s8wbNhxzdW7"
                    allowfullscreen></iframe>
            </div>
            <button class="hide-help">✓ Ya lo sé</button>
        </div>
        <div class="help-toggle">¿Necesitas ayuda?</div>
    </div>
    <label><i class="fi-icon fi-sr-user"></i> Clientes</label>
    <hr>
    {{>CEO/customers/browser}}
    {{>CEO/customers/table}}
</div>
<script src="/js/search.js"></script>