<br>
<div class="container">
    <label><i class="fi-icon fi-sr-user"></i> Clientes</label>
    <hr>
    {{>CEO/customers/browser}}
    {{>CEO/customers/table}}
</div>
<script src="/js/search.js"></script>