{{>loading}}


<input type="hidden" value="{{ticket.token_ticket}}" id="token_ticket">
<br><br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <label for="">Generar una factura CFDI</label>
            <hr>
            {{>cfdi/createCFDI}}
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", async () => {
    ///her we will load all the data of the ticket 
    const token_ticket=document.getElementById('token_ticket').value;
    await update_information_of_timbres();
    await render_information_cfdi(token_ticket);
});
</script>
