<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/report/report.css">
    </link>
</head>

<body>
    {{>reports}}
</body>

</html>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/report/company_report.js"></script>

