<table class="dash-board-date">
    <tr>
        <td class="text-muted">Distribution</td>
        <td class="text-muted">Graph type</td>
    </tr>
    <tr>
        <td>
            <select class="form-control">
                <option value="opcion1">Horas</option>
                <option value="opcion1">Dias</option>
                <option value="opcion1">Semanas</option>
                <option value="opcion1">Meses</option>
                <option value="opcion1">Bimestres</option>
                <option value="opcion1">Trimestres</option>
                <option value="opcion1">Semestres</option>
                <option value="opcion1">Año</option>
                <option value="opcion1">Automatico</option>
            </select>
        </td>
        <td>
            <select class="form-control">
                <option value="opcion1">Barras</option>
                <option value="opcion1">Area</option>
                <option value="opcion1">Lineas</option>
                <option value="opcion1">Area agrupada</option>
                <option value="opcion1">Barra agrupada</option>
            </select>
        </td>
        <td><button class="btn-dash-board-date"><i class="fi fi-rr-refresh"></i></button></td>
    </tr>
</table>