node_modules
.env
PLUS Punto de venta.zip

# Ignorar todo el contenido dentro de build/installers
build/installers/*

# Ignorar todo el contenido dentro de updates/PLUS/* que son los ejecutables de puebra para actualizar el POS
updates/PLUS/*
updates/DRIVER/*

# Ignorar todo el contenido dentro de dist
dist/*
