<link rel="stylesheet" href="/css/manager/supplies_products.css">
<br><br>
<div class="container">
    <div class="row mt-8">
        <div class="col-md-10">
            <label><i class="fi-icon fi-ss-apartment"></i> Departament Employees</label>
            <hr>
            {{>manager/type_and_rol_employees/table}}
        </div>
    </div>
</div>