.navbar-3 {
    display: flex;
    width: 100%;
    height: 100%;
}

.navbar-3-sidebar {
    width: 250px; /* Ancho de la barra lateral */
    background-color: #111926; /* Color de fondo */
    color: #ecf0f1; /* Color del texto */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.navbar-3-content {
    flex: 1; /* Ocupa el resto del espacio disponible */
    padding: 20px;
    background-color: #f4f4f9; /* Color de fondo del contenido */
    overflow-y: auto; /* Permite el desplazamiento si el contenido es muy largo */
}



.navbar-3-sidebar ul {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-3-sidebar ul li {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.navbar-3-sidebar ul li a {
    font-family: 'Arial', sans-serif;
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-3-sidebar ul li a:hover {
    background-color: #23344e;
    color: #fff;
}



.navbar-3-logo {
    text-align: center;
    padding: 20px;
}

.navbar-3-logo img {
    width: 80%;
    height: auto;
}
