<!DOCTYPE html>
<html lang="zxx">


<body>


    <style>

    </style>


    <section class="banner-area" data-aos="fade-up">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner-content">
                                <h1 class="h1 title-home">Todo tu negocio en una sola plataforma.</h1>
                                <div class="subTitleText">
                                    <h2 class="h-subtitle">¡Sencillo, eficiente y a buen precio!</h2>
                                </div>
                                <p>
                                    Füd es el mejor software para <b>franquicia/restaurante/cafeteria en México</b>.
                                    Rápido, fácil y efectivo.

                                    Creemos que la tegnologia es arte y nos motiva crear el más fácil, amigable y
                                    hermoso software en el mercado.
                                    <!--
                                    CRM, eCommerce, accounting, inventory, point of sale, project management, etc.
                                    -->
                                </p>
                                <p>
                                    ⭐Se parte del cambio y vuélvete un empresario de éxito⭐
                                </p>
                                <div class="banner-btn">
                                    <a href="/fud/signup" class="box-btn">🤩 Comienza ahora, es gratis</a>
                                    <a href="/fud/prices" class="box-btn border-btn">Leer más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-img">
                                <img src="/web/assets/images/home-img.png" alt="banner-img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="home-shape">
            <div class="shape1">
                <img src="/web/assets/images/shape/1.png" alt="shape">
            </div>
            <div class="shape2">
                <img src="/web/assets/images/shape/2.png" alt="shape">
            </div>
            <div class="shape3">
                <img src="/web/assets/images/shape/3.png" alt="shape">
            </div>
            <div class="shape4">
                <img src="/web/assets/images/shape/4.png" alt="shape">
            </div>
            <div class="shape5">
                <img src="/web/assets/images/shape/5.png" alt="shape">
            </div>
            <div class="shape6">
                <img src="/web/assets/images/shape/6.png" alt="shape">
            </div>
        </div>
    </section>

    <div class="container cellphone-container" data-aos="fade-up">
        <br>
        <div class="row">
            <div class="col">
                <label>Tienda online</label>
                <h1 class="title-main-2">Adapta tu <br> negocio a la</h1>
                <h1 class="title-main">nueva normalidad</h1>
                <img src="/web/assets/images/adapta1.png" alt="" class="img-info">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Optimiza la gestión de tu negocio centralizando el control de sucursales y accediendo a información
                    clave en cualquier momento. Registra tus almacenes y realiza ajustes, traspasos y movimientos de
                    mercancía con facilidad. Evita faltantes y excesos, mejorando tu productividad.
                </p>
                <ul>
                    ⭐ <b><label style="color: var(--color-company);">Sincroniza: </label></b>Comparte inventario, reportes, traspasos y muchas cosas más entre tus sucursales. <br>
                    ⭐ <b><label style="color: var(--color-company);">Conéctate: </label></b>Con unos cuantos clics conéctate con tus almacenes y sucursales. <br>
                    ⭐ <b><label style="color: var(--color-company);">Accede Fácilmente: </label></b>Podrán acceder desde cualquier dispositivo con conexión a internet. <br>
                </ul>
                <i class="fi-icon fi-sr-right"></i><button class="btn-company" onclick="nextWeb('prices')">Leer más</button>
            </div>
        </div>
        <br>
    </div>

    <div class="container cellphone-not-container" data-aos="fade-up">
        <br>
        <div class="row">
            <div class="col-6">
                <img src="/web/assets/images/adapta1.png" alt="" class="img-info">
            </div>
            <div class="col-6">
                <label>Tienda online</label>

                <h1 class="title-main-2">Adapta tu <br> negocio a la</h1>
                <h1 class="title-main">nueva normalidad</h1>
                <p>Optimiza la gestión de tu negocio centralizando el control de sucursales y accediendo a información
                    clave en cualquier momento. Registra tus almacenes y realiza ajustes, traspasos y movimientos de
                    mercancía con facilidad. Evita faltantes y excesos, mejorando tu productividad.
                </p>
                <ul>
                    ⭐ <b><label style="color: var(--color-company);">Sincroniza: </label></b>Comparte inventario, reportes, traspasos y muchas cosas más entre tus sucursales. <br>
                    ⭐ <b><label style="color: var(--color-company);">Conéctate: </label></b>Con unos cuantos clics conéctate con tus almacenes y sucursales. <br>
                    ⭐ <b><label style="color: var(--color-company);">Accede Fácilmente: </label></b>Podrán acceder desde cualquier dispositivo con conexión a internet. <br>
                </ul>
                <i class="fi-icon fi-sr-right"></i><button class="btn-company" onclick="nextWeb('prices')">Leer más</button>
            </div>
        </div>
        <br>
    </div>


    <section class="home-service-area pt-100 pb-70" data-aos="fade-up">
        <div class="container">
            <div class="section-title">
                <span data-aos="fade-up">Beneficios de usar Füd</span>
                <h1 class="title-main-2" data-aos="fade-up">¿Porque Füd es la mejor opción para tu negocio?</h1>
                <p data-aos="fade-up">
                    Ponernos en el lugar del cliente y entender sus necesidades nos ha ayudado a crear las mejores
                    soluciones a los problemas de la vida cotidiana de tu restaurante.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="https://cdn-icons-png.flaticon.com/512/3952/3952860.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32" data-aos="fade-up">Diseño intuitivo</h3>
                            <p data-aos="fade-up">
                                Adiós a las aburridas y complicadas interfaces. El equipo de Füd trabajo en hacer
                                una interfaz fácil e intuitiva, este fue diseñado especialmente para no requerir
                                conocimientos previos de computación.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img" data-aos="fade-up">
                            <img src="https://cdn-icons-png.flaticon.com/512/6784/6784466.png" alt="service" />
                        </div>
                        <div class="service-content" data-aos="fade-up">
                            <h3 class="h32" data-aos="fade-up">Analisis y Reportes</h3>
                            <p data-aos="fade-up">
                                Mientras que otros softwares te muestran los datos actuales de tu negocio, con Füd
                                podras hacer uso del BigData y nuestra IA para ver el futuro de tu restaurante.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="/web/assets/images/service/s3.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32" data-aos="fade-up">Marketing</h3>
                            <p data-aos="fade-up">
                                Con la pestaña de ofertas y anuncios puedes subir tus ofertas personalizadas para que
                                tus cajeros la
                                vean y estén informados de ellas o de los nuevos platillos en el negocio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="https://cdn-icons-png.flaticon.com/512/7021/7021224.png" alt="service" / data-aos="fade-up">
                        </div>
                        <div class="service-content">
                            <h3 class="h32" data-aos="fade-up">Inventario</h3>
                            <p data-aos="fade-up">
                                Con este programa tendrás un mejor control de tus ventas, podrás realizar tu corte
                                diario de caja, revisar los movimientos, ver tus ventas y calcular mejor tus ingresos
                                etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="/web/assets/images/service/s5.png" alt="service" data-aos="fade-up"/>
                        </div>
                        <div class="service-content">
                            <h3 class="h32" data-aos="fade-up">100% seguro:</h3>
                            <p data-aos="fade-up">
                                Evite accesos no autorizados, Füd le permite validar su inicio de sesión mediante
                                password y restablecerla.
                                Podrás darle permisos especiales a tus cajeros o manejar las funciones de tus clientes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="/web/assets/images/service/s6.png" alt="service" data-aos="fade-up"/>
                        </div>
                        <div class="service-content">
                            <h3 class="h32" data-aos="fade-up">Conexiones</h3>
                            <p data-aos="fade-up">
                                Puedes tener más de una franquicia conectada a tu inventario para agilizar tus ventas.
                                Cualquier dispositivo conectado a internet puede desplegar tu empresa en segundos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="home-company-area bg-color">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="company-content">
                        <div class="company-tittle">
                            <span data-aos="fade-right">Füd Software SAAS</span>
                            <h1 class="title-main-2" data-aos="fade-right">Una solución para cualquier negocio.</h1>
                            <p data-aos="fade-right">
                                No importa si tienes un restaurante, un foodtruck, una tienda o realizas envíos a
                                domicilio. Füd se hace cargo.
                            </p>
                            <p data-aos="fade-right">
                                Ponemos a su disposición este extraordinario software muy útil para todo tipos de
                                negocio que quieren llevar su contabilidad de una manera fácil y profesional. Con un sin
                                numero de Herramientas que hará tu vida más fácil como el analisis del mercado, toma de
                                desiones, CRM, eCommerce, accounting, inventory, point of sale, project management, etc.
                                <b>Somos el software más completo del mercado.</b>
                            </p>
                        </div>
                        <br>
                        <i class="fi-icon fi-sr-right"></i><button class="btn-company"
                            href="/fud/price" onclick="nextWeb('prices')">Adquieir</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="company-img">
                        <img src="\img\web/tablet.png"
                            alt="company" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="choose-area ptb-100">
        <div class="container">
            <div class="section-title">
                <label data-aos="fade-up">Füd Software SAAS</label>
                <h1 class="title-main-2" data-aos="fade-up">¿Porque Füd es toda una experiencia?</h1>
                <p data-aos="fade-up">
                    Aumenta tus ventas, administra mejor tu negocio y compite con las grandes cadenas nacionales 💪
                </p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-img">
                        <img src="/web/assets/images/choose-img.png" alt="choose" data-aos="fade-up"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-content">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item" data-aos="fade-up">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>¿Porque comprar Füd? 🤔
                                    </a>
                                    <p class="accordion-content show">
                                        Podría pasar horas diciendote los grandes beneficios de Füd, que pueden ayudarte
                                        a controlar tu negocio, que tenemos la mejor tecnología,
                                        que tenemos la mejor plataforma para que aprendas a utilizar nuestro software,
                                        pero lo que realmente importa es que la mayoría de nuestros clientes nos
                                        consideran una extensión de su negocio ❤️
                                    </p>
                                </li>
                                <li class="accordion-item" data-aos="fade-up">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>¿Que pasa si no era lo que esperaba? 🤔
                                    </a>
                                    <p class="accordion-content">
                                        No te preocupes por eso tenemos en el mercado nuestro software de prueba llamado
                                        "Füd Free".
                                        Con Füd Free puedes comprobar si es lo que tu negocio necesita o no. La prueba
                                        inclye las siguientes <a href="/prices" style="color: var(--color-company);">caracteristicas</a> y no tiene costo alguno 😉
                                    </p>
                                </li>
                                <li class="accordion-item" data-aos="fade-up">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>¿Como puedo confiar en que servira en mi
                                        negocio? 🤔
                                    </a>
                                    <p class="accordion-content">
                                        Como empresa te podemos hacer una promesa que siempre vamos a cumplir.
                                        <b>Nunca te arrepentirás porque hacemos de las pequeñas cosas, grandes
                                            oportunidades.</b> Esto nos caracteriza y nos hace el mejor en lo que
                                        hacemos.
                                        Estamos muy contento con este programa, está muy bien diseñado y con todo lo
                                        necesario, estamos muy satisfecho con el desempeño,
                                        funciona muy bien y es muy estable para tu negocio.
                                        <br><br>
                                        Al igual que cualquier empresa de exito, Füd escucha a sus usuarios y leemos
                                        todos sus mensajes, trabajamos todos los dias en mejorar nuestro software para
                                        la comidad de todos nuestros clientes❤️
                                    </p>
                                </li>
                                <li class="accordion-item" data-aos="fade-up">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>¿Qué pasa si tengo un problema con el software?
                                        🤔
                                    </a>
                                    <p class="accordion-content">
                                        A pesar de que nuestro software es muy intuitivo, Füd incluye un manual de
                                        usuario por si lo necesitas.
                                        <br><br>
                                        Si tu duda es más grande siempre puedes contratar con el equipo de apoyo de Füd
                                        para una mejor solución.
                                        Con Füd puedes tener un servicios gratuito de por vida
                                        y siempre podrás estar recibiendo apoyo en lo que necesites 🙌
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="home-process-area pt-100 pb-70" data-aos="fade-up">
        <div class="container">
            <div class="section-title">
                <span>Füd y sus funciones</span>
                <h2 class="h2">Más que una simple herramienta de contabilidad</h2>
                <p>
                    El equipo de Füd a estado trabajando para añadir las funciones más
                    necesitadas en un negocio como el tuyo.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process">
                        <div class="icon" style="background-color: transparent;">
                            <img src="https://cdn-icons-png.flaticon.com/512/2720/2720119.png" alt="process" />
                            <span>
                                <img src="/web/assets/images/process/next.png" alt="shape" />
                            </span>
                        </div>
                        <div class="content">
                            <h3 class="h-subtitle">Carga pedidos y emite comandas en segundos</h3>
                            <p>
                                Reduce tiempos de espera, evita errores y haz fluir tu negocio
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process">
                        <div class="icon" style="background-color: transparent;">
                            <img src="https://cdn-icons-png.flaticon.com/512/3075/3075746.png" alt="process" />
                            <span class="pro-span">
                                <img src="/web/assets/images/process/next.png" alt="shape" />
                            </span>
                        </div>
                        <div class="content">
                            <h3 class="h-subtitle">Facilita el trabajo a tus empleados</h3>
                            <p>
                                Diseñado para ser un programa fácil de usar y no requerir de conocimientos previos de
                                computación,
                                ni capacitación personalizada ni para tí ni para tus cajeros.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process">
                        <div class="icon" style="background-color: transparent;">
                            <img src="https://cdn-icons-png.flaticon.com/512/843/843260.png" alt="process" />
                            <span>
                                <img src="/web/assets/images/process/next.png" alt="shape" />
                            </span>
                        </div>
                        <div class="content">
                            <h3 class="h-subtitle">Mide el progreso de tus empleados</h3>
                            <p>
                                Registra sus horarios, permisos, historial de ventas y que progreso han tenido los
                                ultimos meses.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process">
                        <div class="icon" style="background-color: transparent;">
                            <img src="https://cdn-icons-png.flaticon.com/256/1141/1141779.png" alt="process" />
                        </div>
                        <div class="content">
                            <h3 class="h-subtitle">Registra ventas, gastos, tock y analisis</h3>
                            <p>
                                Conoce cuánto dinero tienes invertido en tu negocio, rastrea cada ingreso, venta y merma
                                de tus productos.
                                Obtén la ganancia calculada automáticamente ya sea por día,
                                mes o año.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-area bg-color ptb-100" data-aos="fade-up">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="contnet">
                        <div class="feature-tittle">
                            <span>Füd, el unico software que predice el futuro 🤩</span>
                            <h1 class="title-main-2">La forma más fácil</h1>
                            <h1 class="title-main-1 h1">de administrar tu negocio</h1>
                            <p>
                                Somos más que un sistema, Somos Füd Technology, una forma de trabajar que da resultados.
                                Nos importas tú y tú negocio, por lo cual siempre estamos innovando para mantener a tu
                                restaurante actualizado.
                            </p>
                        </div>
                        <ul>
                            <li>
                                ❤️ Rapidez — Despliegue en la nube o Instalación en menos de 15 minutos
                            </li>
                            <li>
                                ❤️
                                Intuitivo — Fácil de usar, empieza a vender en un par de minutos
                            </li>
                            <li>
                                ❤️
                                Analítica — Entender mejor el desarrollo de tu negocio
                            </li>
                            <li>
                                ❤️
                                Conteo de inventario — Controla tus existencias en tiempo real
                            </li>
                            <li>
                                ❤️
                                Mercadotecnia — Atrae más clientes y analiza estadísticas completas de tus ventas
                            </li>
                        </ul>
                        <a href="/fud/prices" class="box-btn">Hagámoslo! 💪</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-img">
                        <img src="/web/assets/images/feature-img.png" alt="feature" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="client-area ptb-100 bg-color">
        <div class="container">
            <div class="section-title">
                <span data-aos="fade-right">Testimonios</span>
                <h1 class="title-main-2" data-aos="fade-right">Lo que nuestros clientes</h1>
                <h1 class="title-main-1 h1" data-aos="fade-right">dicen de Füd 🤗 </h1>
                <p data-aos="fade-right">Si todavia no estas convencido de que Füd es para ti, mira estos testimonios de nuestros clientes.
                </p>
            </div>
            <div class="client-wrap owl-carousel owl-theme">
                <div class="single-client" data-aos="fade-right">
                    <img src="/web/assets/images/client/3.jpg" alt="img">
                    <p>Me ha funcionado muy bien en mi negocio, es fácil de entender, muy completo, y
                        me han ayudado en lo que he necesitado y lo mejor a muy buen precio.</p>
                    <h3 class="h-subtitle">Fernando Morales</h3>
                    <span>Restaurantero</span>
                </div>
                <div class="single-client" data-aos="fade-right">
                    <img src="/web/assets/images/client/2.jpg" alt="img">
                    <p>Me permite organizar y darle seguimiento a mis gastos y a todas mis transacciones de manera
                        simple y eficaz.
                        El equipo de soporte al cliente siempre está ahí para ayudarte cuando más lo necesitas.</p>
                    <h3 class="h-subtitle">Sergio Emmanuel</h3>
                    <span>Restaurantero</span>
                </div>
                <div class="single-client" data-aos="fade-right">
                    <img src="/web/assets/images/client/1.jpg" alt="img">
                    <p>Esta herramienta ha revolucionado la forma en que gestionamos nuestros proyectos. La interfaz es intuitiva
                        y el soporte técnico siempre está disponible para resolver cualquier inconveniente rápidamente.
                        ¡Altamente recomendable!</p>
                    <h3 class="h-subtitle">Carlos Brayan</h3>
                    <span>Restaurantero</span>
                </div>
            </div>
        </div>
    </section>

    <section class="home-contact-area bg-color ptb-100" data-aos="fade-up">
        <div class="container">
            <div class="section-title">
                <label>Contactanos</label>
                <h2 class="title-main-1 h2">¡Háganos saber acerca de su idea para mejorar Füd!</h2>
                <p>
                    ❤️ La parte más importante de Füd es su comunidad y como nos fortalecemos entre todos
                    para conseguir un mejor producto que mejore nuestro negocio y aumente tus ingresos. ❤️
                </p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="contact-img">
                        <img src="https://cdn-icons-png.flaticon.com/512/2571/2571000.png" alt="contact">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="content">
                        <form id="contactForm" action="/fud/send_email_contact" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" required
                                            data-error="Please enter your name" placeholder="Nombre" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control" required
                                            data-error="Please enter your email" placeholder="Correo electronico" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" name="phone" id="phone_number"
                                            data-error="Please enter your number" class="form-control"
                                            placeholder="Numero de celular" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" name="msg_subject" id="msg_subject" class="form-control"
                                            required data-error="Please enter your subject" placeholder="Asunto" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                                            required data-error="Write your message"
                                            placeholder="Escribe un mensaje..."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn page-btn box-btn">
                                        Enviar <i class="fi fi-ss-avion-de-papel"></i>
                                    </button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script data-cfasync="false" src="assets/js/email-decode.min.js"></script>
    <script src="/web/assets/js/jquery.min.js"></script>

    <script src="/web/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/web/assets/js/meanmenu.min.js"></script>

    <script src="/web/assets/js/magnific-popup.min.js"></script>

    <script src="/web/assets/js/owl.carousel.min.js"></script>

    <script src="/web/assets/js/wow.min.js"></script>

    <script src="/web/assets/js/isotope.pkgd.min.js"></script>

    <script src="/web/assets/js/ajaxchimp.min.js"></script>

    <script src="/web/assets/js/contact-form-script.js"></script>

    <script src="/web/assets/js/main.js"></script>

</body>

</html>