<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/web/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/web/assets/css/meanmenu.min.css" />

    <link rel="stylesheet" href="/web/assets/css/boxicons.min.css" />

    <link rel="stylesheet" href="/web/assets/css/flaticon.css" />

    <link rel="stylesheet" href="/web/assets/css/magnific-popup.min.css" />

    <link rel="stylesheet" href="/web/assets/css/animate.min.css" />

    <link rel="stylesheet" href="/web/assets/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="/web/assets/css/style.css" />

    <link rel="stylesheet" href="/web/assets/css/dark.css" />

    <link rel="stylesheet" href="/web/assets/css/responsive.css" />

    <link rel="icon" type="image/png" href="/web/assets/images/favicon.png" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>

<body>

    <div class="loader-content">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>


<style>
    /*this is for create the subtitle with the subrayado*/
.subTitleText {
    position: relative;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 200px; /* Altura de la imagen de fondo */
    background-image: url('/web/assets/images/wallpaperText.png'); /* Establece la imagen de fondo */
    background-size: cover; /* Ajusta el tama침o de la imagen de fondo */
    color: white; /* Color del texto */
}

.subTitleText h2 {
    margin: 0; /* Elimina el margen por defecto del h2 */
}

@media (max-width: 1100px) {
    .subTitleText  {
        height: 145px;
    }

    .subTitleText h2 {
        font-size: 1.5rem;
    }
}
</style>
    <section class="home-service-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span>Beneficios de usar F칲d</span>
                <h1 class="title-main-2">쯇orque F칲d es la mejor opci칩n para tu negocio?</h1>
                <p>
                    Ponernos en el lugar del cliente y entender sus necesidades nos ha ayudado a crear las mejores
                    soluciones a los problemas de la vida cotidiana de tu restaurante.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="https://cdn-icons-png.flaticon.com/512/3952/3952860.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32">Dise침o intuitivo</h3>
                            <p>
                                Adi칩s a las aburridas y complicadas interfaces. El equipo de F칲d trabajo en hacer
                                una interfaz f치cil e intuitiva, este fue dise침ado especialmente para no requerir
                                conocimientos previos de computaci칩n.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="https://cdn-icons-png.flaticon.com/512/6784/6784466.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32">Analisis y Reportes</h3>
                            <p>
                                Mientras que otros softwares te muestran los datos actuales de tu negocio, con F칲d 
                                podras hacer uso del BigData y nuestra IA para ver el futuro de tu restaurante.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="/web/assets/images/service/s3.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32">Marketing</h3>
                            <p>
                                Con la pesta침a de ofertas y anuncios puedes subir tus ofertas personalizadas para que tus cajeros la
                                vean y est칠n informados de ellas o de los nuevos platillos en el negocio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="https://cdn-icons-png.flaticon.com/512/7021/7021224.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32">Inventario</h3>
                            <p>
                                Con este programa tendr치s un mejor control de tus ventas, podr치s realizar tu corte
                                diario de caja, revisar los movimientos, ver tus ventas y calcular mejor tus ingresos etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="/web/assets/images/service/s5.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32">100% seguro:</h3>
                            <p>
                                Evite accesos no autorizados, F칲d le permite validar su inicio de sesi칩n mediante
                                password y restablecerla.
                                Podr치s darle permisos especiales a tus cajeros o manejar las funciones de tus clientes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="/web/assets/images/service/s6.png" alt="service" />
                        </div>
                        <div class="service-content">
                            <h3 class="h32">Conexiones</h3>
                            <p>
                                Puedes tener m치s de una franquicia conectada a tu inventario para agilizar tus ventas.
                                Cualquier dispositivo conectado a internet puede desplegar tu empresa en segundos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="choose-area ptb-100">
        <div class="container">
            <div class="section-title">
                <label>F칲d Software SAAS</label>
                <h1 class="title-main-2">쯇orque F칲d es toda una experiencia?</h1>
                <p> 
                    Aumenta tus ventas, administra mejor tu negocio y compite con las grandes cadenas nacionales 游눩
                </p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-img">
                        <img src="/web/assets/images/choose-img.png" alt="choose" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-content">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>쯇orque comprar F칲d? 游뱂
                                    </a> 
                                    <p class="accordion-content show">
                                        Podr칤a pasar horas diciendote los grandes beneficios de F칲d, que pueden ayudarte a controlar tu negocio, que tenemos la mejor tecnolog칤a, 
                                        que tenemos la mejor plataforma para que aprendas a utilizar nuestro software, pero lo que realmente importa es que la mayor칤a de nuestros clientes nos consideran una extensi칩n de su negocio 仇벒잺 
                                    </p>
                                </li>
                                <li class="accordion-item">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>쯈ue pasa si no era lo que esperaba? 游뱂
                                    </a>
                                    <p class="accordion-content">
                                        No te preocupes por eso tenemos en el mercado nuestro software de prueba llamado "F칲d Free". 
                                        Con F칲d Free puedes comprobar si es lo que tu negocio necesita o no. La prueba dura 30 d칤as y no tiene costo alguno 游땔
                                    </p>
                                </li>
                                <li class="accordion-item">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>쮺omo puedo confiar en que servira en mi negocio? 游뱂
                                    </a>
                                    <p class="accordion-content">
                                        Como empresa te podemos hacer una promesa que siempre vamos a cumplir.
                                        <b>Nunca te arrepentir치s porque hacemos de las peque침as cosas, grandes oportunidades.</b> Esto nos caracteriza y nos hace el mejor en lo que hacemos.
                                        Estamos muy contento con este programa, est치 muy bien dise침ado y con todo lo necesario, estamos muy satisfecho con el desempe침o, 
                                        funciona muy bien y es muy estable para tu negocio. 
                                        <br><br>
                                        Al igual que cualquier empresa de exito, F칲d escucha a sus usuarios y leemos todos sus mensajes, trabajamos todos los dias en mejorar nuestro software para la comidad de todos nuestros clientes仇벒잺
                                    </p>
                                </li>
                                <li class="accordion-item">
                                    <div class="icon">
                                        <i class="fi fi-sr-angle-right"></i>
                                    </div>
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fi fi-sr-bookmark"></i>쯈u칠 pasa si tengo un problema con el software? 游뱂
                                    </a>
                                    <p class="accordion-content">
                                        A pesar de que nuestro software es muy intuitivo, F칲d incluye un manual de usuario por si lo necesitas.
                                        <br><br>
                                        Si tu duda es m치s grande siempre puedes contratar con el equipo de apoyo de F칲d para una mejor soluci칩n. 
                                        Con F칲d puedes tener un servicios gratuito de por vida
                                        y siempre podr치s estar recibiendo apoyo en lo que necesites 游뗿
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script data-cfasync="false" src="assets/js/email-decode.min.js"></script>
    <script src="/web/assets/js/jquery.min.js"></script>

    <script src="/web/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/web/assets/js/meanmenu.min.js"></script>

    <script src="/web/assets/js/magnific-popup.min.js"></script>

    <script src="/web/assets/js/owl.carousel.min.js"></script>

    <script src="/web/assets/js/wow.min.js"></script>

    <script src="/web/assets/js/isotope.pkgd.min.js"></script>

    <script src="/web/assets/js/ajaxchimp.min.js"></script>

    <script src="/web/assets/js/contact-form-script.js"></script>

    <script src="/web/assets/js/main.js"></script>

</body>

</html>