<div class="container">
    <div class="card">
        <div class="row">
            <div class="col">
                <h1 class="title-main-2">Proemio</h1>
                Al ingresar y utilizar este portal de Internet, cuyo nombre de dominio es www.sicar.mx, propiedad de
                SICAR Solutions S.A. de C.V., que en lo sucesivo se denominará “SICAR, Punto de Venta”, el usuario está
                aceptando los Términos y condiciones de uso contenidos en este convenio y declara expresamente su
                aceptación utilizando para tal efecto medios electrónicos, en términos de lo dispuesto por el artículo
                1803 del Código Civil Federal.

                En caso de no aceptar en forma absoluta y completa los términos y condiciones de este convenio, el
                usuario deberá abstenerse de acceder, utilizar y observar el sitio web www.sicar.mx.

                Y en caso de que el usuario acceda, utilice y observe el sitio web www.sicar.mx se considerará como una
                absoluta y expresa aceptación de los Términos y Condiciones de uso aquí estipulados.

                La sola utilización de dicha página de Internet le otorga al público en general la condición de usuario
                (en adelante referido como el «usuario» o los «usuarios») e implica la aceptación, plena e
                incondicional, de todas y cada una de las condiciones generales y particulares incluidas en estos
                Términos y Condiciones de uso publicados por SICAR, Punto de Venta en el momento mismo en que el usuario
                acceda al sitio web.
            </div>
        </div>
    </div>
</div>