<style>
    .image-section img{
        width: 100%;
        height: auto;
    }
</style>

<div class="tab-pane fade show active" id="navbar-navbar" role="tabpanel" aria-labelledby="navbar-navbar-tab">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label><i class="fi-icon fi-sr-shield-check"></i> Interfaz de usuario</label>
                    <!-- form for choose navbar -->
                    <div class="form-section">
                        {{#each branchFree}}
                            <form action="/fud/{{id_companies}}/{{id}}/change-navbar" method="post">
                                <div class="mb-3">
                                    <label for="navbarSelect" class="form-label">Selecciona un navbar</label>
                                    <select class="form-select" id="navbarSelect" aria-label="Selecciona una opción" name="navbar">
                                        <option value="1">Opción 1</option>
                                        <option value="2">Opción 2</option>
                                        <option value="3">Opción 3</option>
                                    </select>
                                    <button class="btn btn-primary mt-2">Guardar</button>
                                </div>
                            </form>
                        {{/each}}
                        {{#each company}}
                            <form action="/fud/{{id}}/change-navbar" method="post">
                                <div class="mb-3">
                                    <label for="navbarSelect" class="form-label">Selecciona un navbar</label>
                                    <select class="form-select" id="navbarSelect" aria-label="Selecciona una opción" name="navbar">
                                        <option value="1">Opción 1</option>
                                        <option value="2">Opción 2</option>
                                        <option value="3">Opción 3</option>
                                    </select>
                                    <button class="btn btn-primary mt-2">Guardar</button>
                                </div>
                            </form>
                        {{/each}}
                    </div>
                </div>
                <div class="col-6">
                    <!-- choose navbar image -->
                    <div class="image-section">
                        <img id="navbarImage" src="/img/navbar/1.webp" alt="Imagen del navbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{>updateSelects}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navbarSelect = document.getElementById('navbarSelect');
        const navbarImage = document.getElementById('navbarImage');

        navbarSelect.addEventListener('change', function () {
            const selectedValue = navbarSelect.value;
            let imageUrl = '';

            switch (selectedValue) {
                case '1':
                    imageUrl = '/img/navbar/1.webp';
                    break;
                case '2':
                    imageUrl = '/img/navbar/2.webp';
                    break;
                case '3':
                    imageUrl = '/img/navbar/3.webp';
                    break;
                default:
                    imageUrl = '/img/navbar/1.webp';
            }

            navbarImage.src = imageUrl;
        });
    });
</script>