<link rel="stylesheet" href="/css/store/tables/tables.css">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="body-tables">
                <h6><i class="fi-icon fi-br-table-picnic"></i> Mesas</h6>
                <hr>
                <hr>
                <div id="restaurant-layout">
                </div>
            </div>
        </div>
        <div class="col">
            <br><br><br>
            <label for="">Controles</label>
            <hr>
            <div id="controls">
                <!--
                <button class="btn-controler-table add-table" data-type="large-square">Agregar Mesa Grande Cuadrada</button>
                <button class="btn-controler-table add-table" data-type="mini-square">Agregar Mesa Pequeña Cuadrada</button>
                <button class="btn-controler-table add-table" data-type="circle">Agregar Mesa Circular</button>
                -->
                <button class="btn-controler-table change-shape">Cambiar Forma de la Mesa</button>
                <button class="btn-controler-table delete-shape">Eliminar  Mesa</button>
            </div>
            <br>
            <div class="card p-3">
                <label for=""><i class="fi-icon fi-sr-memo"></i> Comandera</label>
                <hr>
                <div class="">
                    <label for="">Mesa</label><br>
                    <input type="text" class="form-control mb-3" aria-label="Large" aria-describedby="inputGroup-sizing-sm" readonly value="T1" id="numberTable">
                </div>
                <div class="">
                    <label for="">Personas</label><br>
                    <input type="text" class="form-control mb-3" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Numero de personas">
                </div>
                <div class="">
                    <label for="">Mesero</label><br>
                    <select name="mesero" id="" class="form-control mb-3">
                        <option value="null">Ninguno</option>
                        <option value="">Juan</option>
                        <option value="">Carlos</option>
                    </select>
                </div>
                <div class="">
                    <label for="">Comentario</label><br>
                    <textarea type="text" class="form-control mb-3" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Comentario"></textarea>
                </div>
                <button type="button" class="btn btn-primary"><i class="fi fi-sr-paper-plane-top"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/store/tables/tables.js"></script>
