<link rel="stylesheet" href="/css/manager/supplies_products.css">
<br>
<div class="container">
    <div class="row mt-5">
      <div class="col-md-5">
          <div class="card">
              <div class="card-body">
                {{>CEO/type_and_rol_employees/from}}
              </div>
          </div>
      </div>
        <div class="col-md-7">
            {{>CEO/type_and_rol_employees/table}}
        </div>
    </div>
</div>
<script src="/js/manager/roleEmployees/tableRoleEmployee.js" defer></script>
<script src="/js/sweetAlert.js" defer></script>