{{>web/filesOldWeb/styles}}
<style>
    .icon-fud-employee {
        border-radius: 25%;
        transform: translateY(-20px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

    .page-title-area{
        height: 200px;
        background-color:#FF002A;
    }

    @media (max-width: 720px) {
        .page-title-content{
            font-size: 2rem;
        }

        .page-title-area{
            height: 100px;
            display: none;
        }

        .icon-fud-employee{
            width: 250px;
            height: auto;
        }
    }
</style>
<!--this is for effect Animate On Scroll-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>El software es arte y nosotros somos los artistas</h2>
        </div>
    </div>
    <div class="page-shape">
        <div class="shape1">
            <img src="/web/assets/images/shape/1.png" alt="shape" />
        </div>
        <div class="shape3">
            <img src="/web/assets/images/shape/3.png" alt="shape" />
        </div>
        <div class="shape4">
            <img src="/web/assets/images/shape/4.png" alt="shape" />
        </div>
        <div class="shape5">
            <img src="/web/assets/images/shape/5.png" alt="shape" />
        </div>
        <div class="shape6">
            <img src="/web/assets/images/shape/6.png" alt="shape" />
        </div>
    </div>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-6">
            <img src="/web/assets/images/our company/fud-is-the-best.jpg" alt="" class="img-info" data-aos="fade-up">
        </div>
        <div class="col-6">
            <label data-aos="fade-up">Füd Software SAAS</label>

            <h1 class="title-main-2" data-aos="fade-up">Füd es el mejor software para</h1>
            <h1 class="title-main" data-aos="fade-up">franquicias en México.</h1>
            <p data-aos="fade-up">Creemos que la tegnologia es arte y nos motiva crear el más fácil, amigable y hermoso
                software en el
                mercado.</p>
            <ul data-aos="fade-up">
                <i class="fi-icon fi-sr-check-circle"></i>Rápido</li><br>
                <i class="fi-icon fi-sr-check-circle"></i>Fácil</li><br>
                <i class="fi-icon fi-sr-check-circle"></i>Efectivo</li><br>
            </ul><br>
            <i class="fi-icon fi-sr-right" data-aos="fade-up"></i><button class="btn-company"
                onclick="nextWeb('/prices')" data-aos="fade-up">Leer
                más</button>
        </div>
    </div>
    <br>

    <section class="home-company-area bg-color">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="company-content">
                        <div class="company-tittle">
                            <span data-aos="fade-up">Füd Software SAAS</span>
                            <h1 class="title-main-2" data-aos="fade-up">¿Qué hace a Füd</h1>
                            <h1 class="title-main" data-aos="fade-up">diferente?</h1>
                            <p data-aos="fade-up">
                                Los usuarios experimentan una experiencia de usuario fluida y sencilla, lo que permite
                                que se adapten de forma natural.
                            </p>
                            <p data-aos="fade-up">
                                Ponemos a su disposición este extraordinario software muy útil para todo tipos de
                                negocio que quieren llevar su contabilidad de una manera fácil y profesional. Con un sin
                                numero de Herramientas que hará tu vida más fácil como el analisis del mercado, toma de
                                desiones, CRM, eCommerce, accounting, inventory, point of sale, project management, etc.
                                <b>Somos el software más completo del mercado.</b>
                            </p>
                            <p data-aos="fade-up">
                                La fluidez y la integración total cubren las necesidades de todas las empresas, incluso
                                de las empresas más complejas.
                                <br><br>
                                Creemos que el software gastronomico debería cubrir necesidades complejas sin necesidad
                                de ser complicado. Nuestra misión es ofrecer un software que sea intuitivo, tenga todas
                                las funciones, esté totalmente integrado, se actualice con facilidad y que funcione sin
                                problemas para cualquier empresa y cualquier usuario.
                            </p>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="company-img">
                        <img src="/web/assets/images/our company/what-is-fud.jpg" alt="company" data-aos="fade-up" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="go-top">
        <i class="fi fi-rr-caret-quare-up" data-aos="fade-up"></i>
        <i class="fi fi-rr-caret-quare-up" data-aos="fade-up"></i>
    </div>

    <section class="home-team-area ptb-100">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <label>Füd Technology</label>
                <h1 class="title-main-2"><i class="fi fi-sr-hat-chef title-main-2"></i> Füd Technology Team</h1>
            </div>
        </div>
        <div class="container container-fud-employee">
            <hr>
            <div class="row" data-aos="fade-up">
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <br>
                            <img src="https://cdn-icons-png.freepik.com/512/5074/5074438.png" alt=""
                                class="icon-fud-employee">
                        </div>
                        <div class="col">
                            <br>
                            <h3 class="title-role-fud">Martinez Ortiz Eduardo Antonio • CEO</h3>
                            <label for="">
                                Fundador y visionario. Le emociona mantenerse ocupado participando en el desarrollo del
                                software, el marketing, y en la experiencia del cliente.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <br>
                            <img src="https://cdn-icons-png.flaticon.com/512/2922/2922565.png" alt=""
                                class="icon-fud-employee">
                        </div>
                        <div class="col">
                            <br>
                            <h3 class="title-role-fud">Edna Jehyu • CCO</h3>
                            <label for="">
                                Edna es uno de las afortunadas que puede decir que ama lo que hace. Edna sabe que
                                cada cliente es único y merece lo mejor! Su propósito diario es ofrecerles las
                                soluciones
                                más apropiadas y sencillas a cada restaurante.
                            </label>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row" data-aos="fade-up">
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <br>
                            <img src="https://cdn-icons-png.flaticon.com/512/2922/2922656.png" alt=""
                                class="icon-fud-employee">
                        </div>
                        <div class="col">
                            <br>
                            <h3 class="title-role-fud">Camacho Reyna Olinka • CFO</h3>
                            <label for="">
                                Olinka es una pieza fundamental en la conducción del éxito de la compañía siendo
                                la responsable de finanzas, asuntos legales y recursos humanos de Füd Technology.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <br>
                        </div>
                        <div class="col">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="section-title">
                <p>
                    Somos una empresa de tecnología que planean asistirte en tus necesidades con el mejor software SAAS
                    de
                    todo México. <b>Iniciamos este proyecto con el sueño de que cada restaurante en el mundo sea fácil y
                        rápido de atender</b>
                    y espero contar con tu apoyo en esta misión.
                </p>
            </div>
        </div>
        <hr>
        <!---
            <div class="home-team-slider owl-carousel owl-theme">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/web/assets/images/team/t1.png" alt="team" />
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="content text-center">
                        <h3 class="h3">Martinez Ortiz Eduardo</h3>
                        <p style="color: var(--color-company);">CEO</p>
                        <p>Le emociona mantenerse ocupado participando en el desarrollo del software, el marketing, y en las estrategias de experiencias de cliente.</p>
                    </div>
                </div>
                <div class="single-team">
                    <div class="team-img">
                        <img src="/web/assets/images/team/t2.png" alt="team" />
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="content text-center">
                        <h3 class="h3">Camacho Reyna Olinka</h3>
                        <p style="color: var(--color-company);">CFO</p>
                        <p>Britany impulsa el éxito siendo la responsable de finanzas, asuntos legales y recursos humanos de Füd Technology.</p>
                    </div>
                </div>
                <div class="single-team">
                    <div class="team-img">
                        <img src="/web/assets/images/team/t2.png" alt="team" />
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="content text-center">
                        <h3 class="h3">Camacho Reyna Olinka</h3>
                        <p style="color: var(--color-company);">CCO</p>
                        <p>¡Sébastien cree que cada cliente es único y merece lo mejor! Su propósito diario es ofrecerles las soluciones más apropiadas y sencillas. </p>
                    </div>
                </div>
            </div>
            --->
</div>
</section>
</div>

<center data-aos="fade-up">
    <h1 class="title-main-2">Oficinas Füd</h1>
    <img src="/img/web/world.png" alt="">
    <br>
    <label for=""><i class="fi-icon fi-ss-skull"></i> HECHO EN MÉXICO, HECHO BIEN CHINGON! <i
            class="fi-icon fi-ss-skull"></i></label>
    <br><br>
</center>

{{>web/filesOldWeb/js}}
<!--this is for effect Animate On Scroll-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init();
</script>