{{>web/filesOldWeb/styles}}
<div class="container">
    <br>

    <section class="home-company-area bg-color">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="company-content">
                        <div class="company-tittle">
                            <span>Füd Software SAAS</span>
                            <h1 class="title-main-2">Füd</h1>
                            <h1 class="title-main">Desktop</h1>
                            <p>
                                Si necesitas descargar el software de escritorio para tu restaurante tenemos la solucion para ti ❤️
                            </p>
                            <p>
                                <b>Füd Desktop</b> Es la solucion que el equipo de Füd desarollo para que tengas el mejor software CRM en tu computadora.
                                El software se conecta a la base de datos de Füd por lo cual no importa donde lo instales, siempre tendras tu negocio donde sea.
                            </b>
                            </p>
                        </div>
                        <br>
                        <a href="/fud-desktop Setup 1.0.0.exe" download="/fud-desktop Setup 1.0.0.exe" class="box-btn"><i class="fi-icon fi-sr-down-to-line"></i> Download! 💪</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="company-img">
                        <img src="https://media.istockphoto.com/id/1450788989/es/foto/retrato-de-una-feliz-empresaria-africana-sosteniendo-una-tableta-digital-en-la-oficina.jpg?s=2048x2048&w=is&k=20&c=v1N_gD-47mm1TcRfxyF9JklXbJtoLPnMUVJ8CDfV_lo="
                            alt="company" />
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{{>web/filesOldWeb/js}}