<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/session.css">
</head>
<body>
    <section class="body-session">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <center><h1 class="title-session">Recover your account</h1></center>
                                <label class="link-session">Enter your email or username to search for your account.</label>
                                <br><br>
                                <div class="form-group">
                                    <lable>
                                        <i class="fi-session fi-rr-user">User or E-mail *</i>
                                        <input type="text" id="userName" name="userName" placeholder="User or E-mail" class="form-control" autofocus>
                                    </lable>
                                </div>        
                                <button class="btn btn-success btn-block">recover</button>
                                <br><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>