<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/css/web/web.css">
<!--this is for effect Animate On Scroll-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

{{>web/main}}
<br>
<div class="container" data-aos="fade-right">
    <center>
        <div class="card-price">
            <div class="row">
                <div class="col-9">
                    <br>
                    <h3 class="title-main-2" style="color: white;"><i class=" fi-sr-hat-chef"></i> Inicia tu Prueba Gratis</h3>
                    <p>Regístrate y explora todas las novedades que Füd tiene para llevar a tu negocio al siguiente nivel.</p>
                    <p>✔️ POS gratis ✔️ Simple y moderno ✔️ Cancela cuando desees</p>
                    <br><br>
                </div>
                <div class="col">
                    <br><br><br>
                    <button class="btn-card-price" onclick="nextWeb('signup')">⭐ Crear una cuenta ⭐</button>
                </div>
            </div>
        </div>
    </center>
</div>
<br><br>
<div class="container" data-aos="fade-up">
    <center><h3 class="title-main-2">Somos el software que los negocios <br> eligen</h3></center>
    <hr>
    <br>
    <center><label><i class="fi-icon fi-sr-heart"></i>Nuestros clientes</label></center>
    <br>
    <div class="row">
        <div class="col">
            <img src="/img/web/customers/1.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="/img/web/customers/2.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="/img/web/customers/3.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="/img/web/customers/4.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="/img/web/customers/5.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="/img/web/customers/7.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="/img/web/customers/8.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="/img/web/customers/6.png" alt="" class="img-info">
        </div>
    </div>
    <br>
</div>
<!--this is for effect Animate On Scroll-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init();
</script>