<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/css/web/web.css">
{{>web/filesOldWeb/styles}}
<style>
    /*this is for create the subtitle with the subrayado*/
    .subTitleText {
        position: relative;
        display: flex;
        justify-content: center;
        /* Centra horizontalmente el contenido */
        align-items: center;
        /* Centra verticalmente el contenido */
        height: 200px;
        /* Altura de la imagen de fondo */
        background-image: url('/web/assets/images/wallpaperText.png');
        /* Establece la imagen de fondo */
        background-size: cover;
        /* Ajusta el tamaño de la imagen de fondo */
        color: white;
        /* Color del texto */
    }

    .subTitleText h2 {
        margin: 0;
        /* Elimina el margen por defecto del h2 */
    }

    @media (max-width: 1100px) {
        .subTitleText {
            height: 145px;
        }

        .subTitleText h2 {
            font-size: 1.5rem;
        }
    }


    @media (max-width: 720px) {
        .content{
            width: 120%;
        }

        .cellphone-not-container{
            display: none;
        }

        .cellphone-container{
            display: block;
        }
    }

    @media (min-width: 721px) {
        .cellphone-container{
            display: none;
        }
    }
</style>
<!--this is for effect Animate On Scroll-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

<div class="page-title-area" style="height: 200px; background:url(/web/assets/images/wallpaper-partner.png);">
    <div class="container">
        <div class="page-title-content">
            <h2>Programa de Partners</h2>
        </div>
    </div>
    <div class="page-shape">
        <div class="shape1">
            <img src="/web/assets/images/shape/1.png" alt="shape" />
        </div>
        <div class="shape3">
            <img src="/web/assets/images/shape/3.png" alt="shape" />
        </div>
        <div class="shape4">
            <img src="/web/assets/images/shape/4.png" alt="shape" />
        </div>
        <div class="shape5">
            <img src="/web/assets/images/shape/5.png" alt="shape" />
        </div>
        <div class="shape6">
            <img src="/web/assets/images/shape/6.png" alt="shape" />
        </div>
    </div>
</div>
<section class="home-service-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span data-aos="fade-up">🤝 Beneficios de ser Partners de Füd! 🤝</span>
            <h1 class="title-main-2" data-aos="fade-up">¿Porque ser Partners de Füd?</h1>
            <p data-aos="fade-up">
                En Füd, creemos en construir relaciones sólidas y mutuamente beneficiosas con nuestros partners. Aquí
                hay algunas razones por las cuales ser
                parte de nuestra red de partners es una decisión inteligente para tu negocio:
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img" data-aos="fade-up">
                        <img src="https://cdn-icons-png.flaticon.com/512/1484/1484883.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3 class="h32" data-aos="fade-up">Innovación Tecnológica</h3>
                        <p data-aos="fade-up">
                            Como partner de Füd, tendrás acceso a nuestra innovadora plataforma
                            SAAS diseñada específicamente para la industria de la restauración. Con herramientas
                            avanzadas de gestión y análisis, que te ayude a impulsar tu
                            negocio.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img" data-aos="fade-up">
                        <img src="https://cdn-icons-png.flaticon.com/512/5058/5058155.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3 class="h32" data-aos="fade-up">Visibilidad y Alcance</h3>
                        <p data-aos="fade-up">
                            Al unirte a Füd, obtendrás exposición frente a una amplia audiencia de restaurantes y
                            negocios del sector gastronómico. Nuestra red te ofrece la oportunidad de llegar a nuevos
                            clientes y expandir tu presencia en el mercado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img" data-aos="fade-up">
                        <img src="https://cdn-icons-png.flaticon.com/512/2716/2716350.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3 class="h32" data-aos="fade-up">Crecimiento Mutuo</h3>
                        <p data-aos="fade-up">
                            Nos comprometemos a construir una relación a largo plazo basada en el crecimiento mutuo y el
                            éxito compartido. Tu éxito es nuestro éxito, y estamos aquí para ayudarte a alcanzar tus
                            metas y superar tus expectativas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center><label for="" data-aos="fade-up">🚀 ¡Haz que tu restaurante destaque con nuestro software SAAS y nuestros increíbles partners!
            🚀</label></center>
</section>

<section class="feature-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle" data-aos="fade-up">
                        <span>🌟 ¡Descubre las increíbles prestaciones de ser Partner de Füd! 🌟</span>
                        <h1 class="title-main-2">Recompensa de</h1>
                        <h1 class="title-main-1 h1">Partners 🍽️</h1>
                        <p>
                            En Füd, nos enorgullecemos de ofrecer a nuestros partners las mejores prestaciones del
                            mercado. Al unirte a nuestra red de partners, podrás disfrutar de una serie de beneficios
                            exclusivos, como:
                        </p>
                    </div>
                    <ul>
                        <li data-aos="fade-up">
                            ❤️ Capacidad para reportar errores de parte de su cliente para que Füd los corrija.
                        </li>
                        <li data-aos="fade-up">
                            ❤️ Visibilidad y reconocimiento al ser listado como un Partner Oficial en la Partners de Füd.
                        </li>
                        <li data-aos="fade-up">
                            ❤️ Hasta un 20% de comisión en ventas de Füd Technology, dependiendo del nivel del Partner.
                        </li>
                        <li data-aos="fade-up">
                            ❤️ Acceso al Portal de Partners.
                        </li>
                        <li data-aos="fade-up">
                            ❤️ Acceso a un gestor de cuentas de Füd para analizar cuestiones de estrategia, ventas y servicios.
                        </li>
                    </ul>
                    <a href="/fud/prices" class="box-btn" data-aos="fade-up">Hagámoslo! 💪</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-img">
                    <img src="https://cdn-icons-png.flaticon.com/512/4168/4168977.png" alt="feature" data-aos="fade-up"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-contact-area bg-color ptb-100" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Bronze<img src="https://cdn-icons-png.flaticon.com/512/179/179250.png" alt="" style="height:30px; width:auto;"></th>
                                <th>Silver <img src="https://cdn-icons-png.flaticon.com/512/3153/3153081.png" alt="" style="height:30px; width:auto;"></th>
                                <th>Gold <img src="https://cdn-icons-png.flaticon.com/512/744/744922.png" alt="" style="height:30px; width:auto;"></th>
                                <th>Diamon <img src="https://cdn-icons-png.flaticon.com/512/2465/2465150.png" alt="" style="height:30px; width:auto;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fi-icon fi-sr-user"></i> Nuevos usuarios de Füd / año</td>
                                <td>1</td>
                                <td>50</td>
                                <td>100</td>
                                <td>150</td>
                            </tr>
                             <tr>
                                <td><i class="fi-icon fi-ss-message-dollar"></i> Tarifa de recompensa</td>
                                <td>15%</td>
                                <td>20%</td>
                                <td>25%</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td><i class="fi-icon fi-sr-phone-flip"></i> Contacto personalizado</td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                            </tr>
                            <tr>
                                <td><i class="fi-icon fi-sr-eye"></i> Visibilidad en fud.com</td>
                                <td style="color: rgb(199, 54, 54);"><i class="fi-icon fi-sr-circle-xmark"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                            </tr>
                            <tr>
                                <td><i class="fi-icon fi-sr-badge-percent"></i> Descuento en la suscripción interna de Füd</td>
                                <td style="color: rgb(199, 54, 54);"><i class="fi-icon fi-sr-circle-xmark"></i></td>
                                <td style="color: rgb(199, 54, 54);"><i class="fi-icon fi-sr-circle-xmark"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                            </tr>
                            <tr>
                                <td><i class="fi-icon fi-sr-store-alt"></i> Historias de éxito de clientes</td>
                                <td style="color: rgb(199, 54, 54);"><i class="fi-icon fi-sr-circle-xmark"></i></td>
                                <td style="color: rgb(199, 54, 54);"><i class="fi-icon fi-sr-circle-xmark"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                                <td><i class="fi-icon fi-ss-check-circle"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col cellphone-not-container">
                La etiqueta de Partner oficial de Füd solo la tienen las empresas que ofrecen nuestros servicios de más alta calidad.
            </div>
        </div>
        <br>
        <div class="row cellphone-container">
            La etiqueta de Partner oficial de Füd solo la tienen las empresas que ofrecen nuestros servicios de más alta calidad.
        </div>
    </div>
</section>


<section class="choose-area ptb-100">
    <div class="container">
        <div class="section-title">
            <label data-aos="fade-up">🌟 ¡Descubre las increíbles prestaciones de ser Partner de Füd! 🌟</label>
            <h1 class="title-main-2" data-aos="fade-up">Respondiendo a tus preguntas</h1>
            <p data-aos="fade-up">
                En Füd, siempre estamos recibiendo nuevas propuestas de partners y estas son las preguntas más
                frecuentes que recibimos.
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-img">
                    <img src="/web/assets/images/our company/parthner.jpg" alt="choose" data-aos="fade-up"/>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <div class="choose-content">
                    <div class="faq-accordion">
                        <ul class="accordion">
                            <li class="accordion-item" data-aos="fade-up">
                                <div class="icon">
                                    <i class="fi fi-sr-angle-right"></i>
                                </div>
                                <a class="accordion-title active" href="javascript:void(0)">
                                    <i class="fi fi-sr-bookmark"></i>¿Cuáles son los requisitos para convertirse en
                                    partner de Füd? 🤔
                                </a>
                                <p class="accordion-content show">
                                    Generalmente, buscamos partners que compartan nuestros valores y estén comprometidos
                                    con la excelencia en la industria gastronómica.❤️
                                    <br><br>
                                    Si estas interesado y tienes contacto con varios negocios de comida nos interesa
                                    tenerte en el quipo! 🚀
                                </p>
                            </li>
                            <li class="accordion-item" data-aos="fade-up">
                                <div class="icon">
                                    <i class="fi fi-sr-angle-right"></i>
                                </div>
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fi fi-sr-bookmark"></i>¿Cuáles son los beneficios específicos de ser
                                    partner de Füd en comparación con otras opciones disponibles en el mercado? 🤔
                                </a>
                                <p class="accordion-content">
                                    Los beneficios incluyen acceso prioritario a nuestra plataforma SAAS de última
                                    generación, soporte personalizado, formación continua, recursos exclusivos de
                                    marketing
                                    y la oportunidad de colaborar con una red diversa de profesionales del sector. Sin
                                    mencionar que ninguna otra plataforma da las mismas comisiones que nosotros 😉
                                </p>
                            </li>
                            <li class="accordion-item" data-aos="fade-up">
                                <div class="icon">
                                    <i class="fi fi-sr-angle-right"></i>
                                </div>
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fi fi-sr-bookmark"></i>¿Cómo sabe Füd cuántos softwares he vendido?
                                    🤔
                                </a>
                                <p class="accordion-content">
                                    Füd utiliza un sistema de seguimiento y análisis de ventas que registra y monitorea
                                    las transacciones realizadas a través de la plataforma con tu codigo personal de
                                    partner. Cada vez que se realiza una
                                    venta de software, se registra en nuestro sistema, lo que nos permite mantener un
                                    registro preciso de cuántos software has vendido como partner.
                                    <br> <br>
                                    Este sistema nos proporciona información detallada sobre las ventas, incluyendo el
                                    número de unidades
                                    vendidas, fechas de transacción, y otros datos relevantes que nos permiten llevar un
                                    seguimiento preciso del desempeño de nuestros partners.
                                </p>
                            </li>
                            <li class="accordion-item" data-aos="fade-up">
                                <div class="icon">
                                    <i class="fi fi-sr-angle-right"></i>
                                </div>
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fi fi-sr-bookmark"></i>¿Cuál es el costo asociado con convertirse en
                                    partner de Füd?🤔
                                </a>
                                <p class="accordion-content">
                                    🤩 NINGUNO!!! 🤩
                                    <br><br>
                                    La unica condision es que estes dispuesto a obtener ingresos extras por cada
                                    suscripcion del software vendido.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-contact-area bg-color ptb-100" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="content">
                    <label>🚀 Forma parte del mejor software para franquicias del mercado! 🚀</label>
                    <h1 class="title-main-2">Contacta con</h1>
                    <h2 class="title-main-1 h2">el equipo de Füd</h2>
                    <form action="/fud/send_email_contact" method="post">
                        <!-- Campo oculto Asunto -->
                        <input type="hidden" name="msg_subject" id="msg_subject" class="form-control" value="parthner" />

                        <div class="row">
                            <!-- Campo oculto Nombre -->
                            <div class="col-lg-12 col-sm-12" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" value="*" />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <!-- Campo visible Email -->
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label for="">Email *</label>
                                    <input type="email" name="email" id="email" class="form-control" required
                                        data-error="Please enter your email" placeholder="Correo electrónico" />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <!-- Campo visible Número de celular -->
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label for="">Número de celular</label>
                                    <input type="text" name="phone" id="phone_number" class="form-control"
                                        data-error="Please enter your number" placeholder="Número de celular" />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <!-- Campo visible Mensaje -->
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="">Escribe tu mensaje *</label>
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                                        required data-error="Write your message" placeholder="Escribe un mensaje..."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn page-btn box-btn">
                                    Enviar <i class="fi-icon fi-ss-paper-plane"></i>
                                </button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col cellphone-not-container">
                <img src="/web/assets/images/service/young-woman-enjoying-work.webp" alt="">
            </div>
        </div>
    </div>
</section>


{{>web/filesOldWeb/js}}
<!--this is for effect Animate On Scroll-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init();
</script>