<div class="container">
    <br><br>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <br>
                    <center>
                        <h4 class="text-danger">Acceso denegado</h4>
                        <br>
                        <img src="https://cdn-icons-png.flaticon.com/512/6360/6360061.png" alt="Acceso denegado" width="100">
                        <br><br>
                        <p class="text-muted">No tienes los permisos necesarios para acceder a esta página.</p>
                    </center>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>