{{>web/filesOldWeb/styles}}
<br><br>
<div class="container">
    <h1 class="title-main-2">Aviso de Privacidad de</h1>
    <h1 class="title-main">Füd Technology 🤫</h1>
    <hr>
    De conformidad con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los
    Particulares, Sistemas Informáticos Restauranteros de México pone a su disposición el siguiente aviso de privacidad.

    Sistemas Informáticos Restauranteros de México es responsable del uso y protección de sus datos personales. En este
    sentido, y atendiendo las obligaciones legales establecidas en la Ley Federal de Protección de Datos Personales en
    Posesión de los Particulares, se informa a los titulares de los datos sobre la información que se recopila y los
    fines que se le darán a dicha información.

    Sistemas Informáticos Restauranteros de México se identifica como «responsable» de los datos personales y tiene su
    domicilio en {{>web/address}}.
    <hr>
    
    <h1 class="title-main-2" style="font-size: 1rem;">1. TRATAMIENTO DE SUS DATOS PERSONALES</h1>

    Recabamos sus datos personales para las finalidades mencionadas en este Aviso de Privacidad. Se consideran datos
    personales cualquier información que permita identificar o sea identificable y cuya información debe tratarse y
    resguardarse según los principios de licitud, calidad, consentimiento, información, finalidad, lealtad,
    proporcionalidad y responsabilidad establecidos en la Ley Federal de Protección de Datos Personales en Posesión de
    los Particulares.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1rem;">2. FINALIDADES DEL TRATAMIENTO DE SUS DATOS PERSONALES</h1>
    La recopilación de ciertos datos personales es necesaria para llevar a cabo las actividades específicas relacionadas
    con nuestra actividad mercantil. Por lo tanto, tenemos la obligación de cumplir con las medidas legales y de
    seguridad para proteger sus datos personales con el objetivo de utilizarlos para los siguientes fines:

    <br><b>A) Finalidades indispensables para el cumplimiento de la relación jurídica:</b></h1>

    <br>i. Para corroborar su identidad y la veracidad de la información proporcionada.

    <br>ii. Para concretar nuestra relación con usted.

    <br>iii. Para atender los pedidos y/o proveer los servicios y productos solicitados.

    <br>iv. Para mantener la relación jurídica que se genere.

    <br>v. Para llevar a cabo análisis de riesgo y ponerse en contacto con usted para tratar cualquier tema relacionado con
    sus datos personales o con el presente aviso de privacidad.
    <br><b>B) Finalidades no indispensables para el cumplimiento de la relación jurídica:</b></h1>

    Adicionalmente, sus datos personales se pueden utilizar para las siguientes finalidades secundarias.

    <br>i. Para procesos de mercadotecnia, publicidad y prospección comercial.

    <br>ii. Para ofrecerle nuevos servicios y/o productos relacionados con los contratados o adquiridos.

    <br>iii. Para enviarle promociones de otros bienes o servicios relacionados con los productos o servicios contratados.

    <br>iv. Para comunicarle cambios en los productos y/o servicios.

    <br>v. Para realizar evaluaciones periódicas de nuestros productos y servicios con el objetivo de mejorar la calidad de
    estos.

    <br>vi. Para evaluar la calidad del servicio que brindamos.

    <br>Para llevar a cabo las finalidades descritas en este aviso de privacidad, utilizaremos los siguientes datos
    personales:
    <br>➜ Nombre completo

    <br>➜ Edad

    <br>➜ Sexo

    <br>➜ Teléfono fijo y/o celular

    <br>➜ Correo electrónico

    <br>➜ Dirección

    <br>➜ RFC y/o CURP
    <br><br>
    <h1 class="title-main-2" style="font-size: 1rem;">3. MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES</h1>
    Sus datos personales serán resguardados bajo estrictas medidas de seguridad administrativas, técnicas y físicas para
    protegerlos contra daño, pérdida, alteración, destrucción, acceso o tratamiento no autorizados. Cuando sus datos
    personales dejen de ser necesarios para cumplir las finalidades previstas por este Aviso de Privacidad y las
    disposiciones legales aplicables, se cancelarán previa solicitud de bloqueo y posterior supresión.
    <br><br>

    <h1 class="title-main-2" style="font-size: 1rem;">4. DEL EJERCICIO DE SUS DERECHOS COMO TITULAR DE LOS DATOS PERSONALES</h1>
    Usted tiene el derecho de conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones
    de uso que les damos (Acceso). También tiene derecho a solicitar la corrección de su información personal en caso de
    que esté desactualizada, sea inexacta o incompleta (Rectificación), a que eliminemos su información de nuestros
    registros o bases de datos cuando considere que no se está utilizando adecuadamente (Cancelación), y a oponerse al
    uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
    <br><br>
    El procedimiento y requisitos para el ejercicio de los derechos ARCO se detallan en la dirección de correo
    electrónico: {{>web/email}}. La respuesta a la solicitud se dará en un plazo de 48 horas y se comunicará a
    través de correo electrónico.
    <br><br>
    Los datos de contacto de la persona o departamento de datos personales encargado de tramitar las solicitudes de
    derechos ARCO son los siguientes:
    <br>a) Nombre del responsable: Departamento de Soporte y Apoyo al Cliente.

    <br>b) Domicilio: {{>web/address}}

    <br>c) Teléfono: {{>web/phone}}

    <br>d) Correo electrónico: {{>web/email}}

    <br>
    Tenga en cuenta que, en algunos casos, no podremos atender su solicitud de inmediato debido a obligaciones legales
    que requieran el tratamiento continuo de sus datos personales.
    <br><br>

    <h1 class="title-main-2" style="font-size: 1rem;">5. TRANSFERENCIA DE SUS DATOS PERSONALES</h1>
    Para cumplir con las finalidades establecidas en este Aviso de Privacidad, sus datos personales pueden ser
    transferidos y tratados dentro del territorio nacional por personas distintas a esta empresa con las que tenemos
    vínculos comerciales y actividades similares. Estas transferencias solo se realizan para cumplir con la prestación
    de servicios y garantizamos que no se utilizarán con fines distintos a los permitidos.
    <br><br>
    El Responsable podrá transferir sus datos personales cuando la transferencia:
    <br>i. Esté prevista en una ley o tratado en los que México sea parte.

    <br>ii. Sea efectuada a sociedades afiliadas bajo el control común de una sociedad matriz o cualquier que sea filial de
    Sistemas Informáticos Restauranteros de México, así como a sus asociadas donde el tercero receptor asumirá las
    mismas obligaciones que correspondan al Responsable que transfirió los datos, por lo que el tratamiento de los datos
    se hará conforme a lo convenido en este Aviso de Privacidad.

    <br>iii. Sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por Sistemas
    Informáticos Restauranteros de México y un tercero.

    <br>iv. Sea necesaria o legalmente exigida para salvaguardar un interés público o para la procuración o administración
    de justicia

    <br>v. Sea precisa para el reconocimiento, ejercicio, defensa de un derecho en un proceso judicial

    <br>vi. Sea precisa para el mantenimiento y cumplimiento de la relación jurídica entre Sistemas Informáticos
    Restauranteros de México y el titular.

    Última actualización: 30.03.2024
    <br><br><br>
</div>
{{>web/filesOldWeb/js}}