<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/session.css">
    <!--this is the style of the new navbar, not delete--->
    {{>web/filesOldWeb/styles}}
</head>

<body>

    <section class="body-session">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form action="/fud/restart-password" method="POST">
                                <center>
                                    <h1 class="title-session">Reiniciar contraseña</h1>
                                </center>
                                <br>
                                <div class="form-group">
                                    <lable>
                                        <i class="fi-session fi-rr-user">E-mail *</i>
                                        <input type="text" id="userName" name="email" placeholder="Correo electronico"
                                            class="form-control" autofocus required>
                                    </lable>
                                </div>
                                <button class="btn btn-success btn-block">Enviar Token</button>
                                <br><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>



<!--this is the js of the new navbar, not delete--->
{{>web/filesOldWeb/js}}