<link rel="stylesheet" href="/css/session.css">
<center>
<section class="body-session">
    <div class="container ">
        <div class="row">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/links/restart-password" method="POST">
                            <center>
                                <h1 class="title-session">Reiniciar contraseña</h1>
                            </center>
                            <br>
                            <div class="form-group">
                                <lable>
                                    <i class="fi-session fi-rr-user">E-mail *</i>
                                    <input type="text" id="userName" name="email" placeholder="Correo electronico"
                                        class="form-control" autofocus required>
                                </lable>
                            </div>
                            <button class="btn btn-primary btn-block">Enviar Token</button>
                            <br><br><br>
                            <div class="mt-3">
                                <a class="link-session" href="/links//install-desktop">Iniciar sesion</a>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</center>