<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/addUser/addUser.css">
    {{>web/filesOldWeb/styles}}
    <link rel="stylesheet" href="/css/web/web.css">
</head>
<br><br>
<div class="container">
    <h1 class="title-main-2">Terminos y condiciones de</h1>
    <h1 class="title-main">uso de Füd Technology 📜</h1>
    <hr>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Proemio</h1>
    Al ingresar y utilizar este portal de Internet, cuyo nombre de dominio es www.fud-tech.cloud,
    propiedad de Füd Technology S.A. de C.V., que en lo sucesivo se denominará “Füd, Software
    SAAS para franquicias”,
    el usuario está aceptando los Términos y condiciones de uso contenidos en este
    convenio y declara expresamente su aceptación utilizando para tal efecto medios
    electrónicos, en términos de lo dispuesto por el artículo 1803 del Código Civil Federal.

    En caso de no aceptar en forma absoluta y completa los términos y condiciones de este
    convenio, el usuario deberá abstenerse de acceder, utilizar y observar el sitio web
    www.fud-tech.cloud.

    Y en caso de que el usuario acceda, utilice y observe el sitio web www.fud-tech.cloud se
    considerará como una absoluta y expresa aceptación de los Términos y Condiciones de uso aquí
    estipulados.

    La sola utilización de dicha página de Internet le otorga al público en general la condición
    de usuario (en adelante referido como el «usuario» o los «usuarios») e implica la
    aceptación, plena e incondicional, de todas y cada una de las condiciones generales y
    particulares incluidas en estos Términos y Condiciones de uso publicados por Füd Technology,
    en el momento mismo en que el usuario acceda al sitio web.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Convenio</h1>
    Convenio de adhesión para el uso de la página de Internet www.fud-tech.cloud que celebran: por una
    parte, Füd Technology y, por la otra, el usuario, sujetándose, ambas partes, a lo
    establecido en este documento.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Licencia</h1>
    • Por virtud de la celebración de este convenio, “Füd Technology” otorga y concede al
    usuario el derecho no exclusivo, revocable y no transferible de ver y utilizar el sitio web
    www.fud-tech.cloud de conformidad con los Términos y Condiciones de uso que aquí se estipulan.
    Para los efectos del presente convenio, las partes acuerdan que por «usuario» se entenderá a
    cualquier persona de cualquier naturaleza que ingrese al sitio web www.fud-tech.cloud y/o a
    cualquiera de las sub-páginas que despliegan su contenido y/o a la persona de cualquier
    naturaleza que se dé de alta y/o use cualquiera de los servicios que se ofrecen a través de
    dicha página.
    <br><br>
    • El usuario sólo podrá imprimir y/o copiar cualquier información contenida o publicada en
    el
    sitio web www.fud-tech.cloud exclusivamente para uso personal, queda terminantemente prohibido el
    uso comercial de dicha información. En caso de ser persona moral se sujetará a lo dispuesto
    por el artículo 148, fracción IV de la Ley Federal del Derecho de Autor.
    <br><br>
    • La reimpresión, publicación, distribución, asignación, sub-licencia, venta, reproducción
    electrónica o por otro medio, parcial o total, de cualquier información, documento o gráfico
    que aparezca en el sitio web www.fud-tech.cloud, para cualquier uso distinto al personal no
    comercial le está expresamente prohibido al usuario, a menos de que cuente con la
    autorización previa y por escrito de Füd Technology, Software para franquicias.

    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Reglas para el uso del sitio web</h1>
    El usuario y Füd Technology, están de acuerdo en que la utilización del sitio web
    www.fud-tech.cloud se sujetará a las siguientes reglas:

    Información contenida en el sitio web www.fud-tech.cloud. El usuario reconoce y acepta que la
    información publicada o contenida en dicho sitio será claramente identificada de forma tal
    que se reconozca que la misma proviene y ha sido generada por Füd Technology, Software para
    franquicias o por sus proveedores.

    No obstante, la información, conceptos y opiniones publicadas en dicho sitio no
    necesariamente reflejan la posición de Füd Technology, Software para franquicias, ni de sus
    empleados,
    oficiales, directores, accionistas, licenciatarios y concesionarios (en lo sucesivo los
    «afiliados»). Por esta razón, Füd Technology, Software para franquicias no se hace
    responsable por ninguna de
    las informaciones, opiniones y conceptos que se emitan en la página web referida. En este
    caso, se recomienda al usuario consultar con un especialista y/o profesional en la materia.
    Asimismo, Füd Technology, Software para franquicias no se hace responsable de la información
    contenida en la
    página de Internet, incluidas las sub-páginas, en el entendido de que el uso y seguimiento
    de la misma es bajo riesgo y responsabilidad del usuario.

    Füd Technology, se reserva el derecho de bloquear el acceso o remover en forma parcial
    o total toda información, comunicación o material que a su exclusivo juicio pueda resultar:
    <br>i) abusivo, difamatorio u obsceno;
    <br>ii) fraudulento, artificioso o engañoso;
    <br>iii) violatorio
    de derechos de autor, marcas, confidencialidad, secretos industriales o cualquier derecho de
    propiedad intelectual de un tercero;
    <br>iv) ofensivo o;
    <br>v) que de cualquier forma contravenga lo establecido en este convenio. 
    <br><br>
    Si el usuario desea obtener mayor información de un tema en
    específico proveído por Füd Technology, o sus proveedores deberá consultarlo
    directamente con cada uno de ellos, según corresponda, y/o con un especialista en la
    materia.
    <br><br>
    El usuario reconoce que Füd Technology, Software para franquicias no controla o censura
    previamente el contenido
    disponible en la página de Internet. Por tal motivo, Füd Technology, Software para
    franquicias no asume ninguna
    responsabilidad por el contenido provisto a dicha página por proveedores independientes o
    ajenos a Füd Technology, Software para franquicias y no tiene el control editorial sobre el
    contenido,
    información y/o material generado y/o provisto por terceros. Todas las opiniones, consejos,
    declaraciones, servicios, ofertas u otras informaciones o contenidos expresados o puestos a
    disposición del público por terceros, pertenecen a su respectivo autor y Füd Technology,
    Punto de
    Venta no asume responsabilidad alguna frente a ello. De la misma forma, Füd Technology,
    Punto de
    Venta no garantiza la exactitud, veracidad, amplitud y/o utilidad de cualquier contenido
    provisto por tales terceros. Adicionalmente, Füd Technology, Software para franquicias no es
    responsable ni
    garantiza la exactitud, exhaustividad, veracidad y/o confiabilidad de cualquier opinión,
    información, consejo o declaración expresados por Füd Technology, Software para franquicias
    a través de su
    página de Internet y bajo ninguna circunstancia Füd Technology, Software para franquicias
    será responsable de
    cualquier daño y/o perjuicio, directo o indirecto, causado en virtud de la confianza que el
    usuario deposite en información obtenida a través de su sitio web. Füd Technology, se
    reserva el derecho de suprimir o modificar el contenido de esta página que, a exclusivo
    juicio de Füd Technology, Software para franquicias, no cumpla con sus estándares o que
    pudiera resultar
    contrario al ordenamiento jurídico vigente y, por consiguiente, no será responsable por
    cualquier falla o tardanza que se genere al eliminar tal material.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Formatos</h1>
    Los usuarios reconocen que, al proporcionar la información de carácter personal requerida en
    alguno de los servicios que se prestan en este sitio web, otorgan a Füd Technology la
    autorización señalada en el artículo 109 de la Ley Federal del Derecho de Autor. En todos
    los casos, los usuarios responderán por la veracidad de la información proporcionada a
    Füd Technology. Asimismo, para la prestación de servicios, el usuario se obliga
    además a aceptar los términos y condiciones estipulados para tal efecto.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Derechos de autor y propiedad industrial
    </h1>
    Füd Technology, el sitio web www.fud-tech.cloud, sus logotipos y todo el material que
    aparece en dicho sitio, son marcas, nombres de dominio, nombres comerciales y obras
    artísticas propiedad de sus respectivos titulares y están protegidos por los tratados
    internacionales y las leyes aplicables en materia de propiedad intelectual y derechos de
    autor. Los derechos de autor sobre el contenido, organización, recopilación, compilación,
    información, logotipos, fotografías, imágenes, programas, aplicaciones, y en general
    cualquier información contenida o publicada en el sitio web www.fud-tech.cloud se encuentran
    debidamente protegidos a favor de Füd Technology, sus afiliados, proveedores y/o de
    sus respectivos propietarios, de conformidad con la legislación aplicable en materia de
    propiedad intelectual e industrial. Se prohíbe expresamente al usuario modificar, alterar o
    suprimir, ya sea en forma total o parcial, los avisos, marcas, nombres comerciales, señas,
    anuncios, logotipos o en general cualquier indicación que se refiera a la propiedad de la
    información contenida en el sitio señalado. En caso de que el usuario transmita a Füd
    Technology,
    cualquier información, programas, aplicaciones, software o en general
    cualquier material que requiera ser licenciado a través del sitio web www.fud-tech.cloud, el
    usuario otorga con este acto a Füd Technology, una licencia perpetua, universal,
    gratuita, no exclusiva, mundial y libre de regalías, que incluye los derechos de
    sublicenciar, vender, reproducir, distribuir, transmitir, crear trabajos derivados,
    exhibirlos y ejecutarlos públicamente. Lo establecido en el párrafo anterior se aplicará
    igualmente a cualquier otra información que el usuario envíe o transmita a Füd Technology,
    incluyendo, sin limitación alguna, ideas para renovar o mejorar el sitio web
    www.fud-tech.cloud.), ya sea que éstas hayan sido incluidas en cualquier espacio de la página
    señalada o en virtud de otros medios o modos de transmisión conocidos o que sean
    desarrollados en el futuro. Por lo anterior, el usuario renuncia expresamente con este acto
    a llevar a cabo cualquier acción, demanda o reclamación en contra de Füd Technology,
    sus afiliados o proveedores por cualquier actual o eventual violación de cualquier derecho
    de autor o propiedad intelectual derivado de la información, programas, aplicaciones,
    software, ideas y demás material que el propio usuario envíe al sitio web www.fud-tech.cloud. Es
    nuestra política actuar contra las violaciones que en materia de propiedad intelectual se
    pudieran generar u originar según lo estipulado en la legislación y en otras leyes de
    propiedad intelectual aplicables, incluyendo la eliminación o el bloqueo del acceso a
    material que se encuentra sujeto a actividades que infrinjan el derecho de propiedad
    intelectual de terceros. En caso de que algún usuario o tercero consideren que cualquiera de
    los contenidos que se encuentren o sean introducidos en dicho sitio www.fud-tech.cloud y/o
    cualquiera de sus servicios, violen sus derechos de propiedad intelectual deberán enviar una
    notificación a la siguiente dirección <b>{{>web/email}}</b>, en la que indiquen:
    <br>
    <br> i) datos personales
    verídicos (nombre, dirección, número de teléfono y dirección de correo electrónico del
    reclamante);
    <br> ii) firma autógrafa con los datos personales del titular de los derechos de
    propiedad intelectual;
    <br>iii) indicación precisa y completa del (los) contenido (s) protegido
    (s) mediante los derechos de propiedad intelectual supuestamente infringidos, así como la
    localización de dichas violaciones en el sitio web referido;
    <br>iv) declaración expresa y clara
    de que la introducción del (los) contenido (s) indicado (s) se ha realizado sin el
    consentimiento del titular de los derechos de propiedad intelectual supuestamente
    infringidos;
    <br> v) declaración expresa, clara y bajo la responsabilidad del reclamante de que
    la información proporcionada en la notificación es exacta y de que la introducción del (los)
    contenido (s) constituye una violación de dichos derechos.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Material publicitario</h1>
    El usuario reconoce y acepta que Füd Technology es una organización independiente de
    terceros patrocinadores y anunciantes cuya información, imágenes, anuncios y demás material
    publicitario o promocional (en lo subsecuente «material publicitario›) puede ser publicado
    en el sitio web www.fud-tech.cloud. El usuario reconoce y acepta que el material publicitario no
    forma parte del contenido principal que se publica en dicho sitio. Asimismo, reconoce y
    acepta con este acto que este material se encuentra protegido por las leyes que en materia
    de propiedad intelectual e industrial resulten aplicables.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Negación de garantías</h1>
    El usuario está de acuerdo que la utilización del sitio web www.fud-tech.cloud se realiza bajo su
    propio riesgo y que los servicios y productos que ahí se prestan y ofrecen se prevén sobre
    una base «tal cual» y «según sean disponibles». Füd Technology no garantiza que la
    página señalada satisfaga los requerimientos del usuario o que los servicios que en ella se
    ofrecen no sufran interrupciones, sean seguros o estén exentos de errores. Füd Technology
    no garantiza o avala en ninguna forma la veracidad, precisión, legalidad, moralidad o
    ninguna otra característica del contenido del material que se publique en el sitio web
    www.fud-tech.cloud. Füd Technology se libera de cualquier responsabilidad y condiciones,
    tanto expresas como implícitas, en relación con los servicios e información contenida o
    disponible en o a través de esta página web; incluyendo, sin limitación alguna:
    <br>a) La disponibilidad de uso del sitio web www.fud-tech.cloud.
    <br> b) No obstante lo anterior, Füd Technology, Software para franquicias o sus proveedores
    podrán actualizar el contenido de la página constantemente, por
    lo que se solicita al usuario tomar en cuenta que algunas informaciones publicitadas o
    contenidas en o a través de este sitio web pueden haber quedado obsoletas y/o contener
    imprecisiones o errores tipográficos u ortográficos.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Limitaciones a la responsabilidad</h1>
    Hasta el máximo permitido por las leyes aplicables, Füd Technology no será
    responsable, en ningún caso, por daños directos, especiales, incidentales, indirectos, o
    consecuenciales que en cualquier forma se deriven o se relacionen con:
    <br>a) El uso o ejecución
    del sitio web www.fud-tech.cloud, con el retraso o la falta de disponibilidad de uso de Füd
    Technology
    <br> b) La proveeduría o falta de la misma de servicios de cualquier información o
    gráficos contenidos o publicados en o a través del sitio señalado.
    <br> c) La actualización o falta de actualización de la información.
    <br> d) La alteración o modificación, total o parcial,
    de la información después de haber sido incluida en dicho sitio.
    <br> e) Cualquier otro aspecto o
    característica de la información contenida o publicada en la página web o a través de las
    ligas que eventualmente se incluyan en este sitio.
    <br> f) La proveeduría o falta de proveeduría
    que los demás servicios, todos los supuestos anteriores serán vigentes, aún en los casos en
    que se le hubiere notificado o avisado a Füd Technology, acerca de la posibilidad de
    que se ocasionaran dichos daños.
    Modificaciones al sitio web

    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Limitaciones a la responsabilidad</h1>
    Füd Technology podrá en cualquier momento y cuando lo considere conveniente, sin
    necesidad de avisar al usuario, realizar correcciones, adiciones, mejoras o modificaciones
    al contenido, presentación, información, servicios, áreas, bases de datos y demás elementos
    de dicho sitio, sin que ello de lugar ni derecho a ninguna reclamación o indemnización, ni
    que esto implique reconocimiento de responsabilidad alguna a favor del usuario.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Modificaciones al convenio</h1>
    Füd Technology el derecho de modificar los Términos y condiciones de uso
    de este convenio en cualquier momento, siendo efectivas dichas modificaciones de forma
    inmediata por medio de:
    <br> a) La publicación en el sitio web www.fud-tech.cloud del convenio
    modificado.
    <br> b) La notificación al usuario sobre dichas modificaciones. De esta forma, el
    usuario está de acuerdo en revisar dicho convenio periódicamente con la finalidad de
    mantenerse al tanto de dichas modificaciones. No obstante lo anterior, cada vez que el
    usuario acceda al sitio señalado se considerará como una aceptación absoluta a las
    modificaciones del presente convenio.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Términos adicionales</h1>
    Ocasionalmente, Füd Technology podrá agregar a los Términos y condiciones de uso del
    presente convenio provisiones adicionales relativas a áreas específicas o nuevos servicios
    que se proporcionen en o a través del sitio web www.fud-tech.cloud (en lo subsecuente «términos
    adicionales»), los cuales serán publicados en las áreas específicas o nuevos servicios de
    dicho sitio para su lectura y aceptación. El usuario reconoce y acepta que estos términos
    adicionales forman parte integrante del presente convenio para todos los efectos legales a
    que haya lugar.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Cesión de derechos</h1>
    Füd Technologypodrá, en cualquier momento y cuando así lo estime conveniente, ceder
    total o parcialmente sus derechos y obligaciones derivados del presente convenio. En virtud
    de dicha cesión, Füd Technology quedará liberada de cualquier obligación a favor del
    usuario, establecida en el presente convenio.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Indemnización</h1>
    El usuario está de acuerdo en indemnizar a Füd Technology, sus afiliados,
    proveedores, vendedores y asesores por cualquier acción, demanda o reclamación (incluso de
    honorarios de abogados y de costas judiciales) derivadas de cualquier incumplimiento por
    parte del usuario al presente convenio; incluyendo, sin limitación de alguna de las
    derivadas de:
    <br>a) Cualquier aspecto relativo al uso del sitio web www.fud-tech.cloud
    <br>b) La información contenida o disponible en o a través de dicho sitio o de injurias,
    difamación o
    cualquier otra conducta violatoria del presente convenio por parte del usuario en el uso de
    la página web señalada.
    <br> c) La violación a las leyes aplicables o tratados internacionales
    relativos a los derechos de autor o propiedad intelectual, contenidos o disponibles en, o a
    través de dicho sitio web.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Terminación</h1>
    Füd Technology, se reserva el derecho, a su exclusiva discreción, y sin necesidad de
    aviso o notificación al usuario, para:
    <br>a) Terminar definitivamente el presente convenio.
    <br>b) Descontinuar o dejar de publicar definitivamente el sitio web www.fud-tech.cloud sin
    responsabilidad alguna para Füd Technology, sus afiliados o proveedores.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Subsistencia</h1>
    Estos Términos y condiciones de uso, así como los términos adicionales, constituyen el
    acuerdo íntegro entre las partes, y sustituye cualquier otro acuerdo o convenio celebrado
    con anterioridad. Cualquier cláusula o provisión del presente convenio, así como de los
    términos adicionales, legalmente declarada inválida, será eliminada o modificada a elección
    de Füd Technology, Software para franquicias, con la finalidad de corregir su vicio o
    defecto. Sin embargo, el
    resto de las cláusulas o provisiones mantendrán su fuerza, obligatoriedad y validez.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">No renuncia de derechos</h1>
    La inactividad por parte de Füd Technology, sus afiliados o proveedores al ejercicio
    de cualquier derecho o acción derivados del presente convenio, en ningún momento deberá
    interpretarse como renuncia a dichos derechos o acciones.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Legislación aplicable y jurisdicción</h1>
    Este convenio estará sujeto y será interpretado de acuerdo con las leyes y ante los tribunales de PJESLP, San Luis
    Potosi, México.
    <br><br>
    <h1 class="title-main-2" style="font-size: 1.5rem;">Pagos y Registros</h1>
    Füd Technology, Software para franquicias, usa servicios de terceros para administrar las suscripciones 
    y análisis en la plataforma.
    <br>
    <p>
        <b>Pagos con Stripe:</b> Para procesar los pagos y gestionar las suscripciones, utilizamos Stripe, un proveedor de servicios de pago líder en la industria. Stripe cumple con los estándares de seguridad más altos, incluyendo el cumplimiento con PCI-DSS (Payment Card Industry Data Security Standard). Esto significa que su información de pago está protegida con encriptación avanzada y se maneja de manera segura.
    </p>
    <br>
    <p>
        Al registrarse para una suscripción, la información de su tarjeta de crédito/débito se transfiere directamente a Stripe y nunca se almacena en nuestros servidores. Stripe utiliza y almacena esta información únicamente para el propósito de procesar los pagos y cumplir con las obligaciones de facturación y administración de suscripciones.
    </p>
    <br>
    <p>
        Además, Stripe nos proporciona herramientas analíticas para ayudarnos a entender y optimizar el uso de nuestros servicios, garantizando siempre la privacidad y la protección de sus datos personales.
    </p>
    <br>
    <p>
        Para más detalles sobre cómo Stripe maneja su información, puede consultar la <a href="https://stripe.com/privacy" target="_blank">Política de Privacidad de Stripe</a>.
    </p>
    <br><br>
    <a href="/fud/signup" class="box-btn">Hagámoslo! 💪</a>
    <br><br>
</div>

{{>web/filesOldWeb/js}}
