.container-ad{
    background-color: var(--color-company);
    width: 100%;
    height: 180px;
    border-radius: 12px;
}

.card-ad{
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ad-1{
    background-color: #6513CF;
}

.btn-marketplace{
    background-color: white;
    color: black;
    border-color: transparent;
}

.title-marketplace{
    color: #3179CE;
    font-size: 1.5rem;
}

.btn-marketplace-buy {
    background-color: #13D65C;
    border: none;
    color: white;
    height: 50px;
    width: 70%; /* Asegura que el botón ocupe el 100% del ancho del contenedor */
    border-radius: 8px; /* Mejora la forma del borde */
    font-size: 16px; /* Tamaño de fuente adecuado */
    font-weight: bold; /* Negrita para el texto */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    display: inline-block; /* Asegura que el botón se comporte correctamente en su contenedor */
}

.install-marketplace{
    color: rgba(0,0,0,.5);
}

.price-marketplace{
    color: #13D65C;
    font-size: 1.2rem;
}

.btn-marketplace-buy:hover {
    background-color: #11c253; 
    transform: translateY(-6px); 
    height: 53px; 
    width: 72%; 
}

.btn-marketplace-buy:active {
    background-color: #0fb04e; 
    transform: translateY(0); 
}

.btn-marketplace-buy:focus {
    outline: none; 
    box-shadow: 0 0 0 4px rgba(19, 214, 92, 0.3); 
}

.card-ad {
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/**/
.fi-start{
    color: rgb(247, 247, 118);
}
.container-marketplace{
    border-radius: 20px;
    background-color: white;
    width: 100%;
    margin: .5rem;
    padding: 15px;
}

.img-marketplace{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex; /* Establece el contenedor como un contenedor flex */
    justify-content: center; /* Alinea los elementos horizontalmente en el centro */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.img-marketplace img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.title-marketplace{
    font-size: 2rem;
    color: black;
}

.price-marketplace{
    color: #13D65C;
    font-size: 1.2rem;
    margin: 0;
}

.install-marketplace{
    color: rgba(0,0,0,.5);
}

.btn-marketplace-buy {
    background-color: #13D65C;
    border: none;
    color: white;
    height: 50px;
    width: 225px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, height 0.3s, width 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-right: 2rem;
}

.btn-marketplace-buy:hover {
    background-color: #11c253;
    transform: translateY(-2px);
    height: 53px;
    width: 228px;
}

.btn-marketplace-buy:active {
    background-color: #0fb04e;
    transform: translateY(0);
}

.btn-marketplace-buy:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(19, 214, 92, 0.3);
}
/*
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 40px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.4s;
    margin: 40px 5px;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    position: absolute;
    top: 30%;
    right: -175%;
    transform: translateY(-50%);
    border-radius: 20px;
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

.title-buy {
    color: black;
}

.price-marketplace {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FF002A; 
}

@media all and (max-width: 500px) {
    .cards-list {
        flex-direction: column;
        align-items: center;
    }

    .card .card_title {
        right: 0;
        left: 0;
        transform: translate(0, -50%);
    }
}
*/