
<style>
</style>

<div class="container">
    <br>
    <label for=""><i class="fi-icon fi-sr-inventory-alt"></i> Ajuste de inventario de forma masiva</label>
    <hr>
    {{>free/inventory/table}}
    {{>free/inventory/popSearch}}
    {{>free/inventory/popEditQuantity}}
</div>

<script>
  check_if_products_exist();
</script>