<link rel="stylesheet" href="/css/manager/employee/employee.css">
<br>
<div class="container ">
    <div class="video-help" data-id="help-create-provider">
        <div class="help-content">
            <p class="help-title">Estos videos podrían ayudarte:</p>
            <div class="videos">
                        <iframe loading="lazy" src="https://www.youtube.com/embed/XSrO37lqRcI?si=nlqgsQNgI2VrLIV7"
                            allowfullscreen></iframe>
            </div>
            <button class="hide-help">✓ Ya lo sé</button>
        </div>
        <div class="help-toggle">¿Necesitas ayuda?</div>
    </div>

    <div class="row">
        <div class="col mx-auto">
            <label class="form-group sub-title"><i class="fi-icon fi-ss-truck-side"></i> Provedores</label><hr>
            {{>CEO/providers/browser}}
            {{>manager/providers/table}}
        </div>
    </div>
</div>
