<head>
    <link rel="stylesheet" href="/css/manager/employee/employee.css">
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <label class="form-group sub-title"><i class="fi-icon fi-ss-truck-side"></i> Providers</label><hr>
                {{>CEO/providers/browser}}
                {{>manager/providers/table}}
            </div>
        </div>
    </div>
</body>
</html>