<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/addUser/addUser.css">
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        {{#each company}} 
                        <form action="/fud/{{id}}/add-new-branch" method="POST" enctype="multipart/form-data">      
                                <br>
                                <center><label><i class="fi-icon fi-sr-store-alt"></i>Add a new branch for {{name}}</label></center>      
                                <hr>      
                        {{/each}} 
                            <div class="form-group">
                                <label>ID subscription *</label><br>
                                <input type="tex" class="form-control" name="idSubscription" placeholder="ID subscription"  maxlength="60" autofocus required>
                            </div>
                            <div class="form-group">
                                <label>Name Branch *</label><br>
                                <input type="tex" class="form-control" name="name" placeholder="Name Branch"  maxlength="60" required>
                            </div>
                            <div class="form-group">
                                <label>Alias *</label><br>
                                <input type="tex" class="form-control" name="alias" placeholder="Alias"  maxlength="50"  required>
                            </div>
                            <div class="form-group">
                                <label>Representative *</label><br>
                                <input type="tex" class="form-control" name="representative" placeholder="Representative"  maxlength="100" required>
                            </div>
                            <table>
                                <th>
                                    <td>
                                        <div class="form-group">
                                            <label>Phone</label><br>
                                            <input type="tex" class="form-control" name="phone" placeholder="Phone"  maxlength="16">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>Cell Phone</label><br>
                                            <input type="tex" class="form-control" name="cell_phone" placeholder="Cell Phone"  maxlength="16">
                                        </div>
                                    </td>
                                </th>
                            </table>
                            <div class="form-group">
                                <label>E-mail *</label><br>
                                <input type="email" class="form-control" name="email" placeholder="E-mail"  maxlength="100" required>
                            </div>
                            
                            <div class="form-group">
                                <label>Country *</label><br>
                                <select id="country" class="form-control" name="country">
                                    {{#each country}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Municipality *</label><br>
                                <input type="tex" class="form-control" name="municipality"  placeholder="Municipality" required>
                            </div>
                            <div class="form-group">
                                <label>City *</label><br>
                                <input type="tex" class="form-control" name="city" placeholder="City"  required>
                            </div>
                            <div class="form-group">
                                <label>Cologne *</label><br>
                                <input type="tex" class="form-control" name="cologne" placeholder="Cologne" required>
                            </div>
                            <div class="form-group">
                                <label>Address *</label><br>
                                <input type="tex" class="form-control" name="street" placeholder="Address"  maxlength="30" required>
                            </div>
                            <div class="form-group">
                                <label>Outer Numbers</label><br>
                                <input type="tex" class="form-control" name="num_o" placeholder="Outer Number"  maxlength="5">
                            </div>
                            <div class="form-group">
                                <label>Interior Number</label><br>
                                <input type="tex" class="form-control" name="num_i" placeholder="Interior Number"  maxlength="5">
                            </div>
                            <div class="form-group">
                                <label>Postal Code *</label><br>
                                <input type="tex" class="form-control" name="postal_code" placeholder="Interior Number"  pattern="[0-9]{5}" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/manager/addEmployee.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="js/chosen.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".chosen-select").chosen({no_results_text:'No hay resultados para '});
    });
    </script>


</body>
</html>