    <style>
        .section-center {
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: white;
            padding: 40px;
            min-height: 500px; /* Asegura que ocupe la pantalla completa */
        }

        .section-center h1 {
            font-size: 28px;
            color: #0066CC; /* Azul */
            margin-bottom: 20px;
        }

        .section-center p {
            font-size: 18px;
            color: #333; /* Texto oscuro */
            margin-bottom: 30px;
            max-width: 600px; /* Limitar ancho para mejor legibilidad */
        }

        .section-center img {
            width: auto;
            height: 300px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }

        /* Ajuste para dispositivos móviles */
        @media (max-width: 768px) {
            .section-center img {
                width: auto;
                height: 100px;
            }
        }
    </style>
    <div class="section-center">
        <br>
        <label class="section-title">¡Obtén tu propia </label> <label class="section-title section-title-message">Página Web y Menú Digital!</label> <label class="section-title"> en cuestión de minutos</label>
        <center>
            <p>Facilita las compras para tus clientes y aumenta tus ventas con la versatilidad de tener una tienda física y en línea en un solo sistema.</p>
        </center>
        <img src="https://olaclick.com/wp-content/uploads/2023/02/olaclick-computator-crunch-768x510.png" alt="Página Web y Menú Digital">
        <br><br><br>
    </div>