<style>
    .container-solutions-most{
        background-color: white;
    }

    .fi-i-nm{
        color: #0066CC;
        font-family: 4rem;
    }
</style>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

<div class="container-solutions-most">
<div class="container">
    <br>
    <h2>¿Porque tu y el resto de negocios aman a ED PLus? 🚀</h2>
    <br>
    <div class="row">
        <div class="col me-4">
            <i class="fi fi-ss-shopping-cart fi-i-nm"></i>
            <h3 class="section-title">El mejor Kit Punto De Venta de México</h3>
            <p>
                ED Plus vende y gestiona todo tu inventario y ganancias para evitar errores humanos. Vende con la mejor velocidad y facilidad par atu negocio.
            </p>
        </div>
        <div class="col me-4">
            <i class="fi fi-ss-stats fi-i-nm"></i>
            <h3 class="section-title">Reportes y análitica de tu negocio con ED Reports</h3>
            <p>
                Mejora la administración de tu empresa y ten el control total de tu negocio con los reportes de ED Reports. 
            </p>
        </div>
        <div class="col me-4">
            <i class="fi fi-rr-computer fi-i-nm"></i>
            <h3 class="section-title">Compatible con la mejor tecnología del mercado</h3>
            <p>
                ED Plus es compatible con los tres sistemas operativos más importantes, distintas impresoras térmicas y otros periféricos.
            </p>
        </div>
        <div class="col me-4">
            <i class="fi fi-rr-store-alt fi-i-nm"></i>
            <h3 class="section-title">Gestión de sucursales para cualquier negocio</h3>
            <p>
                Gestiona tu cadena de negocios o franquicia en México si cuentas con más de una sucursal con un solo kit punto de venta para negocios.
            </p>
        </div>
    </div>
</div>
</div>