<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios</title>
    <style>
        .container {
            max-width: 1200px;
            margin: 40px auto;
            padding: 20px;
            text-align: center;
            border-radius: 15px;
        }
        .main-title {
            font-size: 32px;
            font-weight: bold;
            color: #0066CC; /* Color azul */
            margin-bottom: 20px; /* Espacio debajo del título */
            text-align: center; /* Centrar el título */
        }

        .sub-title {
            font-size: 18px;
            color: #333; /* Color gris oscuro para el subtítulo */
            text-align: center; /* Centrar el subtítulo */
            margin: 0;
        }


        .toggle-switch {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
        }

        .toggle-switch input {
            display: none;
        }

        .toggle-switch label {
            display: inline-block;
            width: 60px;
            height: 30px;
            background-color: #ddd;
            border-radius: 15px;
            position: relative;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .toggle-switch label::before {
            content: '';
            position: absolute;
            width: 26px;
            height: 26px;
            background-color: white;
            border-radius: 50%;
            top: 2px;
            left: 2px;
            transition: transform 0.3s ease;
        }

        .toggle-switch input:checked + label {
            background-color: #4356FE;
        }

        .toggle-switch input:checked + label::before {
            transform: translateX(30px);
        }

        .discount-text {
            margin-left: 15px;
            font-size: 16px;
            font-weight: bold;
            color: #4356FE;
            transition: opacity 0.3s ease;
        }

        .pricing-table {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            margin-top: 20px;
        }

        .pricing-plan {
            background: white;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
        }

        .pricing-plan h2 {
            color: #0066CC;
            font-size: 28px;
            margin-bottom: 10px;
        }

        .pricing-plan p {
            margin: 10px 0;
        }

        .price {
            font-size: 40px;
            font-weight: bold;
            color: #222;
            margin: 10px 0;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 30px;
            background: linear-gradient(90deg, #3A88D8, #0066CC);
            color: white;
        }

        .features {
            list-style: none;
            padding: 0;
            margin: 20px 0;
            text-align: left;
            font-size: 16px;
            padding-left: 20px;
        }

        .features li {
            margin-bottom: 10px;
        }

        .features li span {
            margin-left: 10px;
        }

        .features li::before {
            content: '\2713';
            color: #4356FE;
            font-weight: bold;
            margin-right: 5px;
        }

        .features li.danger::before {
            content: '\00D7'; /* Código Unicode para "X" */
            color: red; /* Puedes cambiar el color a lo que prefieras */
            font-weight: bold;
            margin-right: 5px;
        }

        .highlight {
            background-color: #4356FE;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 15px;
            font-size: 14px;
        }

        .promotion, .promotion-month{
            font-size: 14px;
            color: #555;
            margin-top: 10px;
        }

        .pricing-plan.popular {
            background-color: #0066CC;
            color: white;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
            border: none;
        }

        .pricing-plan.popular h2 {
            color: #fff;
        }

        .pricing-plan.popular .price {
            background: linear-gradient(90deg, #3A88D8, #0066CC);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        .pricing-plan.popular .highlight {
            background-color: #FF6F00;
        }

        .pricing-plan.popular .features li::before {
            color: #fff;
        }

        .pricing-plan.popular .promotion{
            color: #FFDD00;
        }
        .pricing-plan.popular .promotion-month{
            color: white;
        }
        /* Mejora de los botones "Comprar" */
        .pricing-plan .buy-btn {
            background: linear-gradient(90deg, #3A88D8, #0066CC);
            color: white;
            font-size: 18px;
            padding: 15px 30px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            margin-top: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }

        .pricing-plan .buy-btn:hover {
            background: linear-gradient(90deg, #3A88D8, #0066CC);
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
        }

        .pricing-plan .buy-btn:active {
            background: linear-gradient(90deg, #3A88D8, #0066CC);
        }

        .pricing-plan .buy-btn:focus {
            outline: none;
            background: linear-gradient(90deg, #3A88D8, #0066CC);
        }

        .label-app{
            color: rgba(0, 0, 0, 0.7);
        }
        /**/

        /* Contenedor principal de las apps */
        .app-container-pricing {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            padding: 20px;
            width: 80%;
        }

        /* Cada ítem de la app */
        .app-item-pricing {
            display: flex;
            flex-direction: column; /* Apilar los elementos de arriba hacia abajo */
            justify-content: center; /* Centrar el contenido verticalmente */
            align-items: center; /* Centrar el contenido horizontalmente */
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            width: 25px; /* Ajusta el tamaño del contenedor según lo necesario */
            height: 25px; /* Ajusta el tamaño del contenedor según lo necesario */
        }

        .app-item-pricing img {
            width: 150%;
            height: 150%;

            width: 25px;
            height: 25px;

            margin-bottom: 10px; /* Espacio entre la imagen y el texto */
            transform: translateY(20px)
        }

        .app-item-pricing p {
            font-size: 70%;
            font-weight: bold;
            transform: translateY(15px)
        }

        .app-title-business{
            color: white;
        }

        /* Hacer el diseño responsive: en pantallas más pequeñas, 2 columnas */
        @media (max-width: 768px) {
            .app-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        /* En dispositivos muy pequeños, 1 columna */
        @media (max-width: 480px) {
            .app-container-pricing {
                grid-template-columns: 1fr;
            }
            .app-container-pricing {
                grid-template-columns: repeat(2, 1fr);
            }
        }



        /**/
        .message-box {
            background-color: #0066CC; /* Color azul de la empresa */
            color: white; /* Texto blanco */
            border-radius: 32px;
            padding: 20px;
            max-width: 100%;
            height: 120px;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .message-text {
            font-size: 32px;
            margin: 0;
            text-align: left;
            max-width: 80%; /* Limitar ancho del texto */
            font-weight: bold;
        }

        .message-button {
            background-color: #0C87F4;
            color: white;
            padding: 10px 20px;
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            border-radius: 15px;
            width: 20%;
            transition: background-color 0.3s ease;
        }

        .message-button:hover {
            background-color: #0C87F4; /* Color más oscuro en hover */
            color: white; /* Texto blanco en hover */
        }


        /* Estilos para pantallas pequeñas */
        @media (max-width: 768px) {
            .message-box {
                flex-direction: column; /* Pone los elementos en columna */
                height: auto; /* Ajusta la altura automáticamente */
                text-align: center; /* Centra el texto */
            }

            .message-text {
                font-size: 18px; /* Reduce el tamaño del texto */
                max-width: 100%; /* Asegura que el texto no se desborde */
                margin-bottom: 10px; /* Espacio debajo del texto */
            }

            .message-button {
                width: 80%; /* Hace el botón más grande en dispositivos pequeños */
                margin-top: 10px; /* Da espacio entre el texto y el botón */
            }

            .pricing-plan .buy-btn {
                background: linear-gradient(90deg, #3A88D8, #0066CC);
                color: white;
                font-size: 18px;
                padding: 15px 30px;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                width: 100%;
                text-transform: uppercase;
                font-weight: bold;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
                margin-top: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }
        }

        /* Estilos para dispositivos más pequeños como celulares */
        @media (max-width: 480px) {
            .message-text {
                font-size: 16px; /* Ajuste adicional para pantallas más pequeñas */
            }

            .message-button {
                font-size: 14px; /* Reduce el tamaño del texto del botón */
            }

            .pricing-plan .buy-btn {
                font-size: .75rem;
            }
        }
    </style>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
</head>
<body>
    <div class="container" id="my-pricing">
        <h1 class="main-title">¿Listo para comenzar?</h1>
        <p class="sub-title">
            Elige el plan que mejor se adapte a las necesidades tuyas y de tu negocio.
            <br>
            No necesitas tarjeta de crédito para Iniciar.
        </p>
        <br><br>        
        <div class="toggle-switch">
            <input type="checkbox" id="pricingToggle" onclick="togglePricing()">
            <label for="pricingToggle"></label>
            <span class="discount-text">16% de descuento + 1 dispositivo extra</span>
        </div>

        <div class="pricing-table">
            <div class="pricing-plan">
                <br>
                <h2>Tiendas</h2>
                <p class="price">$299 MXN/mes</p>
                <p class="promotion" style="display: none;">$3,000 MXN/Anual + IVA</p>
                <p class="promotion-month">$299 MXN/mes + IVA</p>
                <ul class="features">
                    <li><span>1 empresa</span></li>
                    <li><span>1 Sucursal</span></li>
                    <li><span>1,000 productos</span></li>
                    <li class="danger"><span>insumos</span></li>
                    <li class="danger"><span>combos/Platillos</span></li>
                    <li><span id="pack-1">4 dispositivos</span></li>
                    <li><span>Usuarios ilimitados</span></li>
                    <li><span>Soporte técnico</span></li>

                    <br>
                    <center><label for="" class="label-app">Apps del servicio</label></center>
                    <hr>
                    <div class="app-container-pricing">
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6712/6712868.png" alt="Pedidos">
                            <p>POS</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/679/679922.png" alt="Empleados">
                            <p>Productos</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/2897/2897763.png" alt="Inventario">
                            <p>Inventario</p>
                        </div>
                        
                        <div class="app-item-pricing">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYHZFEDUUqcCN7usAKazDn5Wm0lOdux06U3g&s" alt="Reportes">
                            <p>Provedores</p>
                        </div>

                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6073/6073874.png" alt="Empleados">
                            <p>Empleados</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/11815/11815356.png" alt="Empleados">
                            <p>Clientes</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6784/6784466.png" alt="Empleados">
                            <p>Reportes</p>
                        </div>

                    </div>





                </ul>


                <!---we will see if the exist a user for sale a suscription-->
                {{#if user}}
                    <form action="/links/create-suscription-fud-pack" method="POST">
                        <input type="hidden" name="price_id" value="price_1Qc9kvRofynVwfKYtxEv36vF" />
                        <input type="hidden" name="pack_database" value="1" />
                        <input type="hidden" name="pack_branch" value="1" />
                        <button class="buy-btn" id="checkout-and-portal-button" type="submit">Comprar</button>
                    </form>
                {{else}}
                    <a class="buy-btn" href="#create-my-user">Prueba 15 días gratis.</a>
                {{/if}}
            </div>

            <div class="pricing-plan popular">
                <div class="highlight">Más popular</div>
                <h2>Business</h2>
                <p class="price">$399 MXN/mes</p>
                <p class="promotion" style="display: none;">$4,020 MXN/Anual + IVA</p>
                <p class="promotion-month">$399 MXN/mes + IVA</p>
                <ul class="features">
                    <li><span>1 empresa</span></li>
                    <li><span>Sucursales ilimitadas</span></li>
                    <li><span>3,000 productos</span></li>
                    <li><span>3,000 insumos</span></li>
                    <li><span>300 combos/Platillos</span></li>
                    <li><span id="pack-3">8 dispositivos</span></li>
                    <li><span>Usuarios ilimitados</span></li>
                    <li><span>Soporte técnico</span></li>
                    <br>
                    <center><label for="" class="label-app app-title-business">Apps del servicio</label></center>
                    <hr>
                    <div class="app-container-pricing">
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6712/6712868.png" alt="Pedidos">
                            <p>POS</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/679/679922.png" alt="Empleados">
                            <p>Productos</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/2897/2897763.png" alt="Inventario">
                            <p>Inventario</p>
                        </div>

                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/1147/1147832.png" alt="Empleados">
                            <p>Insumos</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/128/6626/6626465.png" alt="Empleados">
                            <p>Combos</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYHZFEDUUqcCN7usAKazDn5Wm0lOdux06U3g&s" alt="Reportes">
                            <p>Provedores</p>
                        </div>

                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6073/6073874.png" alt="Empleados">
                            <p>Empleados</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/11815/11815356.png" alt="Empleados">
                            <p>Clientes</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6784/6784466.png" alt="Empleados">
                            <p>Reportes</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/3176/3176363.png" alt="Empleados">
                            <p>Ecommerce</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6165/6165633.png" alt="Empleados">
                            <p>Anuncios</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/1198/1198348.png" alt="Empleados">
                            <p>Franquicias</p>
                        </div>
                    </div>
                </ul>
                {{#if user}}
                    <form action="/links/create-suscription-fud-pack" method="POST">
                        <input type="hidden" name="price_id" value="price_1Qc9kvRofynVwfKYtxEv36vF" />
                        <input type="hidden" name="pack_database" value="2" />
                        <input type="hidden" name="pack_branch" value="2" />
                        <button class="buy-btn" id="checkout-and-portal-button" type="submit">Comprar</button>
                    </form>
                {{else}}
                    <a class="buy-btn" href="#create-my-user">Prueba 15 días gratis.</a>
                    <br><br>
                {{/if}}
            </div>

            <div class="pricing-plan">
                <br>
                <h2>Restaurantes</h2>
                <p class="price">$360/mes</p>
                <p class="promotion" style="display: none;">$3,528 MXN/Anual + IVA</p>
                <p class="promotion-month">$369 MXN/mes + IVA</p>
                <ul class="features">
                    <li><span>1 empresa</span></li>
                    <li><span>1 Sucursal</span></li>
                    <li class="danger"><span>productos</span></li>
                    <li><span>1,000 insumos</span></li>
                    <li><span>100 combos/Platillos</span></li>
                    <li><span id="pack-2">4 dispositivos</span></li>
                    <li><span>Usuarios ilimitados</span></li>
                    <li><span>Soporte técnico</span></li>
                    <br>
                    <center><label for="" class="label-app">Apps del servicio</label></center>
                    <hr>
                    <div class="app-container-pricing">
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6712/6712868.png" alt="Pedidos">
                            <p>POS</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/1147/1147832.png" alt="Empleados">
                            <p>Insumos</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/128/6626/6626465.png" alt="Empleados">
                            <p>Combos</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYHZFEDUUqcCN7usAKazDn5Wm0lOdux06U3g&s" alt="Reportes">
                            <p>Provedores</p>
                        </div>

                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6073/6073874.png" alt="Empleados">
                            <p>Empleados</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/11815/11815356.png" alt="Empleados">
                            <p>Clientes</p>
                        </div>
                        <div class="app-item-pricing">
                            <img src="https://cdn-icons-png.flaticon.com/512/6784/6784466.png" alt="Empleados">
                            <p>Reportes</p>
                        </div>
                    </div>
                </ul>
                {{#if user}}
                    <form action="/links/create-suscription-fud-pack" method="POST">
                        <input type="hidden" name="price_id" value="price_1Qc9kvRofynVwfKYtxEv36vF" />
                        <input type="hidden" name="pack_database" value="3" />
                        <input type="hidden" name="pack_branch" value="3" />
                        <button class="buy-btn" id="checkout-and-portal-button" type="submit">Comprar</button>
                    </form>
                {{else}}
                    <a class="buy-btn" href="#create-my-user">Prueba 15 días gratis.</a>
                {{/if}}
            </div>
        </div>
        <br><br>
        <center><label for="">* Costo extra por sucursal.</label></center>
        <center><label for="">* Los precios no incluyen impuestos. Los impuestos se calculan en el siguiente paso.</label></center>



        <br><br><br>
        <div class="message-box">
            <p class="message-text">¿Necesitas un paquete personalizado?, contáctanos</p>
            <a href="https://wa.me/524443042129?text=Busco%20informacion%20sobre%20ED%20Plus" target="_blank" class="message-button"><i class="fi fi-brands-whatsapp"></i> +52 444 304 2129</a>
        </div>
    </div>

    <script>
        function togglePricing() {
            const monthlyPrices = ["$299 MXN", "$399 MXN", "$350 MXN"];
            const yearlyPrices = ["$250 MXN", "$335 MXN", "$294 MXN"];

            const prices = document.getElementById('pricingToggle').checked ? yearlyPrices : monthlyPrices;

            document.querySelectorAll('.price').forEach((price, index) => {
                price.textContent = prices[index];
            });

            const promotions = document.querySelectorAll('.promotion');
            promotions.forEach(promo => {
                promo.style.display = document.getElementById('pricingToggle').checked ? 'block' : 'none';
            });

            const promotionsMonth = document.querySelectorAll('.promotion-month');
            promotionsMonth.forEach(promo => {
                promo.style.display = document.getElementById('pricingToggle').checked ? 'none' : 'block';
            });

            const discountText = document.querySelector('.discount-text');
            discountText.style.opacity = document.getElementById('pricingToggle').checked ? '1' : '0.5';


            ///change the user
            document.getElementById('pack-1').textContent = document.getElementById('pack-1').textContent === "3 dispositivos" ? "4 dispositivos" : "3 dispositivos";
            document.getElementById('pack-2').textContent = document.getElementById('pack-2').textContent === "3 dispositivos" ? "4 dispositivos" : "3 dispositivos";
            document.getElementById('pack-3').textContent = document.getElementById('pack-3').textContent === "8 dispositivos" ? "7 dispositivos" : "8 dispositivos";
        }


        togglePricing()
    </script>
</body>
</html>
