
<style>
    .info-section {
        padding: 60px 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-content {
        max-width: 800px;
        color: #333; /* Color del texto */
    }

    .info-content img{
        height: 450px;
        width: auto;
    }

    .info-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #0066CC; /* Azul para destacar el título */
    }

    .info-description {
        font-size: 18px;
        line-height: 1.6;
        color: #555; /* Gris oscuro */
    }

        /* Ajuste para dispositivos móviles */
        @media (max-width: 768px) {
            .info-content img{
                height: 150px;
                width: auto;
            }
        }
</style>

<section class="info-section">
    <div class="info-content">
        <h2 class="info-title">Imagina una gran variedad de aplicaciones empresariales a tu alcance.</h2>
        <p class="info-description">¿Quieres mejorar algo? Hay una aplicación justo para eso. <br> Sin complicaciones, sin costo y puedes instalarla con un solo clic.</p>
        <img src="/img/web/home2.webp" alt="">
    </div>
</section>
