<style>
    .icon-container-sect{
        background-color: #F3F1FE;
        border-radius: 15px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        color: white;
    }

    .icon-container-sect i{
        color: #6A49F2;
        font-size: 2rem;
        transform: translateY(5px);
    }

    .icon-sect{
        width: 100%;
        height: auto;
    }
</style>
<div class="section-container">
    <div class="section-image">
        <img src="/img/web/img-3.webp" alt="">
    </div>
    <div class="section-text">
        <label class="section-title">Almacenes & Sucursales. </label>
        <p class="section-description">
            Optimiza la gestión de tu negocio centralizando el control de sucursales y accediendo a información clave en
            cualquier momento. Registra tus almacenes y realiza ajustes, traspasos y movimientos de mercancía con
            facilidad. Evita faltantes y excesos, mejorando tu productividad.
        </p>

        <div class="row">
            <div class="col-2">
                <div class="icon-container-sect">
                    <i class="fi-icon fi-br-truck-loading"></i>
                </div>
            </div>
            <div class="col">
                <h6 class="section-title">Sincroniza</h6>
                <p>Comparte inventario, reportes, traspasos y muchas cosas más entre tus sucursales.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="icon-container-sect">
                    <i class="fi-icon fi-ss-earth-americas"></i>
                </div>
            </div>
            <div class="col">
                <h6 class="section-title">Conéctate</h6>
                <p>Con unos cuantos clics conéctate con tus almacenes y sucursales.</p>
            </div>
        </div>
    </div>
</div>