<style>
    /* Contenedor principal */
    .section-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px auto;
        padding: 20px;
        max-width: 1200px;
        gap: 20px;
    }

    /* Estilo del texto */
    .section-text {
        max-width: 50%;
    }

    .section-title {
        font-size: 28px;
        font-weight: bold;
        color: #06294A;
        margin-bottom: 15px;
    }

    .section-title-message{
        color: #0066CC; /* Color azul corporativo */
    }

    .section-description {
        font-size: 18px;
        line-height: 1.6;
        color: #333; /* Color de texto principal */
    }

    /* Estilo de la imagen */
    .section-image img {
        max-width: 100%;
        border-radius: 10px; /* Esquinas redondeadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

    .btn-send-message{
        background: linear-gradient(90deg, #21C791, #28AA4D);
        height: 50px;
        width: 100%;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .btn-send-message:hover{
        color: rgb(16, 90, 22);
    }

    /* Ajuste para dispositivos móviles */
    @media (max-width: 768px) {
        .section-container {
            flex-direction: column;
            text-align: center;
        }

        .section-text {
            max-width: 100%;
        }

        .section-image img {
            margin-top: 20px;
        }
    }
</style>
<div class="section-container">
    <div class="section-text">
        <label class="section-title">Realiza </label> <label class="section-title section-title-message">ventas</label> <label class="section-title"> más fácil que nunca</label>
        <p class="section-description">
            Con una interfaz amigable y diseñada para la máxima eficiencia, llevar a cabo tus transacciones nunca ha sido tan sencillo y rápido. 
            Cada paso se simplifica para que puedas centrarte en lo que realmente importa: tu negocio.
        </p>
        <button class="btn-send-message"  onclick="window.open('https://wa.me/524443042129?text=Busco%20informacion%20sobre%20ED%20Plus', '_blank')"><i class="fi fi-brands-whatsapp"></i> Habla con nosotros</button>
    </div>
    <div class="section-image">
        <img src="/img/web/img-1.webp" alt="Ventas eficientes">
    </div>
</div>

