<head>
    <link rel="stylesheet" href="/css/manager/employee/employee.css">
</head>
<body>
    <br>
    <div class="container">
        <div id="App" class="row pt-5">
            {{>CEO/employee/table}}
            {{>CEO/employee/description}}
        </div>
    </div>

    <script>
        async function delete_employee(idCompany,idUser){
            if(await questionMessage('Eliminar empleado 😬','¿Te gustaría eliminar a este empleado?')){
                window.location.href = "/fud/"+idCompany+'/'+idUser+"/delete-employee";
            }
        }

        function search_employee(){
            var inputUser = document.getElementsByName("usernameSearch")[0];
            console.log(inputUser);
            var username = inputUser.value;
            if (username === "") {

            }else{
                window.location.href = "/Mexico/users/"+username;
            }
        }
    </script>
    <script src="/js/other.js"></script>
    <script src="/js/search.js"></script>
</body>