<link rel="stylesheet" href="/css/manager/employee/employee.css">
<br>
<div class="container">
    <label for=""><i class="fi-icon fi-sr-clock-three"></i> Horarios</label>
    <hr>
    <div class="row">
        <div class="col">
            {{>manager/schedule/browser}}
            {{>manager/schedule/table}}
        </div>
    </div>
</div>
<script src="/manager/schedule/schedule.js"></script>