{{>loading}}
{{>returns/formReturn}}
<br><br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-ss-receipt"></i> Devoluciones</label>
            <hr>
            <div class="row">
                <div class="col-10">
                    <input type="text" placeholder="Buscar un Ticket" class="form-control">
                </div>
                <div class="col-2">
                    <button onclick="open_pop_returns('pop-returns')" class="btn btn-edit">Devolver un producto</button>
                </div>
            </div> 
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    // Aquí defines o asignas la función para que esté lista después del DOM
    async function open_pop_returns(id) {
        show_message_pop(id);
        document.getElementById('search-ticket').focus();
    }

    // Opcional: asignar a window si quieres que sea global
    window.open_pop_returns = open_pop_returns;
    });
</script>