<head>
    <link rel="stylesheet" href="/css/manager/employee/employee.css">
</head>
<body>
    <br>
    <div class="container">
        <div id="App" class="row pt-5">
            {{>manager/employees/table}}
            {{>manager/employees/description}}
        </div>
    </div>
    <script src="/js/other.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/manager/employee/employeeTable.js"></script>
</body>