.board-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    height: 100vh;
    width: 100%;
}

.board {
    display: inline-flex;
    margin: 20px;
    height: 100%;
}
.title-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title-column h4 {
    margin: 0;
}

.title-column button {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    padding: 10px;
    list-style: none;
}

.dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu a {
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    text-decoration: none;
}

.title-column .dropdown-btn.active + .dropdown-menu {
    display: block;
}

.dropdown-item:hover{
    cursor: pointer;
}

.column {
    background-color: transparent;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.column h3 {
    text-align: center;
    margin-bottom: 15px;
}

.task {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task:hover {
    background-color: rgb(228, 226, 226);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-name {
    font-weight: bold;
    text-align: left;
    word-break: break-word; /* Permite que el texto largo se ajuste a una nueva línea */
    overflow-wrap: break-word;
    width: 50%;
}

.task-date {
    text-align: left;
    margin-top: 5px;
    font-size: 0.9em;
}

.task-progress {
    text-align: left;
    margin-top: 5px;
    font-size: 0.9em;
}

/**/
.task {
    min-height: 150px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Necesario para el posicionamiento de la etiqueta */
}

.task:hover {
    background-color: rgb(228, 226, 226);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.task-name {
    font-weight: bold;
    text-align: left;
    width: 90%; 
    max-width: 90%; /* Ajusta el ancho según sea necesario */
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    z-index: 1;
}

.task-date {
    text-align: left;
    margin-top: 5px;
    font-size: 0.9em;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    z-index: 1;
}

.task-progress {
    text-align: left;
    margin-top: 5px;
    font-size: 0.9em;
    z-index: 1;
}

.task-badge {
    position: absolute; /* Posicionamiento absoluto dentro del contenedor */
    top: 0px; /* Ajusta según el espacio que desees desde la parte superior */
    right: 0; /* Ajusta para posicionar la etiqueta a la derecha del contenedor */ /* Color azul */
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    width: 100%;
    height: 10px;
    z-index: 0;
}

.appointment{
    position: absolute;
    top: 70%; /* Ajusta según el espacio que desees desde la parte superior */
    right: 100px; /* Ajusta para posicionar la etiqueta a la derecha del contenedor */ /* Color azul */
    color: rgb(0, 0, 0);
    font-size: 0.8em;
}

.img-employee {
    position: absolute;
    top: 50%; /* Ajusta según el espacio que desees desde la parte superior */
    right: 1px; /* Ajusta para posicionar la etiqueta a la derecha del contenedor */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del borde circular */
    display: flex; /* Centra la imagen dentro del contenedor */
    justify-content: center;
    align-items: center;
}

.img-employee img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    flex-shrink: 0;
}

.stark{
    padding: 10px 10px;
    color: #ffc107;
    /*
    position: absolute;
    top: 70%; 
    right: 75%; 
    color: #ffc107;
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: left;
    */
}

.products{
    background-color: rgba(6, 255, 118, 0.377);
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 20%;
    font-size: 0.8rem;
    font-family:Arial, Helvetica, sans-serif;
}

/**/
.edit-btn {
    position: absolute;
    top: 15px;
    right: 5%;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.add-column-form {
    text-align: right;
    margin: 20px 0;
}

.add-column-form input {
    margin-right: 10px;
}

.board hr {
    margin-bottom: 15px;
}




/***********/
.dropdown-menu-2{
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.dropdown-menu-2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu-2 ul li:hover{
    background-color: #ececec;
}

.dropdown-menu-2.active {
    display: block;
    top: 50px;
}

.task .dropdown-menu-2 {
    right: -35%;
}

.title-column .dropdown-menu-2{
    left: 0;
}