<br>
<div class="container">
    <label for=""><i class="fi-icon fi-ss-cash-register"></i> Boxes</label>
    <hr>
    <div class="row">
        <div class="col">
            {{>manager/box/table}}
        </div>
        <div class="col">
            {{>manager/box/form}}
        </div>
    </div>
</div>

<script src="/js/manager/box/box.js"></script>