<head>
    <link rel="stylesheet" href="/css/store/dish.css">
</head>
<body>
    <br>
    <div class="container">
        <div id="App" class="row pt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <!--this is the search-->
                        {{#each company}}
                            <table class="card-table">
                                <thead>
                                    <tr>
                                        <th class="td1"><input type="text" placeholder="Search a product..." class="form-control" autofocus></th>
                                        <th class="td2"><button class="btn-add" id="{{id}}" onclick="nextWeb(this.id+'/add-dish')">+</button></th>
                                    </tr>
                                </thead>
                            </table>
                        {{/each}}
                    </div>
                    <div class="card-body card-information">
                        <!--this add all the product of the client-->
                        {{#each saucers}}
                            <div class="card mb-4">
                                <div class="card-body">
                                    {{#if img}}
                                        <img class="img-info" src="https://media.gq.com.mx/photos/649391b89ec62ce6c5b091a5/4:3/w_2668,h_2001,c_limit/mejores-hamburguesas.jpg">
                                    {{else}}
                                        <img class="img-info" src="https://cdn-icons-png.flaticon.com/512/776/776443.png">
                                    {{/if}}
                                    <strong>{{name}}</strong>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <!--This is the card for see the description of the product-->
                <div class="card text-center mb-4">          
                    <div class="card-body">
                        <label>barcode</label><br>
                        <img class="img-description" src="https://cdn-icons-png.flaticon.com/512/776/776443.png"><br>

                        <strong>Name</strong>
                        <strong>price $</strong>
                        <br><br>

                        <button class="card-btn-description"><i class="fi-item fi-rr-box-alt"></i>Order details</button>
                        <button class="card-btn-description"><i class="fi-item fi-rr-time-past"></i>History</button>
                        <button class="card-btn-description"><i class="fi-item fi-ts-box-open"></i>--PZA</button>
                        <br><br>

                        <label>
                            Description 
                        </label>
                        <br>
                        <strong>Price $:</strong>

                        <!--this is the different product price-->
                        <br>
                        <div class="card mb-4">
                            <div class="card-bod">
                            <table class="my-table-price">
                                    <thead>
                                        <tr>
                                            <th><label>Tax included</label></th>
                                            <th><label>without taxation</label></th>
                                        </tr>
                                        <tr>
                                            <th><h6>$0</h6></th>
                                            <th><h6>$0</h6></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/store/other.js"></script>
</body>
