<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/store/recipes.css">
</head>
<body>
    <div class="dash-search">
        <table class="dash-board-date">
            <tr>
                <td class="text-muted"><p>Name of a recipe</p></td>
            </tr>
            <tr>
                <td><input class="form-control" type="text"  placeholder="Search a recipes..."></td>
                <td><button class="btn-dash-board-recipes"><i class="fi fi-rr-search"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <!--this is the for-->
                <div class="recipe-card">

                    <aside>

                        <img src="https://www.comedera.com/wp-content/uploads/2023/06/POllo-al-estilo-KFC-shutterstock_721421953.jpg" alt="Red Velvet" class="img-recipes"/>

                        <a href="#" class="button"><span class="icon fi-sr-play"></span></a>
                    </aside>

                    <article>

                        <h2>Chicken KFC</h2>
                        <h3>Postre</h3>

                        <ul>
                            <li><span class="icon fi-sr-user"></span><span>1</span></li>
                            <li><span class="icon fi-rr-time-quarter-to"></span><span>45 min</span></li>
                            <li><span class="icon  fi-rs-signal-alt-1"></span><span>Dificultad</span></li>
                            <li><span class="icon fi-ss-fire-flame-curved"></span><span>560</span></li>
                        </ul>

                        <p>Un pastel de terciopelo rojo —en inglés: Red velvet cake— es un pastel con un color rojo oscuro, rojo
                            brillante o rojo-marrón.</p>

                        <p class="ingredients">
                            <span>Ingredientes:&nbsp;</span>
                            Leche, harina, huevos, vainilla, colorante, azucar,
                            mantequilla.
                        </p>
                        <a class="link-recipes" href="#" target="_blank">Read most</a>
                    </article>

                </div>
            </div>

            <div class="col-6">
                <div class="recipe-card">

                    <aside>

                        <img src="https://dplnews.com/wp-content/uploads/2020/07/dplnews_nuggets_vr220720.jpg" alt="Red Velvet" class="img-recipes"/>

                        <a href="#" class="button"><span class="icon fi-sr-play"></span></a>
                    </aside>

                    <article>

                        <h2>Red Velvet</h2>
                        <h3>Postre</h3>

                        <ul>
                            <li><span class="icon fi-sr-user"></span><span>1</span></li>
                            <li><span class="icon fi-rr-time-quarter-to"></span><span>45 min</span></li>
                            <li><span class="icon  fi-rs-signal-alt-1"></span><span>Dificultad</span></li>
                            <li><span class="icon fi-ss-fire-flame-curved"></span><span>560</span></li>
                        </ul>

                        <p>Un pastel de terciopelo rojo —en inglés: Red velvet cake— es un pastel con un color rojo oscuro, rojo
                            brillante o rojo-marrón.</p>

                        <p class="ingredients"><span>Ingredientes:&nbsp;</span>Leche, harina, huevos, vainilla, colorante, azucar,
                            mantequilla.</p>

                        <a class="link-recipes" href="#">Read most</a>
                    </article>

                </div>
            </div>
            <div class="col-6">
                <div class="recipe-card">

                    <aside>

                        <img src="https://www.eltiempo.com/uploads/2021/04/15/6078c68c2f49b.jpeg" alt="Red Velvet" class="img-recipes"/>

                        <a href="#" class="button"><span class="icon fi-sr-play"></span></a>
                    </aside>

                    <article>

                        <h2>Red Velvet</h2>
                        <h3>Postre</h3>

                        <ul>
                            <li><span class="icon fi-sr-user"></span><span>1</span></li>
                            <li><span class="icon fi-rr-time-quarter-to"></span><span>45 min</span></li>
                            <li><span class="icon  fi-rs-signal-alt-1"></span><span>Dificultad</span></li>
                            <li><span class="icon fi-ss-fire-flame-curved"></span><span>560</span></li>
                        </ul>

                        <p>Un pastel de terciopelo rojo —en inglés: Red velvet cake— es un pastel con un color rojo oscuro, rojo
                            brillante o rojo-marrón.</p>

                        <p class="ingredients"><span>Ingredientes:&nbsp;</span>Leche, harina, huevos, vainilla, colorante, azucar,
                            mantequilla.</p>
                        <a class="link-recipes" href="#">Read most</a>

                    </article>

                </div>
            </div>
        </div>
    </div>
</body>
</html>