<style>
    .ul-navbar-3 {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>

<div class="navbar-3-logo">
    <img src="/img/icon-home.webp" alt="Logo" />
</div>

<ul class="ul-navbar-3">
    {{>navbar/linksNavBarRigth}}
</ul>
