<div class="title-home-store">
    <br>
    <h3><b>OFERTAS</b></h3>
    <hr>
</div>
<div class="container">
    <div class="row" style="background: white;">
        {{#if specialsAd}}
            {{#each specialsAd}}
                <div class="card card-explore-our-combo col-3">
                    <br>
                    <center><img class="card-img-top img-fluid img-explore-combo" src="{{img}}" alt="card image"></center>
                    <div class="card-body">
                        <center><h4 class="card-title" style="color: var(--color-company);"><b>{{description}}</b></h4></center>
                        <center>
                            <label class="pc">Una comida fantástica</label><br>
                            <button class="button-card pc"><i class="fi-icon fi-sr-room-service"></i> Ordenar</button>
                        </center>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="card card-explore-our-combo col-3">
                <br>
                <center><img class="card-img-top img-fluid img-explore-combo" src="/img/ad-menu.webp" alt="card image"></center>
                <div class="card-body">
                    <center><h4 class="card-title" style="color: var(--color-company);"><b>Descripcion del combo</b></h4></center>
                    <center>
                        <label class="pc">Una comida fantástica</label><br>
                        <button class="button-card pc"><i class="fi-icon fi-sr-room-service"></i> Ordenar</button>
                    </center>
                </div>
            </div>
            <div class="card card-explore-our-combo col-3">
                <br>
                <center><img class="card-img-top img-fluid img-explore-combo" src="/img/ad-menu.webp" alt="card image"></center>
                <div class="card-body">
                    <center><h4 class="card-title" style="color: var(--color-company);"><b>Descripcion del combo</b></h4></center>
                    <center>
                        <label class="pc">Una comida fantástica</label><br>
                        <button class="button-card pc"><i class="fi-icon fi-sr-room-service"></i> Ordenar</button>
                    </center>
                </div>
            </div>
            <div class="card card-explore-our-combo col-3">
                <br>
                <center><img class="card-img-top img-fluid img-explore-combo" src="/img/ad-menu.webp" alt="card image"></center>
                <div class="card-body">
                    <center><h4 class="card-title" style="color: var(--color-company);"><b>Descripcion del combo</b></h4></center>
                    <center>
                        <label class="pc">Una comida fantástica</label><br>
                        <button class="button-card pc"><i class="fi-icon fi-sr-room-service"></i> Ordenar</button>
                    </center>
                </div>
            </div>
            <div class="card card-explore-our-combo col-3">
                <br>
                <center><img class="card-img-top img-fluid img-explore-combo" src="/img/ad-menu.webp" alt="card image"></center>
                <div class="card-body">
                    <center><h4 class="card-title" style="color: var(--color-company);"><b>Descripcion del combo</b></h4></center>
                    <center>
                        <label class="pc">Una comida fantástica</label><br>
                        <button class="button-card pc"><i class="fi-icon fi-sr-room-service"></i> Ordenar</button>
                    </center>
                </div>
            </div>
        {{/if}}
    </div>
</div>
