<head>
    <link rel="stylesheet" href="/css/cssOther/swiper-bundle.min.css">
    </link><!--Card Slider-->
    <link rel="stylesheet" href="/css/store/homeStore.css">
    </link>
    <link rel="stylesheet" href="/css/store/navigationHome.css">
    </link>
    <link rel="stylesheet" href="/css/cart/cart.css">
    </link>
</head>
<!--this code is for load screen-->
{{>loading}}

<!--home-->
<section class="navbar-menu" id="navbar-1">
    {{>store/home/carouselAd}}
    {{>store/home/carouselMostSale}}
    {{>store/home/exploreOurCombos}}
</section>
<!--the new-->
<section class="navbar-menu" id="navbar-2">
    {{>store/new/carouselNew}}
    {{>store/new/fishNew}}
    {{>store/new/carouselNewFish}}
</section>
<section class="navbar-menu active" id="navbar-3">
    {{>store/menu/menu}}
</section>
<section class="navbar-menu" id="navbar-4">
    {{>store/profile/profile}}
</section>
<!--restaurant-->
{{>store/carHouse}}
{{>store/navigationStore}}

<!--tutorial-->
<script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
<script>
    // we will see if the user see the tutorial
    if (!localStorage.getItem('tutorialHome')) {
        showTutorial();
        localStorage.setItem('tutorialHome', 'true');
    }

    function showTutorial() {
        // Inicializar el tutorial
        const intro = introJs();

        
        if(window.matchMedia("(max-width: 767px)").matches){
            // Configurar los pasos del tutorial
            intro.setOptions({
                steps: [
                    {
                        intro: "Bienvenido al tutorial de Füd ❤️"
                    },
                    {
                        element: document.querySelector('[step="menuStore-cellphone"]'),
                        intro: "Este es el menú de tu restaurante. Muy pronto lo llenarás completamente.",
                        position: 'right'
                    },
                    {
                        element: document.querySelector('[step="step1"]'),
                        intro: "Este es el sistema de navegación para el punto de venta. Tienes la interfaz de inicio, lo nuevo de tu restaurante, tu menú y la información de tu perfil.",
                        position: 'bottom'
                    },
                    {
                        element: document.querySelector('[step="step-ad"]'),
                        intro: "Los anuncios de Füd te permiten tener actualizados a tus empleados de cualquier oferta",
                        position: 'bottom'
                    },
                    {
                        element: document.querySelector('[step="btnNavBar"]'),
                        intro: "Puedes usar este botón para abrir el inventario y navegar por las diferentes herramientas de Füd."
                    },
                    {
                        element: document.querySelector('[step="btnNavBar"]'),
                        intro: "Podrás volver a cerrar el menú usando el mismo botón de cierre.",
                        position: 'bottom'
                    },
                    {
                        element: document.querySelector('[step="btn-navbar-supplies"]'),
                        intro: "Navega al menú de insumos para empezar a crear tu cocina.",
                        position: 'right'
                    }
                ],
                showProgress: true, // Mostrar el progreso del tutorial
                showBullets: false, // Ocultar los puntos de navegación
                disableInteraction: true, // Desactivar la interacción mientras se muestra el tooltip
                exitOnEsc: false,
                exitOnOverlayClick: false
            });

        }
        else{
            // Configurar los pasos del tutorial
            intro.setOptions({
                steps: [
                    {
                        intro: "Bienvenido al tutorial de Füd ❤️"
                    },
                    { //1
                        element: document.querySelector('[step="menuStore"]'),
                        intro: "Este es el menú de tu restaurante. Muy pronto lo llenarás completamente.",
                        position: 'right'
                    },
                    { //2
                        element: document.querySelector('[step="step1"]'),
                        intro: "Este es el sistema de navegación para el punto de venta. Tienes la interfaz de inicio, lo nuevo de tu restaurante, tu menú y la información de tu perfil.",
                        position: 'bottom'
                    },
                    { //3
                        element: document.querySelector('[step="step-ad"]'),
                        intro: "Los anuncios de Füd te permiten tener actualizados a tus empleados de cualquier oferta",
                        position: 'bottom'
                    },
                    { //4
                        element: document.querySelector('[step="btnNavBar"]'),
                        intro: "Puedes usar este botón para abrir el inventario y navegar por las diferentes herramientas de Füd.",
                        position: 'right'
                    },
                    { //5
                        element: document.querySelector('[step="btnNavBar"]'),
                        intro: "Podrás volver a cerrar el menú usando el mismo botón de cierre.",
                        position: 'bottom'
                    },
                    { //6
                        element: document.querySelector('[step="btn-navbar-supplies"]'),
                        intro: "Navega al menú de insumos para empezar a crear tu cocina.",
                        position: 'right'
                    }
                ],
                showProgress: true, // Mostrar el progreso del tutorial
                showBullets: false, // Ocultar los puntos de navegación
                disableInteraction: true, // Desactivar la interacción mientras se muestra el tooltip
                exitOnEsc: false,
                exitOnOverlayClick: false
            });

        }
        // Agregar un evento para cuando se cambia de paso
        intro.onbeforechange(function(targetElement) {
            // Detectar si el paso actual es el del botón de navegación
            if (this._currentStep === 3) {
                // Simular un clic en el botón de navegación
                document.querySelector('[step="btn-new"]').click();
            }
            else if (this._currentStep === 4) {
                // Simular un clic en el botón de navegación
                document.querySelector('[step="btnNavBar"]').click();
            } else if (this._currentStep === 5) {
                    // Esperar a que el usuario cierre el menú
                    intro.pause();
                    const btnNavBar = document.querySelector('[step="btnNavBar"]');
                    btnNavBar.addEventListener('click', function handleClick() {
                    btnNavBar.removeEventListener('click', handleClick);
                    intro.nextStep(); // Continuar con el siguiente paso
                    intro.resume(); // Reanudar el tutorial
                });
            }
        });

        // Iniciar el tutorial
        intro.start();
    }
</script>

<script type="text/javascript">
    // La variable addition está disponible aquí como una cadena JSON
    const addition = [{{ addition }}]

    // Parseamos la cadena JSON para convertirla en un objeto JavaScript
    console.log(addition); 
</script>
<script>
    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
        console.log(`Cookie set: ${name}=${value}; Expires in ${days} days`);
    }

    function getCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function off_all_the_menu() {
        // get all the item with the class 'navbar-menu'
        const navbars = document.querySelectorAll('.navbar-menu');

        // read all the item and delete the class 'active'
        navbars.forEach(navbar => {
            navbar.classList.remove('active');
        });

        // get all the item with the class 'navbar-menu'
        const icon = document.querySelectorAll('.list');

        // read all the item and delete the class 'active'
        icon.forEach(navbar => {
            navbar.classList.remove('active');
        });
    }

    function on_navbar_with_the_cookie(number) {
        var id = "navbar-" + number; // create the id of the navbar
        const navbar = document.getElementById(id); // get the navbar of the menu that will be activated
        if (navbar) {
            navbar.classList.add('active'); // add the class
        } else {
            console.log(`Navbar with id ${id} not found`);
        }

        // get all the item with the class 'navbar-menu'
        const icon = document.querySelectorAll('.list');
        icon[number - 1].classList.add('active');
    }

    function update_menu_with_the_cookie() {
        console.log('Getting positionMenu cookie...');
        // get the cookie of the menu
        const positionMenu = getCookie('positionMenu');
        console.log('positionMenu:', positionMenu);
        // check if the cookie exists and if it does, update the menu
        if (positionMenu) {
            off_all_the_menu();
            on_navbar_with_the_cookie(positionMenu);
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        update_menu_with_the_cookie();

        const list = document.querySelectorAll('.list');
        const menuNavBar = document.querySelectorAll('.navbar-menu');

        function activeLink() {
            list.forEach((item, index) => {
                item.classList.remove('active');
                menuNavBar[index].classList.remove('active'); // Remove 'active' from menuNavBar as well
                if (item === this) {
                    item.classList.add('active');
                    menuNavBar[index].classList.add('active'); // Add 'active' to menuNavBar as well
                    setCookie('positionMenu', index + 1, 1); // create a cookie with the value of the new position of the user that expires in one day
                    console.log(`Activated item number ${index + 1}`);
                }
            });
        }

        list.forEach((item) => {
            item.addEventListener('click', activeLink);
        });
    });
</script>