.card{
    background-color: rgba(255, 255, 255,0);
    border-radius: 25px;
}

.card img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 170px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


.card:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.btn-companies{
    display: none;

    position: relative;
    width: 100%;
    left: 13px; 
    /*
    background-color: var(--color-company);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    */
    top: -58px; 
}

.moved-button{
    position: relative;
    background: transparent;
    text-decoration: none;
}

.fi-btn-companies {
    font-size: 2rem;
    color: white;
}


@media screen and (max-width: 1300px){
    .card{
        background-color: rgba(255, 255, 255,0);
        border-radius: 25px;
        max-width: 500px;
        max-height: 170px;
    }
    
    .card img{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 140px;

        min-height: 140px;

        border-radius: 25px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }    
}

@media screen and (max-width: 550px){
    .titleDesciption{
        padding-left: 30%;
        padding-right: 0.85rem;
    }
}