.modal-pop-select-modal-header {
    background-color: var(--color-company);
    color: #fff;
}

#modal-pop-select-menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#modal-pop-select-pop-select-container {
    width: 90%;
    max-width: 800px;
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-pop-select-pop-select {
    flex: 0 0 calc(25% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.modal-pop-select-pop-select:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.modal-pop-select-pop-select img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.modal-pop-select-pop-select p {
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
    color: black;
}

#modal-pop-select-add-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#modal-pop-select-add-button:hover {
    background-color: #45a049;
}

#modal-pop-select-pop-select-search {
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: transform 0.2s ease-in-out;
}

#modal-pop-select-pop-select-search:focus {
    border-color: #007BFF;
    transform: scale(1.02);
}