.body-session {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F5F5F8;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 2rem;
}
.title-session {
    font-size: 1.75rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}
.form-control {
    border-radius: 30px;
    padding: 0.75rem 1.25rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #1649FF;
    border: none;
    border-radius: 30px;
    padding: 0.75rem 1.25rem;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: darken(#1649FF, 10%);
}

.link-session, .link-singUp {
    color: #1649FF;
    text-decoration: none;
}
.link-session:hover, .link-singUp:hover {
    text-decoration: underline;
}
.input-group-append button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.logo {
    max-width: 100px;
    margin-bottom: 1rem;
}

.btn-primary:hover{
    background-color: #1541e0;
}

.body-session .form-group{
    padding: 0px;
}

.company-logo-login {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}