<div class="tab-pane fade" id="navbar-history" role="tabpanel" aria-labelledby="navbar-history-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-clock-three"></i> Historial</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewSaleHistory" name="view_sale_history" valueCheck="{{view_sale_history}}">
                <label class="form-check-label" for="flexSwitchViewSaleHistory">App ventas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteSaleHistory" name="delete_sale_history" valueCheck="{{delete_sale_history}}">
                <label class="form-check-label" for="flexSwitchDeleteSaleHistory">Eliminar historial de ventas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewMovementHistory" name="view_movement_history" valueCheck="{{view_movement_history}}">
                <label class="form-check-label" for="flexSwitchViewMovementHistory">App de movimientos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteMovementHistory" name="delete_movement_history" valueCheck="{{delete_movement_history}}">
                <label class="form-check-label" for="flexSwitchDeleteMovementHistory">Eliminar historial de movimientos</label>
            </div>
        </div>
    </div>
</div>
