<div class="tab-pane fade" id="navbar-label" role="tabpanel" aria-labelledby="navbar-store-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-ss-label"></i> Etiquetas</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchPointSales" name="view_label" valueCheck="{{view_label}}">
                <label class="form-check-label" for="flexSwitchPointSales">Ver app de Etiquetas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchPointSales" name="add_label" valueCheck="{{add_label}}">
                <label class="form-check-label" for="flexSwitchPointSales">Agregar Etiquetas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchPointSales" name="edit_label" valueCheck="{{edit_label}}">
                <label class="form-check-label" for="flexSwitchPointSales">Editar Etiquetas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchPointSales" name="delete_label" valueCheck="{{delete_label}}">
                <label class="form-check-label" for="flexSwitchPointSales">Eliminar Etiquetas</label>
            </div>
        </div>
    </div>
</div>
