<div class="tab-pane fade" id="navbar-providers" role="tabpanel" aria-labelledby="navbar-providers-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-ss-truck-side"></i> Proveedores</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddProvider" name="addProvider" valueCheck="{{add_provider}}">
                <label class="form-check-label" for="flexSwitchAddProvider">Crear Proveedor</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditProvider" name="editProvider" valueCheck="{{edit_provider}}">
                <label class="form-check-label" for="flexSwitchEditProvider">Editar Proveedor</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProvider" name="deleteProvider" valueCheck="{{delete_provider}}">
                <label class="form-check-label" for="flexSwitchDeleteProvider">Eliminar Proveedor</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewProvider" name="viewProvider" valueCheck="{{view_provider}}">
                <label class="form-check-label" for="flexSwitchViewProvider">Ver Proveedor</label>
            </div>
        </div>
    </div>
</div>
