{{#each characterApp}}
    <form action="">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            {{#if icon}}
                                <img src="{{icon}}" alt="Sample Image" class="icon-app">
                            {{else}}
                                <img src="https://cdn-icons-png.flaticon.com/512/3902/3902021.png" alt="Sample Image" class="icon-app">
                            {{/if}}
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre de tu App</label>
                                <input type="text" value="{{name}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Descripcion de tu app</label>
                                <textarea type="text" class="form-control">{{description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/each}}