<div class="row">
    <div class="col">
        <div class="card-edit">
            <br>
            <img src="https://cdn-icons-png.flaticon.com/512/6238/6238911.png" alt="">
            <br>
            <label for="">Base de datos</label>
            <br><br>
        </div>
    </div>
    <div class="col">
        <div class="card-edit">
            <br>
            <img src="https://cdn-icons-png.flaticon.com/512/5342/5342693.png" alt="">
            <br>
            <label>Visualizacion de Datos</label>
            <br><br>
        </div>
    </div>
    <div class="col">
        <div class="card-edit">
            <br>
            <img src="https://cdn-icons-png.flaticon.com/512/5369/5369863.png" alt="">
            <br>
            <label>Formulario</label>
            <br><br>
        </div>
    </div>
</div>