<link rel="stylesheet" href="/css/manager/supplies_products.css">
<br>
<div class="container">
  <label><i class="fi-icon fi-sr-box-open"></i> Productos</label>
    <hr>
    <div class="row mt-5">
        <div class="col-md-12">
          {{#each branch}}
            <button class="btn btn-danger" onclick=recharge_supplies('{{id_companies}}','{{id}}')><i class="fi-department fi-br-refresh"></i></button>  Recargar todos los productos de la empresa
          {{/each}}
            <br><br>
            {{>manager/supplies/table}}
        </div>
    </div>
</div>



<script>
  function recharge_supplies(id_company,id_branch){
    window.location.href = "/fud/"+id_company+"/"+id_branch+"/recharge-products";
  }
</script>

<script>
    async function delate_supplies(id,id_company){
        if(await questionMessage('Eliminar suministros','¿Deseas eliminar este producto?')){
            window.location.href = "/fud/"+id_company+"/"+id+"/delate-company-supplies_product";
        }
    }

    function edit_supplies(id,id_company,description){
      await new_company_supplies('Agregar un suministro')
      //window.location.href = "/fud/"+id_company+"/"+id+"/edit-company-supplies_product";
    }

    function add_supplies(id_company){
      console.log(id_company)
      //await new_company_supplies('Add a new supplies')
    }
</script>

<script>
    async function show_message_edit(id_supplies,id_company,id_branch,img,barcode,nameDepartment,existence,purchaseAmount){
        //we will to get the data of the new department
        const data=await edit_supplies_branch('Editar '+nameDepartment,img,barcode,nameDepartment,existence,purchaseAmount);
        if(data){
            //get the data of the from 
            var newExistence = parseFloat(data[0]);
            if(newExistence>0){
                window.location.href = `/fud/${id_company}/${id_branch}/${id_supplies}/${newExistence}/update-products-branch`;
            }
        }
    }
</script>