<div class="form-group">
    <lable>País *</lable><br>
    <select id="country" class="form-control" name="country">
        {{#each country}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</div>