<ul class="menu-cart">
    <li><a href="store"><button class="btn-menu button-categority active"><i class="fi-cart fi-sr-apps"></i>Menu</button></a></li>
    <li><a href="store"><button class="btn-menu button-categority "><i class="fi-cart fi-sr-hamburger"></i>Restaurant</button></a></li>
    <li><a href="store"><button class="btn-menu button-categority "><i class="fi-cart fi-sr-hamburger-soda"></i>Combos</button></a></li>
    <li><a href="store"><button class="btn-menu button-categority "><i class="fi-cart fi-sr-apple-whole"></i>Kitchen</button></a></li>
    <li><a href="other"><button class="btn-menu button-categority "><i class="fi-cart fi-sr-settings"></i>Other</button></a></li>
    <li><a href="cart"><button class="btn-menu button-categority"><i class="fi-cart fi-sr-cart-shopping-fast"></i>Cart<span class="num-products-in-cart">0</span></button></a></li>

    <!---
    <li><a href="salesHistory"><button class="btn-menu button-categority"><i class="fi-cart  fi-sr-ticket"></i>Sale history</button></a></li>
    <li><button class="btn-menu button-categority"><i class="fi-cart fi-sr-cash-register"></i>outflows</button></li>
    <li><button class="btn-menu button-categority"><i class="fi-cart fi-sr-cash-register"></i>loads</button></li>
    <li><a href="reservation"><button class="btn-menu button-categority"><i class="fi-cart fi-ss-calendar"></i>Reservation</button></a></li>
    <li><button class="btn-menu button-categority"><i class="fi-cart fi-rr-scissors"></i>box cut</button></li>
    <li><a href="cart"><button class="btn-menu button-categority"><i class="fi-cart fi-sr-cart-shopping-fast"></i>Cart<span class="num-products-in-cart">0</span></button></a></li>
--->
</ul>