    <!--Menu-->
    <nav class="navMenu">
        <ul class="ulMenu">
            <li class="liMenu">
                <a href="#" class="logo">
                    <img src="/img/logo.png"> 
                    <span class="nav-item">Ice-Cloude</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-br-home"></i>
                    <span class="nav-item">Inicio</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-sr-building"></i>
                    <span class="nav-item">Compañías</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-br-stats"></i>
                    <span class="nav-item">Analisis</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-sr-ballot-check"></i>
                    <span class="nav-item">Reportes</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-sr-receipt"></i>
                    <span class="nav-item">Ventas</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-br-truck-loading"></i>
                    <span class="nav-item">Inventario</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-sr-box-open"></i>
                    <span class="nav-item">Productos</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-ss-folder-minus"></i>
                    <span class="nav-item">Consultas</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-sr-ballot"></i>
                    <span class="nav-item">Cotizaciones</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-sr-address-book"></i>
                    <span class="nav-item">Agenda</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-sr-user"></i>
                    <span class="nav-item">Usuarios</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-ss-users-alt"></i>
                    <span class="nav-item">Clientes</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-br-truck-moving"></i>
                    <span class="nav-item">Provedores</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-ss-settings"></i>
                    <span class="nav-item">Configuraciones</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="aMenu">
                    <i class="fi fi-ss-interrogation"></i>
                    <span class="nav-item">Ayuda</span>
                </a>
            </li>
            <li class="liMenu">
                <a href="#" class="logout">
                    <i class="fi fi-ss-address-card"></i>
                    <span class="nav-item">Cerrar</span>
                </a>
            </li>
        </ul>
        
    </nav>