<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/store/other.css">
</head>

<body>
    <div class="wrapper">
        <main>
            <div class="container bg-light rounded">
                <div class="h4 font-weight-bold text-center py-3">Type report</div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                    <img src="https://cdn-icons-png.flaticon.com/512/975/975645.png"
                                        alt=""> </div>
                                <div class="d-flex flex-column"> <b>Global</b> <a href="report-global">
                                        <p class="text-muted">23 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-sales')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                                    <img src="https://cdn-icons-png.flaticon.com/512/7298/7298311.png"
                                        alt=""> </div>
                                <div class="d-flex flex-column"> <b>Sales</b> <a href="report-sales">
                                        <p class="text-muted">5 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('reservation')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3391/3391036.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Utilities</b><a href="#">
                                        <p class="text-muted">32 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2611/2611215.png" alt=""> </div>
                                <div class="d-flex flex-column"><b>Shopping</b> <a href="#">
                                        <p class="text-muted">28 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1808/1808899.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Credit notes</b> <a href="#">
                                        <p class="text-muted">6 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                        <div class="box bg-white" onclick="nextWeb('salesHistory')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1244/1244688.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Customers</b> <a href="#">
                                        <p class="text-muted">5 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5153/5153809.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Box cut</b> <a href="#">
                                        <p class="text-muted">5 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2293/2293644.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Providers</b> <a href="#">
                                        <p class="text-muted">5 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                    <img src="https://cdn-icons-png.flaticon.com/512/888/888274.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Articles</b> <a href="#">
                                        <p class="text-muted">5 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-green">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3176/3176101.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Movements</b> <a href="#">
                                        <p class="text-muted">5 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                        <div class="box bg-white" onclick="nextWeb('report-global')">
                            <div class="d-flex align-items-center">
                                <div
                                    class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pista">
                                    <img src="https://cdn-icons-png.flaticon.com/512/594/594560.png" alt=""> </div>
                                <div class="d-flex flex-column"> <b>Purse</b> <a href="#">
                                        <p class="text-muted">5 classes</p>
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
    <script src="/js/store/other.js"></script>
    <script src="/js/menu.js"></script>
</body>

</html>