.star-checkbox {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.star-checkbox:hover {
    cursor: pointer;
}

.star-checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.star-checkbox label::before {
    content: '\2605';
    /* Código Unicode para una estrella rellena */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 45px;

    /* Tamaño de la estrella */
    color: transparent;
    -webkit-text-stroke: 1px gold;
    /* Contorno dorado */
}

.star-checkbox input[type="checkbox"]:checked+label::before {
    color: gold;
    -webkit-text-stroke: 1px gold;
    
}

.container-start {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}