<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/6.2.6/gridstack.min.css" />
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css'>
<div class="container">
    <label>Clientes </label><i class="fi-icon fi-sr-user"></i>
    <hr>
    {{>CEO/customers/browser}}
    {{>CEO/customers/table}}
</div>
<script src="/js/search.js"></script>