<link rel="stylesheet" href="/css/task/tablet.css">
<link rel="stylesheet" href="/css/CRM/crm.css">

<input type="hidden" value="true" id="thisIsTheCrm">

<div class="btn-group">
    <button class="btn-select" onclick="showSection('select-1', this)" type="button">Oportunidades</button>
    <button class="btn-select btn-active" onclick="showSection('select-2', this)" type="button">Calendario de esta
        semana</button>
</div>
<div id="select-1" class="content-section">
    {{>manager/CRM/table}}
</div>
<div id="select-2" class="content-section active">
    {{>manager/CRM/appointment}}
    <br>
</div>

<script src="/js/crm/UI.js"></script>
<script src="/js/crm/showMessages.js"></script>
<script>
    /*
        This script is to activate the first button and return the interface to its default form. 
        We must first activate the interface where the calendar is so that it loads correctly, 
        then we can deactivate it.
    */
    document.addEventListener('DOMContentLoaded', function () {
        // Simulates the click on the first button when loading the page
        document.querySelector('.btn-select').click();
    });
</script>