<link rel="stylesheet" href="/css/task/tablet.css">

<div class="btn-group">
    <button class="btn-select btn-active" onclick="showSection('select-1', this)" type="button"><i class="fi-icon fi-sr-life-ring"></i> CRM</button>
    <button class="btn-select" onclick="showSection('select-2', this)" type="button"><i class="fi-icon fi-sr-user-add"></i> Añadir nuevo cliente Potencial</button>
    <button class="btn-select" onclick="showSection('select-3', this)" type="button"><i class="fi-icon fi-sr-calendar-clock"></i> Añadir nueva reunion</button>
    <button class="btn-select" onclick="showSection('select-4', this)" type="button"><i class="fi-icon fi-sr-envelope"></i> Enviar un correo</button>
    <button class="btn-select" onclick="showSection('select-5', this)" type="button"><i class="fi-icon fi-brands-whatsapp"></i> Enviar Whatsapp</button>
</div>
<div id="select-1" class="content-section active">
    {{>manager/CRM/table}}
</div>
<div id="select-2" class="content-section">
    {{>manager/CRM/formCustomer}}
</div>
<div id="select-3" class="content-section">
    {{>manager/CRM/formDate}}
</div>
<div id="select-4" class="content-section">
    {{>manager/CRM/formEmail}}
</div>
<div id="select-5" class="content-section">
    {{>manager/CRM/formWhatsapp}}
</div>



<script src="/js/crm/UI.js"></script>
<script src="/js/crm/showMessages.js"></script>