<link rel="stylesheet" href="/css/task/tablet.css">
<link rel="stylesheet" href="/css/CRM/crm.css">
<!--this code is for load screen-->
{{>loading}}
<div class="row">
    <div class="col" id="information-sales">
        {{>manager/CRM/formCustomerEdit}}
    </div>
    <div class="col-4" id="history-of-sales">
        {{>manager/CRM/historySales}}
    </div>
</div>
<script src="/js/crm/loadMostHistory.js"></script>
<script src="/js/crm/showMessages.js"></script>
<script src="/js/crm/progress-bar.js"></script>
<script src="/js/crm/select-color.js"></script>
<script src="/js/crm/UI.js"></script>