<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>

<br>
<h5>Presupuestos</h5>
<div class="row">
    <div class="col">
        <button class="btn btn-edit">Crear</button>
        <button class="btn"><i class="fi-icon fi-ss-down-to-line"></i></button>
    </div>
    <div class="col">
        <button class="btn" id="btnShowFilters">
            <i class="fi fi-sr-filter"></i> Filtrar
        </button>

        <button class="btn"><i class="fi fi-sr-star"></i> Favoritos</button>
        Fecha Inicio
        <input type="date">
        Fecha Final
        <input type="date">
        <button class="btn btn-edit">Filtrar</button>
    </div>
</div>
<br>







<br>
{{>CRM/invoice/table}}
