<br><br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <br>     
            <label>Nueva oportunidad</label>
            <hr>
            <div class="tabs-container-step">
                <div class="tabs-step">
                    {{#each salesStage}}
                        <div class="tab-step active" data-target="nuevo">{{name}}</div>
                    {{/each}}
                </div>
            </div>
            <br>
            <div class="btn-group">
                <button class="btn-select btn-active" onclick="showSection('select-1', this)" type="button">Informaci贸n Personal</button>
                <button class="btn-select" onclick="showSection('select-2', this)" type="button">Seguimiento</button>
                <button class="btn-select" onclick="showSection('select-3', this)" type="button">Informaci贸n Adicional</button>
            </div>
            <div id="select-1" class="content-section active">
                {{>manager/CRM/formCustomer1}}
            </div>
            <div id="select-2" class="content-section">
                {{>manager/CRM/formCustomer3}}
            </div>
            <div id="select-3" class="content-section">
                {{>manager/CRM/formCustomer2}}
            </div>

            <div class="div-container-right">
                <button type="submit" class="btn btn-confirm-message">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!--
<div class="container">
<div class="card">
    <div class="card-body">
        <h2 class="form-header">Nueva oportunidad</h2>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Informaci贸n Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#follow" role="tab" aria-controls="follow"
                    aria-selected="false">Seguimiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Informaci贸n Adicional</a>
            </li>
        </ul>
        <form action="" method="post">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{>manager/CRM/formCustomer1}}
                </div>
                <div class="tab-pane fade" id="follow" role="tabpanel" aria-labelledby="profile-tab">
                    {{>manager/CRM/formCustomer3}}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {{>manager/CRM/formCustomer2}}
                </div>
            </div>
            <div class="div-container-right">
                <button type="submit" class="btn btn-confirm-message">Guardar</button>
            </div>
        </form>
    </div>
</div>
</div>
--->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/CRM/starts.js"></script>
<script>
    $(document).ready(function () {
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
