<br><br>

<div class="container">
    <div class="card">
        <div class="card-body">
            <br>     
            <label><i class="fi-icon fi-ss-trophy"></i> Nueva oportunidad</label>
            <hr>
            <br>
            <div class="btn-group">
                <button class="btn-select btn-active" onclick="showSection('select-1', this)" type="button">Información Personal</button>
                <button class="btn-select" onclick="showSection('select-2', this)" type="button">Información de Venta</button>
                <button class="btn-select" onclick="showSection('select-3', this)" type="button">Información Adicional</button>
            </div>

            {{#each branchFree}}
            <form action="/fud/{{id_companies}}/{{id}}/add-chance" method="post" id="myForm">
            {{/each}}
                {{>manager/CRM/tabsSalesStage}}

                <div id="select-1" class="content-section active">
                    {{>manager/CRM/formCustomer1}}
                </div>
                <div id="select-2" class="content-section">
                    {{>manager/CRM/formCustomer3}}
                </div>
                <div id="select-3" class="content-section">
                    {{>manager/CRM/formCustomer2}}
                </div>

                <div class="div-container-right">
                    <button type="submit" class="btn btn-confirm-message">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<br><br><br>









<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/CRM/starts.js"></script>
<script>
    $(document).ready(function () {
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
