<div class="form-group">
    <div class="row">
        <div class="col-1">
            <label for="exampleFormControlInput1" class="form-label">Etiqueta</label>
            <input type="color" class="form-control" id="exampleFormControlInput1" placeholder="Etiqueta">
        </div>
        <div class="col" style="text-align: right;">
            <label for="" class="form-label" style="text-align: right;" id="label-priority">Prioridad</label>
            <div class="rating-container">
                <div class="priorities">
                    <span class="priority" data-value="3" data-message="Prioridad Alta">★</span>
                    <span class="priority" data-value="2" data-message="Prioridad Media">★</span>
                    <span class="priority" data-value="1" data-message="Prioridad Baja">★</span>
                </div>
                <div class="message-priority" id="ratingMessage">Seleccione una prioridad</div>
                <input type="hidden" name="priority">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col">
            <label for="closureDate">Cierre previsto</label>
            <input type="date" class="form-control" id="closureDate">
        </div>
        <div class="col">
            <label for="salesTeam">Equipo de ventas</label>
            <select name="" id="" class="form-select" aria-label="Default select example">
                {{#each salesTeam}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col">
            <label for="closurePercentage">Porcentaje de Cierre Previsto %</label>
            <input type="number" class="form-control" id="closurePercentage" placeholder="Porcentaje de Cierre Previsto">
        </div>
        <div class="col">
            <label for="salesTeam">Producto/Servicio a vender</label>
            <select name="" id="" class="form-select" aria-label="Default select example">
                {{#each productToSell}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col">
            <label for="category">Categoría</label>
            <input type="text" class="form-control" id="category" placeholder="Categoría">
        </div>
        <div class="col">
            <label for="salesRep">Comercial</label>
            <input type="text" class="form-control" id="salesRep" placeholder="Comercial">
        </div>
    </div>
</div>
