<div class="row">
    <div class="col-1">
        <label for="exampleFormControlInput1" class="form-label">Etiqueta</label>
        <input type="color" class="form-control" id="exampleFormControlInput1" placeholder="Etiqueta" name="label"
            value="{{color}}">
    </div>
    <div class="col">

    </div>
</div>
<div class="row">
        <div class="form-group">
            <div class="row mb-3">
                <!-- Opciones de colores principales -->
                <div class="col-auto">
                    <div class="color-option bg-primary" onclick="selectColor('#0d6efd')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option bg-success" onclick="selectColor('#198754')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option bg-danger" onclick="selectColor('#dc3545')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option bg-warning" onclick="selectColor('#ffc107')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option bg-info" onclick="selectColor('#0dcaf0')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option bg-dark" onclick="selectColor('#212529')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option" style="background-color: #6f42c1;" onclick="selectColor('#6f42c1')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option" style="background-color: #fd7e14;" onclick="selectColor('#fd7e14')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option" style="background-color: #20c997;" onclick="selectColor('#20c997')"></div>
                </div>
                <div class="col-auto">
                    <div class="color-option" style="background-color: #d63384;" onclick="selectColor('#d63384')"></div>
                </div>
            </div>
        </div>
</div>