<br>
<div class="container">
    <label><i class="fi-icon fi-ss-apartment"></i> All the departaments of the company</label>
    <hr>
    <div class="row mt-12">
        <div class="col-md-12">
            <table class="table table-hover"> <!--table-bordered-->
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 60%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead>
                    <tr>
                        <th><label>Name</label></th>
                        <th><label>Description</label></th>
                    </tr>
                </thead>
                <tbody>
                    <!--this is the for of the departments-->
                    {{#each departments}}
                        <tr>
                            <td><label>{{name}}</label></td>
                            <td><label>{{description}}</label></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>