
<div id="tutorialAddProductContainer">
    <div id="tutorialAddProduct" class="tutorial-section">
        <div class="tutorial-header">
            <h5>¿Nuevo aquí? Mira estos tutoriales para agregar productos
                <span>Te guiarán paso a paso sin complicaciones</span>
            </h5>
            <button class="tutorial-btn" onclick="hideTutorial('tutorialAddProduct')">Ya lo sé</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="tutorial-card">
                    <iframe class="tutorial-iframe"
                        src="https://www.youtube.com/embed/QQwsdWa_s7k?si=gDlLh2rEaEJdnVmi"
                        title="Cómo agregar productos" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tutorial-card">
                    <iframe class="tutorial-iframe"
                        src="https://www.youtube.com/embed/PszK2bGVW4c?si=AvkBYl8ud8SDQvSL"
                        title="Ejemplo práctico de producto" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tutorial-card">
                    <iframe class="tutorial-iframe"
                        src="https://www.youtube.com/embed/DFw-CwmWMsM?si=fKgjlFAt04rSLP93"
                        title="Errores comunes al agregar productos" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="helpToggle" class="help-toggle" onclick="showTutorial('tutorialAddProduct')">
        ¿Necesitas ayuda? 
    </div>
</div>
<br><br>
