<div class="video-help" data-id="ayuda-ventas">
    <div class="help-content">
        <p class="help-title">Estos videos podrían ayudarte:</p>
        <div class="videos">
            <iframe loading="lazy" src="https://www.youtube.com/embed/QQwsdWa_s7k?si=lHHzXiogu6jyTNwS"
                allowfullscreen></iframe>
            <iframe loading="lazy" src="https://www.youtube.com/embed/PszK2bGVW4c?si=2_G2bHDUjb8b3Mi_"
                allowfullscreen></iframe>
            <iframe loading="lazy" src="https://www.youtube.com/embed/DFw-CwmWMsM?si=E9SHA8rp1OjUr2RR"
                allowfullscreen></iframe>

            <iframe loading="lazy" src="https://www.youtube.com/embed/RWmrCD8z4K4?si=alk32afqjkPauo3G"
                allowfullscreen></iframe>
            <iframe loading="lazy" src="https://www.youtube.com/embed/q_XVV6o-UKg?si=2ajOve2U1Q8LcDHa"
                allowfullscreen></iframe>
            <iframe loading="lazy" src="https://www.youtube.com/embed/qvD3uHbuglc?si=aLYTgdmCkby3JX3z"
                allowfullscreen></iframe>
        </div>
        <button class="hide-help">✓ Ya lo sé</button>
    </div>
    <div class="help-toggle">¿Necesitas ayuda?</div>
</div>