<!--
    {ED} Software Developer

    This software is the exclusive property of {ED} Software Developer.
    Any form of unauthorized reproduction, distribution or use of this technology without the express consent of the copyright holder is strictly prohibited.
    All rights reserved 2025.
    Improper use of this software will be punished under applicable laws.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/img/logo.png" type="image/png">
    <title>ED PLUS</title>

    <!--font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <link href='/css/ultimate/main.min.css' rel='stylesheet'> 
    <link rel="stylesheet" href="/css/Styles.css">

    <!--select-->
    <link href="https://cdn.jsdelivr.net/npm/chosen-js@1.8.7/dist/css/chosen.min.css" rel="stylesheet" />
</head>
<body>
    {{>load}}
    {{#if user}}
        {{>titleBar}}
        {{{body}}}
    {{else}}
        {{{body}}}
    {{/if}}
    {{>message}}

    <!--select search Enlaces CDN para jQuery y Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chosen-js@1.8.7/dist/chosen.jquery.min.js" defer></script>
    <script src="/js/store/other.js" defer></script>
    <script src="/js/ultimate/main.min.js" defer></script>
    <script src="/js/messagePop.js" defer></script>
    <script>
        function open_my_pop(id) {
            const el = document.getElementById(id);
            if (el) el.style.display = 'flex';
        }

        function close_my_pop(id) {
            const el = document.getElementById(id);
            if (el) el.style.display = 'none';
        }
    </script>
</body>
</html>