<div class="row">
    <div class="col-6">
        <label for="regimenFiscal">Régimen Fiscal</label>
        <input type="text" class="form-control" id="regimenFiscalUser" placeholder="Ej. 601" required value="601">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label for="paymentMethod" class="form-label">Método de Pago</label>
        <select class="form-select" id="paymentMethod" required>
            <option value="PUE">PUE - Pago en una sola exhibición</option>
            <option value="PPD">PPD - Pago en parcialidades o diferido</option>
        </select>
    </div>
    <div class="col">
        <label for="cfdiType" class="form-label">Tipo de CFDI</label>
        <select class="form-select" id="cfdiType" name="cfdiType" required>
            <option value="I" selected>Ingreso - Venta de productos o servicios</option>
            <option value="E">Egreso - Nota de crédito / Devoluciones</option>
            <option value="T">Traslado - Transporte de mercancías</option>
            <option value="N">Nómina - Recibo de sueldos</option>
            <option value="P">Pago - Pagos diferidos o en parcialidades</option>
        </select>
    </div>
</div>