<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/addUser/addUser.css">
    <link rel="stylesheet" href="/css/report/report.css">
    </link>
    <link rel="stylesheet" href="/css/report/sales.css">
    </link>
</head>

<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <center>
                    <h5 class="form-group sub-title">Datos del proveedor</h5>
                    <hr>
                </center>
                <div class="card">
                    <div class="card-body">
                        <!---dashboard--->
                        <div class="tab_box">
                            <button class="tab_btn active"><i class="fi-container fi-sr-truck-loading"></i>Datos Básicos</button>
                            <button class="tab_btn"><i class="fi-container fi-ss-truck-moving"></i>Información de Facturación</button>
                            <div class="line"></div>
                        </div>
                        <div class="content_box">
                            <div class="content-sales active">
                                {{#each company}}
                                <form action="/fud/{{id}}/add-providers" method="POST">
                                {{/each}}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-6">
                                                <label>Sucursal *</label><br>
                                                <select class="form-select" aria-label="Default select example" name="branch">
                                                    {{#each branches}}
                                                        <option value="{{id}}">{{name_branch}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>        
                                    </div>

                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Nombre *</label><br>
                                                    <input type="tex" class="form-control" name="name" placeholder="Nombre"
                                                        autofocus required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label>Nombre del representante *</label><br>
                                                    <input type="tex" class="form-control" name="representative" placeholder="Representante" required>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <div class="form-group">
                                        <label>Correo electrónico</label><br>
                                        <input type="email" class="form-control" name="email" placeholder="Correo electrónico">
                                    </div>

                                    <div class="form-group">
                                        <label>Sitio web</label><br>
                                        <input type="text" class="form-control" name="website" placeholder="Sitio web">
                                    </div>
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Número de contribuyentes</label><br>
                                                    <input type="tex" class="form-control" name="rfc"
                                                        placeholder="RFC,RUT,CUIT">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label>C.U.R.P</label><br>
                                                    <input type="tex" class="form-control" name="curp"
                                                        placeholder="C.U.R.P">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Teléfono</label><br>
                                                    <input type="tex" class="form-control" name="phone"
                                                        placeholder="Teléfono">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label>Teléfono móvil</label><br>
                                                    <input type="tex" class="form-control" name="cell_phone"
                                                        placeholder="Teléfono móvil">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Límite de crédito</label><br>
                                                    <input type="tex" class="form-control" name="creditLimit"
                                                        placeholder="Límite de crédito">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label>Días de crédito</label><br>
                                                    <input type="tex" class="form-control" name="dayCredit"
                                                        placeholder="Días de crédito">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Categoría</label><br>
                                                    <input type="text" class="form-control" name="category" placeholder="Categoría">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="form-group">
                                        <label>Comentario</label><br>
                                        <textarea type="tex" class="form-control" name="comment"
                                            placeholder="Comentario..."></textarea>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-success btn-block">Guardar</button>
                                    </div>
                            </div>
                            <div class="content-sales">
                                    <div class="form-group">
                                        <label>Tipo de proveedor </label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="individual">
                                            <label class="form-check-label" for="inlineRadio1">Individual</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="company" checked>
                                            <label class="form-check-label" for="inlineRadio2">Empresa</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Nombre del negocio</label><br>
                                        <input type="tex" class="form-control" name="businessName" placeholder="Nombre del negocio">
                                    </div>
                                    <div class="form-group">
                                        <label>Representante</label><br>
                                        <input type="tex" class="form-control" name="businessRepresentative" placeholder="Representante">
                                    </div>
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Número de contribuyentes</label><br>
                                                    <input type="tex" class="form-control" name="businessCurp"
                                                        placeholder="RFC,RUT,CUIT">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label>R.F.C</label><br>
                                                    <input type="tex" class="form-control" name="businessRfc"
                                                        placeholder="R.F.C">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Teléfono</label><br>
                                                    <input type="tex" class="form-control" name="businessPhone"
                                                        placeholder="Teléfono">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label>Teléfono móvil</label><br>
                                                    <input type="tex" class="form-control" name="businessCell_phone"
                                                        placeholder="Teléfono móvil">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Dirección</label><br>
                                                    <input type="tex" class="form-control" name="address"
                                                        placeholder="Colonia">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label>Código Postal</label><br>
                                                    <input type="tex" class="form-control" name="postalCode"
                                                        placeholder="Código Postal">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


    <script>
        const tabs = document.querySelectorAll('.tab_btn');
        const all_content = document.querySelectorAll('.content-sales');

        tabs.forEach((tab, index) => {
            tab.addEventListener('click', (e) => {
                tabs.forEach(tab => { tab.classList.remove('active') });
                tab.classList.add('active');

                var line = document.querySelector('.line');
                line.style.width = e.target.offsetWidth + "px";
                line.style.left = e.target.offsetLeft + "px";

                all_content.forEach(content => {
                    content.classList.remove('active');
                })
                all_content[index].classList.add('active');
            })
        })
    </script>
</body>

</html>