<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/addUser/addUser.css">
    <link rel="stylesheet" href="/css/report/report.css">
    </link>
    <link rel="stylesheet" href="/css/report/sales.css">
    </link>
</head>

<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <center>
                    <h5 class="form-group sub-title">Datos del proveedor</h5>
                    <hr>
                </center>
                <div class="card">
                    <div class="card-body">
                        <!---dashboard--->
                        <div class="tab_box">
                            <button class="tab_btn active"><i class="fi-container fi-sr-truck-loading"></i>Basic
                                Data</button>
                            <button class="tab_btn"><i class="fi-container fi-ss-truck-moving"></i>Billing
                                Information</button>
                            <div class="line"></div>
                        </div>
                        <div class="content_box">
                            <div class="content-sales active">
                                {{#if branch}}
                                    {{>manager/providers/form-edit}}
                                {{else}}
                                    {{>CEO/providers/form-edit}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        const tabs = document.querySelectorAll('.tab_btn');
        const all_content = document.querySelectorAll('.content-sales');

        tabs.forEach((tab, index) => {
            tab.addEventListener('click', (e) => {
                tabs.forEach(tab => { tab.classList.remove('active') });
                tab.classList.add('active');

                var line = document.querySelector('.line');
                line.style.width = e.target.offsetWidth + "px";
                line.style.left = e.target.offsetLeft + "px";

                all_content.forEach(content => {
                    content.classList.remove('active');
                })
                all_content[index].classList.add('active');
            })
        })
    </script>
</body>

</html>