
<link rel="stylesheet" href="/css/manager/employee/employee.css">

    <div class="container">
        <div class="row">
            <div class="col">
                <label class="form-group sub-title"><i class="fi-icon fi-ss-truck-side"></i> Provedores</label><hr>
                {{>CEO/providers/browser}}
                {{>CEO/providers/table}}
            </div>
        </div>

    </div>


