<div id="pop-data-facture" class="my-pop">
    <div class="my-pop-content-wrapper">
        <div class="my-pop-header">
            <h4 class="my-pop-title">Datos de Facturación</h4>
            <button class="close-btn" onclick="close_my_pop('pop-data-facture')" type="button">×</button>
        </div>

        <div class="my-pop-content">

            <!-- Formulario de Datos de Facturación del Cliente -->
            <form class="p-4 shadow-sm rounded bg-white" style="max-width: 700px; margin: auto;">
                <!-- Datos Generales del Receptor -->
                <div class="mb-3">
                    <label for="rfcFormNewFacture" class="form-label">RFC del Cliente *</label>
                    <input type="text" class="form-control" id="rfcFormNewFacture" name="rfcFormNewFacture" required>
                </div>

                <div class="mb-3">
                    <label for="nameCompanyFormNewFacture" class="form-label">Nombre o Razón Social *</label>
                    <input type="text" class="form-control" id="nameCompanyFormNewFacture"
                        name="nameCompanyFormNewFacture" required>
                </div>

                <div class="mb-3">
                    {{>cfdi/regimenFiscalForm}}
                </div>

                <div class="mb-3">
                    <label for="zipFormNewFacture" class="form-label">Código Postal *</label>
                    <input type="text" class="form-control" id="zipFormNewFacture" name="zipFormNewFacture" required>
                </div>

                <hr class="my-4">
                <div class="dropdown-toggle-box">
                    <div class="dropdown-header" onclick="watch_most('addressSection')">
                        <label class="mb-0 fw-semibold">Domicilio</label>
                        <i class="fi fi-rr-angle-down" id="icon-addressSection"></i>
                    </div>

                    <div id="addressSection" class="dropdown-content collapsed">
                        <div class="mb-3">
                            <label for="streetFormNewFacture" class="form-label">Calle</label>
                            <input type="text" class="form-control" id="streetFormNewFacture"
                                name="streetFormNewFacture">
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label for="exteriorFormNewFacture" class="form-label">Número Exterior</label>
                                <input type="text" class="form-control" id="exteriorFormNewFacture"
                                    name="exteriorFormNewFacture">
                            </div>
                            <div class="col">
                                <label for="interiorFormNewFacture" class="form-label">Número Interior</label>
                                <input type="text" class="form-control" id="interiorFormNewFacture"
                                    name="interiorFormNewFacture">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="neighborhoodFormNewFacture" class="form-label">Colonia</label>
                            <input type="text" class="form-control" id="neighborhoodFormNewFacture"
                                name="neighborhoodFormNewFacture">
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label for="municipalityFormNewFacture" class="form-label">Municipio</label>
                                <input type="text" class="form-control" id="municipalityFormNewFacture"
                                    name="municipalityFormNewFacture">
                            </div>
                            <div class="col">
                                <label for="stateFormNewFacture" class="form-label">Estado</label>
                                <input type="text" class="form-control" id="stateFormNewFacture"
                                    name="stateFormNewFacture">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="countryFormNewFacture" class="form-label">País</label>
                            <input type="text" class="form-control" id="countryFormNewFacture"
                                name="countryFormNewFacture" value="México">
                        </div>
                    </div>
                </div>

                <!-- Botón de guardar -->
                <div class="d-grid mt-4">
                    <button type="button" class="btn btn-add" onclick="create_a_new_information_of_facture()">Guardar
                        Datos</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    //her we will get the information of the form for after send to the server and get the answer of the server
    function get_the_information_of_the_form() {
        return {
            id_customer: document.getElementById('id_customer').value,
            rfc: document.getElementById('rfcFormNewFacture').value.trim(),
            name: document.getElementById('nameCompanyFormNewFacture').value.trim(),
            regimenFiscal: document.getElementById('fiscalRegimeForm')?.value || "",
            taxZipCode: document.getElementById('zipFormNewFacture').value.trim(),
            street: document.getElementById('streetFormNewFacture').value.trim(),
            exterior: document.getElementById('exteriorFormNewFacture').value.trim(),
            interior: document.getElementById('interiorFormNewFacture').value.trim(),
            neighborhood: document.getElementById('neighborhoodFormNewFacture').value.trim(),
            municipality: document.getElementById('municipalityFormNewFacture').value.trim(),
            state: document.getElementById('stateFormNewFacture').value.trim(),
            country: document.getElementById('countryFormNewFacture').value.trim(),
            id_customer: document.getElementById('id_customer')?.value || ""
        };
    }


    async function create_a_new_information_of_facture() {
        const dataFacture = get_the_information_of_the_form(); //her we will get all the information of the form 

        //her we will send this information to the server and get the new information of the facture 
        const answerServer = await send_data_to_server('/links/add-data-facture-customer', dataFacture);

        //her close all the pop for that the user can see the message of the server
        close_my_pop('pop-data-facture');
        close_my_pop('pop-data-facture-list');
        close_my_pop('informationAddress');

        if (answerServer.success) {
            set_customer_facture_info(dataFacture); //her update the data of the facture to the last information that add to the database
            confirmationMessage('Perecto',answerServer.message);
        } else {
            errorMessage('Error', answerServer.message)
        }
    }

    function set_customer_facture_info(formData) {
        // Datos generales
        document.getElementById('regimenFiscalReceptor').value = formData.regimenFiscal || "";
        document.getElementById('codigoPostal').value = formData.taxZipCode || "";
        document.getElementById('rfcReceptor').value = formData.rfc || "";
        document.getElementById('nombreReceptor').value = formData.name || "";

        // Dirección
        document.getElementById('calleReceptor').value = formData.street || "";
        document.getElementById('numeroExteriorReceptor').value = formData.exterior || "";
        document.getElementById('numeroInteriorReceptor').value = formData.interior || "";
        document.getElementById('coloniaReceptor').value = formData.neighborhood || "";
        document.getElementById('municipioReceptor').value = formData.municipality || "";
        document.getElementById('estadoReceptor').value = formData.state || "";
        document.getElementById('paisReceptor').value = formData.country || "";
    }
</script>