<label for="fiscalRegime" class="form-label">Régimen Fiscal *</label>
<select class="form-select" id="fiscalRegimeForm" name="fiscalRegimeForm" required value="{{fiscalRegime}}">
  <option value="601">601 - General de Ley Personas Morales</option>
  <option value="603">603 - Personas Morales con Fines no Lucrativos</option>
  <option value="605">605 - Sueldos y Salarios e Ingresos Asimilados a Salarios</option>
  <option value="606">606 - Arrendamiento</option>
  <option value="608">608 - Demás ingresos</option>
  <option value="609">609 - Consolidación</option>
  <option value="610">610 - Residentes en el Extranjero sin Establecimiento Permanente en México</option>
  <option value="611">611 - Ingresos por Dividendos (socios y accionistas)</option>
  <option value="612">612 - Personas Físicas con Actividades Empresariales y Profesionales</option>
  <option value="614">614 - Ingresos por intereses</option>
  <option value="615">615 - Régimen de los ingresos por obtención de premios</option>
  <option value="616">616 - Sin obligaciones fiscales</option>
  <option value="620">620 - Sociedades Cooperativas de Producción que optan por diferir sus ingresos</option>
  <option value="621">621 - Incorporación Fiscal</option>
  <option value="622">622 - Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras</option>
  <option value="623">623 - Opcional para Grupos de Sociedades</option>
  <option value="624">624 - Coordinados</option>
  <option value="625">625 - Régimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas</option>
  <option value="626">626 - Régimen Simplificado de Confianza</option>
</select>