<table class="simple-table">
    <thead>
        <tr>
            <th>Tipo de Venta</th>
            <th>Documentos</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Venta a contado</td>
            <td>12</td>
            <td>$5,213.10</td>
        </tr>
        <tr>
            <td>Recargas</td>
            <td>9</td>
            <td>$2,104.75</td>
        </tr>
        <tr>
            <td>Pago de Servicios</td>
            <td>10</td>
            <td>$3,997.31</td>
        </tr>
    </tbody>
</table>

<div class="summary">
    <h6>Tickets a Facturar (31)</h6>
    <h4>TOTAL: $11,315.16</h4>
</div>
<br>
<button class="btn btn-success" onclick="close_my_pop('settingFactureTicket')" type="button">Aceptar</button>